<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>사용자 조회 및 관리</title>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <style>
    h5 {
      margin-top: 50px;
      margin-left: 20px;
    }

    .fomrtag {
      margin-left: 50px;
      margin-top: 10px;
    }
  </style>

</head>

<body>
<main layout:fragment="main">
  <div id="section">
    <div class="content content-boxed">

      <div id="page-container">
        <h3 class="h3 fw-bold mb-2">사용자 조회</h3>
        <div class="bg-body-extra-light" style="padding: 10px;">
          <form th:action="@{/}" method="post" class="row">
            <div class="col-md-4 col-xl-4 fomrtag">
              <div class="mb-2">
                <select class="form-select" id="year" name="year">
                <option selected value="">입학/입사년도</option>
                <option value="2015" id = "103">2021년 2학기</option>
	            <option value="2016" id = "102">2020년 1학기</option>
	            <option value="2017" id = "101">2020년 2학기</option>
                <option value="2018" id = "108">2023년 2학기</option>
	            <option value="2019" id = "107">2023년 1학기</option>
	            <option value="2020" id = "106">2022년 2학기</option>
	            <option value="2022" id = "105">2022년 1학기</option>
	            <option value="2023" id = "104">2021년 1학기</option>
              </select>
              </div>
            </div>
            <div class="col-md-4 col-xl-4 fomrtag">
              <div class="mb-2">
                <input type="text" placeholder="학번/교번" class="form-control" id="no"
                  name="no">
              </div>
            </div>


            <div class="col-md-4 col-xl-4 fomrtag">
              <div class="mb-2">
                <select class="form-select" id="deptCode" name="deptCode">
                  <option value = "" selected>학과</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-xl-4 fomrtag">
              <div class="mb-2">
                <select class="form-select" id="statecode" name="statecode">
                  <option selected value = "">재적/재직상태</option>
                  <option value="201">재직</option>
                  <option value="202">휴직</option>
                  <option value="203">퇴직</option>
                  <option value="301">재학</option>
                  <option value="302">휴학</option>
                  <option value="303">퇴학</option>
                  <option value="304">졸업</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-xl-1 fomrtag">
              <div>
                <button type="submit" class="btn btn-secondary col-sm-12">조회</button>
              </div>
            </div>
          </form>

          <div class="m-4">
            <table class="table table-striped table-vcenter">
              <thead>
                <tr>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">학번</th>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">성명</th>
                  <th class="d-none d-sm-table-cell" style="width: 120px;">재적상태</th>
                  <th class="d-none d-sm-table-cell" style="width: 80px;">학년</th>
                  <th class="d-none d-sm-table-cell" style="width: 80px;">평점</th>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">학과</th>
                  <th class="d-none d-sm-table-cell" style="width: 150px;">입사/입학년도</th>
                </tr>
              </thead>
              <tbody>
                <tr th:scope="row" th:each="user, status : ${list}">
                      <th class="fw-semibold fs-sm" th:text="${user.NO}"></th>
                      <td class="fw-semibold fs-sm" th:text = "${user.NAME}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(user.STATECODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${user.SY}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${user.AVGSCORE}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(user.DEPTCODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${#dates.format(user.ENTERDATE, 'yyyy-MM-dd')}"></td>
                </tr>
              </tbody>

            </table>
            <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous" id = "prev">
                      <span aria-hidden="true">
                        <i class="fa fa-angle-double-left"></i>
                      </span>
                      <span class="visually-hidden">Previous</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" id = "pageingBtn" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" id = "pageingBtn" href="javascript:void(0)">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" id = "pageingBtn" href="javascript:void(0)">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" id = "pageingBtn" href="javascript:void(0)">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" id = "next">
                      <span aria-hidden="true">
                        <i class="fa fa-angle-double-right"></i>
                      </span>
                      <span class="visually-hidden">Next</span>
                    </a>
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <script>
    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');
    fetch('/tuna/courseCheck',{
  		method: "POST",
  		headers: {
            'header': header,
          	'X-Requested-With': 'XMLHttpRequest',
            "Content-Type": "application/json",
            'X-CSRF-Token': token	// header에 X-CSRF-Token부분에 토큰값이 들어가 정상적으로 POST값이 넘어가는 것을 볼 수 있다!
        },
  	}).then(result => result.json())
  	  .then(result =>{
  		  let deptcodes = document.querySelector('#deptCode')
  		  console.log(result)
  		  result.forEach(val =>{
  			let opt = document.createElement('option');
  			opt.setAttribute('value', val.DEPTCODE)
  			opt.innerText = val.CODENAME;
  			deptcodes.appendChild(opt)
  		  })
  	  }) 
    
    
    
document.addEventListener('DOMContentLoaded', function(){
		
		
		let nextBtn = document.querySelector("#next")
		let prevBtn = document.querySelector("#prev")
		let pageingBtn = document.querySelectorAll("#pageingBtn");
		nextBtn.addEventListener('click', function(){
			pageingBtn.forEach(btn =>{
				let a = btn.innerHTML
				btn.innerHTML = parseInt(a)+4;
			})
		})
		
		prevBtn.addEventListener('click', function(){
			pageingBtn.forEach(btn =>{
				let a = btn.innerHTML
				if (parseInt(a) > 4){
					btn.innerHTML = parseInt(a)-4;
				}
				
			})
		})
		
		pageingBtn.forEach(btn =>{
			btn.addEventListener('click',function(){
				let a = btn.innerHTML
				location.href = '/tuna/admin/adminUserSearch?pageNum='+parseInt(a)
			})
		})
		
		
	})
    
    </script>
    
    
</main>
</body>

</html>