<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>사용자 조회 및 관리</title>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/flatpickr/flatpickr.min.css}">
  
  <style>
   
    button:disabled,
	button[disabled]{
	  color: rgba(87, 87, 87, 0.49);
}
    
  </style>

</head>

<body>
<main layout:fragment="main">
  <div id="section">
  <div class="mt-3">
    <div class="content content-full">
        <h3 class="h3 fw-bold">사용자 조회</h3>
      <div class="block block-rounded mb-2">
        <div class="block-content p-5">
          <form th:action="@{/admin/admin/userSearch}" method="post" class="row" id = "checkFrm">
           <div class="row justify-content-center">
            <div class="col-xl-3 ">
              <div class="mb-2">
                <input type="text" class="js-flatpickr form-control"
                id="year" name="year" placeholder="입학/입사년도"
                data-mode="range" readonly="readonly">
                <input type="file" multiple="multiple" class="dz-hidden-input" 
                tabindex="-1" 
                style="visibility: hidden; position: absolute; top: 0px; left: 0px; 
                height: 0px; width: 0px;">
              </div>
            </div>
            <div class="col-xl-3 ">
              <div class="mb-2">
                <input type="number" placeholder="학번/교번" class="form-control" id="no"
                  name="no">
              </div>
            </div>
		
            <div class="col-xl-3 ">
              <div class="mb-2">
                <select class="form-select" id="deptCode" name="deptCode">
                    <option selected value="">학부(과)</option>
	                  <option value="801" id="801">기계공학과</option>
	                  <option value="805" id="805">항공우주공학과</option>
	                  <option value="810" id="810">생명공학과</option>
	                  <option value="806" id="806">바이오및뇌공학과</option>
	                  <option value="809" id="809">정보보안학과</option>
	                  <option value="803" id="803">컴퓨터공학과</option>
	                  <option value="808" id="808">무기재료공학과</option>
	                  <option value="802" id="802">전기전자공학과</option>
	                  <option value="804" id="804">화학공학과</option>
	                  <option value="807" id="807">정보통신학과</option>
                  </select>
              </div>
            </div>
           <div class="col-xl-2">
              <div class="mb-2">
                <select class="form-select" id="statecode" name="statecode">
                  <option selected value = "">재적/재직상태</option>
                  <option value="201" id = "201">재직</option>
                  <option value="202" id = "202">휴직</option>
                  <option value="203" id = "203">퇴직</option>
                  <option value="301" id = "301">재학</option>
                  <option value="302" id = "302">휴학</option>
                  <option value="303" id = "303">퇴학</option>
                  <option value="304" id = "304">졸업</option>
                </select>
              </div>
            </div>
            <div class="col-xl-1">
              <div class="mb-2">
                <button type="submit" class="btn btn-secondary col-12">조회</button>
              </div>
            </div>
		</div>
		
          </form>
          <div class="m-4" style="overflow-x:scroll; overflow-y: hidden;">
            <table class="table table-striped table-vcenter m-0" style="width:1280px;">
              <thead>
                <tr>
                  <th  style="width: 100px;">학번</th>
                  <th  style="width: 100px;">성명</th>
                  <th style="width: 120px;">재적상태</th>
                  <th  style="width: 80px;">학년</th>
                  <th  style="width: 80px;">평점</th>
                  <th  style="width: 80px;">학과</th>
                  <th  style="width: 80px;">입사/입학년도</th>
                </tr>
              </thead>
              <tbody>
                <tr th:scope="row" th:each="user, status : ${list}">
                      <th class="fw-semibold fs-sm" id = "no" th:text="${user.NO}"></th>
                      <td class="fw-semibold fs-sm"><a href="#" id = "userName" th:text = "${user.NAME}"></a></td>
                      <th:block th:if = "${not #strings.isEmpty(user.STATECODE)}">
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(user.STATECODE)}"></td>
                      </th:block>
                      <th:block th:unless = "${not #strings.isEmpty(user.STATECODE)}">
                      <td class="fw-semibold fs-sm"></td>
                      </th:block>
                      <td class="fw-semibold fs-sm" th:text = "${user.SY}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${user.AVGSCORE}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(user.DEPTCODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${#dates.format(user.ENTERDATE, 'yyyy-MM-dd')}"></td>
                </tr>
              </tbody>

            </table>
            </div>
            <div class = "mb-5">
            </div>
            <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <button class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous" id = "prev">
                      <span aria-hidden="true">
                        <i class="fa fa-angle-double-left"></i>
                      </span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">1</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">2</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">3</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">4</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">5</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">6</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">7</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">8</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" id = "pageingBtn" href="javascript:void(0)">9</button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" href="javascript:void(0)" aria-label="Next" id = "next">
                      <span aria-hidden="true">
                        <i class="fa fa-angle-double-right"></i>
                      </span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </li>
                </ul>
          
        </div>
      </div>
    </div>
    </div>
    </div>
     <script th:src="@{/resources/assets/js/plugins/flatpickr/flatpickr.min.js}"></script>

  <!-- Page JS Helpers (Flatpickr + BS Datepicker + BS Maxlength + Select2 + Masked Inputs + Ion Range Slider + BS Colorpicker plugins) -->
  <script>One.helpersOnLoad(['js-flatpickr']);</script>
   
    <script>
    
    let userName = document.querySelectorAll('#userName');
    let no = document.querySelectorAll('#no');
    userName.forEach( function (btn,idx){
    	btn.addEventListener('click', function(){
    		window.open("userInfo?no="+no[idx+1].innerHTML, "사용자상세조회", "width=850, height=1000, top=10, left=10");
    	})
    })
    
	
    
    </script>
       <th:block th:if = "${params != null && params != ''}">
<script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', function(){
		let params = /*[[${params}]]*/ 'default';
		
		console.log(params.pageSize)
		
		let nextBtn = document.querySelector("#next")
		let prevBtn = document.querySelector("#prev")
		let pageingBtn = document.querySelectorAll("#pageingBtn");
		nextBtn.addEventListener('click', function(){
			nextBtn.disabled = true;
			tagInsert(parseInt(params.pageNum)+1)
		})
		
		prevBtn.addEventListener('click', function(){
				if(parseInt(params.pageNum) == 1){
					prevBtn.disabled = true;
				}else{
					prevBtn.disabled = true;
					tagInsert(parseInt(params.pageNum)-1)	
				}
			})
				
		pageingBtn.forEach((btn,idx) =>{
			
			if(params.pageNum > (pageingBtn.length)/2){
				pageingBtn[Math.ceil((pageingBtn.length-1)/2)].innerHTML = params.pageNum
				if(Math.ceil((pageingBtn.length-1)/2) > idx)
					pageingBtn[idx].innerHTML = params.pageNum - Math.ceil((pageingBtn.length-1)/2) + idx
				else
					pageingBtn[idx].innerHTML = params.pageNum - (Math.ceil((pageingBtn.length-1)/2) - idx)
				
				if(parseInt(pageingBtn[idx].innerHTML) > parseInt(params.pageSize)){
					pageingBtn[idx].disabled = true;
				}
				if(parseInt(params.pageNum) == parseInt(params.pageSize)){
					nextBtn.disabled = true;
				}
				if(parseInt(params.pageNum) == 1){
					prevBtn.disabled = true;
				}
			}
			
			if(btn.innerHTML == params.pageNum){
				btn.parentElement.setAttribute("class", "page-item active")
			}
			btn.addEventListener('click',function(){
				
				let a = btn.innerHTML
				tagInsert(parseInt(a))
			})
		})
		
		function tagInsert(value){
			let checkFrm = document.querySelector('#checkFrm')
			let inputtag = document.createElement('input')
	    	inputtag.setAttribute("name", "pageNum")
	    	inputtag.setAttribute("type", "hidden")
	    	inputtag.setAttribute("value", value)
	    	
	    	checkFrm.appendChild(inputtag)
	    	checkFrm.submit()
	    	
		}
		 switch(params.statecode){
		 	case '201':
		 		$('#201').attr('selected', 'selected')
		 		break;
		 	case '202':
		 		$('#202').attr('selected', 'selected')
		 		break;
		 	case '203':
		 		$('#203').attr('selected', 'selected')
		 		break;
		 	case '301':
		 		$('#301').attr('selected', 'selected')
		 		break;
		 	case '302':
		 		$('#302').attr('selected', 'selected')
		 		break;
		 	case '303':
		 		$('#303').attr('selected', 'selected')
		 		break;
		 	case '304':
		 		$('#304').attr('selected', 'selected')
		 		break;
		 }
		 
		
		if(params.no != null){
			$('#no').val(params.no)
		}
		
		if(params.deptCode == '801'){
			$('#801').attr('selected', 'selected')
		}else if(params.deptCode == '802'){
			$('#802').attr('selected', 'selected')
		}else if(params.deptCode == '803'){
			$('#803').attr('selected', 'selected')
		}else if(params.deptCode == '804'){
			$('#804').attr('selected', 'selected')
		}else if(params.deptCode == '805'){
			$('#805').attr('selected', 'selected')
		}else if(params.deptCode == '806'){
			$('#806').attr('selected', 'selected')
		}else if(params.deptCode == '807'){
			$('#807').attr('selected', 'selected')
		}else if(params.deptCode == '808'){
			$('#808').attr('selected', 'selected')
		}else if(params.deptCode == '809'){
			$('#809').attr('selected', 'selected')
		}else if(params.deptCode == '810'){
			$('#810').attr('selected', 'selected')
		}
		
		if(params.year != null){
			$('#year').val(params.year)
		}
		
	})
</script>
</th:block>
    
</main>
</body>

</html>