<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>사용자 상세정보</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.min.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick-theme.css}">
    
  </head>
  <body>
    <div class="bg-body-light">
      <div class="content content-full content-boxed">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
          <div class="flex-grow-1">
            <h1 class="h1 fw-bold mb-2">
              사용자 상세정보
            </h1>
          </div>
        </div>
      </div>
    </div>
      <div id="section">
        <div class="content content-boxed">
          <div class="block block-rounded">
            <div id="page-container">

              <div class = "content content-boxed">
                
                  <div class="row">
                    <div class="col-md-6 col-xl-4 ">
                      <div class="mb-4">
                        <h4>기본 정보</h4>
                      </div>
                    </div>
                    <form th:action="@{/admin/AdminproUpdate}" method="post">
                    <div class="row">
                      <div class="col-lg-12 col-xl-12">
                      
                        <div class="mb-3">
                          <div class="input-group">
                            <span class="input-group-text">소속</span>
                            <input type="text" class="form-control" name = "deptcode" th:value = "${@codeList.getName(vo.deptcode)}" >
                            <span class="input-group-text">이름</span>
                            <input type="text" class="form-control" th:value = "${vo.name}" name = "name">
                            <span class="input-group-text">재적상태</span>
                            <input type="text" class="form-control" name = "stateCode" th:value = "${@codeList.getName(vo.stateCode)}" >
                          </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group">
                        <span class="input-group-text">교번</span>
                        <input type="text" class="form-control" name = "no" th:value = "${vo.no}">
                        <span class="input-group-text">입사일</span>
                        <input type="text" class="form-control" th:value = "${vo.hireDate}" readonly>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group">
                        <span class="input-group-text">전화번호</span>
                        <input type="text"  class="form-control"  th:value = "${vo.tel}" readonly>
                        <span class="input-group-text">이메일</span>
                        <th:block th:if = "${not #strings.isEmpty(vo.email)}">
                      	<input type="text" class="form-control"  th:value = "${vo.email}" readonly>
	                    </th:block>
	                    <th:block th:unless = "${not #strings.isEmpty(vo.email)}">
	                      	<input type="text" class="form-control" readonly>
	                    </th:block>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 ">
                  <div class="mb-4">
                    <h4>현 주소</h4>
                  </div>
                </div>
                
                <div class="row mb-2">
                  <div class="col-4">
                    <div class = "row">
                      <div class = "col-10">
                      <input type="text" class="form-control" id="postcode"  th:value = "${vo.zip}" readonly>
                    </div>
                    <div class = "col-2">
                      <button type="button" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                      </button>
                    </div>
                    </div>  
                  </div>
                  <div class="col-8">
                    <input type="text" id="address"  class="form-control" th:value = "${vo.addr}" readonly><br>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="m-2">
                  <a href="#" class="btn btn-secondary" onclick="javascript:window.close()">닫기</a>
              </div>
              <div class="m-2">
                <button type="submit" class="btn btn-secondary">수정하기</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
   
  </body>
</html>