<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{layouts/lecApplyLayout}">

<head>
  <meta charset="utf-8">
  <title>수강신청 유의사항</title>

  <style>
    .predfont {
      color: red;
      font-size: 16px;
      font-weight: bold;
    }
  </style>
</head>

<body>
<main layout:fragment="main">
  <div id="section">
    <div class="content content-boxed">
      <div class="bg-body-extra-light" style="padding: 10px;">

        <div id="page-container">
          <div class="m-4">
            <div align="center">
              <h3>수강신청 유의사항</h3>
              <p class = "predfont">수강과목을 계속 이수할 수 없다고 판단되어 수강과목을 철회하고자 할 때는 철회에 따른 유의사항을 반드시 확인하여 소정의 기간 내에 전산으로 수강철회를 신청할 것</p>
            </div>
            <p class = "predfont">
              유의사항
            </p>
            <ul>
              <li>수강과목을 철회했을 때에는 다른 과목을 추가로 신청 할 수 없음</li>
              <li>철회한 과목은 성적평가에서 제외되며, 학적부상에 "W"(Withdraw)로 기재됨</li>
              <li>수강과목 철회 후 총 신청학점은 최저 14학점 이상(졸업예정학기는 9학점)이어야 함
              </li>
              <li>접수기간 이후에는 쵤회가 불가능함(사전처리 요망)
              </li>
              <li>신청 이후, 철회불가 사유로 인해 반려되는 경우가 있으니 반드시 철회신청 결과를 조회하여 승인여부를 확인하여야 함.
              </li>
            </ul>
            <p class = "predfont">
              수강신청시 일반적 유의사항
            </p>
            <ul>
              <li>수강신청시 본인의 학과, 학년을 지정하면 본인이 신청 가능한 교과목이 조회됨. 타 학과 및 다른 학년에 개설된 교과목을 수강하고자 할 때에도 해당 학과, 학년을 지정하여
                조회한 후 수강 신청함
              </li>
              <li>수강신청을 하기 전에 수강신청 안내사항을 숙지한 후 수강 신청하고, 수강신청을 완료 후 반드시 수강신청확인서를 출력하여 본인의 수강신청 내용을 확인할 것 (관련 유의사항을
                준수하지 않아서 발생하는 모든 불이익은 학생 본인의 책임)
              </li>
              <li>강의계획서는 수강신청시 해당교과목을 선택하면 조회가 가능함</li>
              <li>수강신청시 기존에 수강하였던 교과목을 수강신청하면 재수강안내가 나오며 기존 이수 교과목을 확인하여 중복수강으로 인한 불이익을 받는 일이 없도록 유의할 것 (과목코드가
                다르거나 타 학과에 개설된 과목이라도 교과목명이 같으면 동일과목임)
              </li>
              <li>등록한 학기에 이유 없이 수강신청을 포기하거나 학점을 취득하지 않아도 당해 학기 등록으로 간주되니 불이익을 받는 일이 없도록 유의하기 바람(등록금 환불 불가)</li>
              <li>선착순 수강신청 실시로 원하는 강좌를 수강할 수 없게 될 수도 있으므로 반드시 정해진 기한내에 수강신청을 완료해야 하며, Pass학점 과목도 반드시 수강신청 해야 함
              </li>
              <li>아래의 사항은 학점으로 인정되지 않으니 유의할 것
                <ol type="1">
                  <li>수강신청 하지 않고 임의로 수강한 교과목</li>
                  <li>강의시간이 중복되거나 수강신청 기준학점을 초과 신청한 교과목</li>
                  <li>이미 취득한 교과목과 동일한 교과목을 수강한 경우</li>
                  <li>수업일수의 3/4이상 출석하지 않은 교과목(F처리)</li>
                  <li>수강신청변경이 완료된 후, 수강신청인원이 교양 10명, 전공 7명 미만인 경우 폐강을 원칙으로 하며,
                    수강신청한 과목이 폐강된 경우 교무과에서 다시 수강신청을 해야 함 (변경기간 추후 공고)
                  </li>
                </ol>

              </li>
              <li>한 학년 상위 전공교과목 수강신청 가능 하며 타학과 지정 교양필수 교과목은 수강할 수 없음</li>
              <li>수강신청 및 정정 기간 이후에는 수강신청 변경이 불가능함</li>
              <li>여러 반으로 분반되어 있는 강좌를 수강신청을 할 때는 학수번호, 강의시간, 강의실, 교강사명을 확인하여 본인이 수강신청하지 않은 다른 반에서 수업을 받는 일이 없도록 함
              </li>
              <li>3,4학년은 성적증명서와 소속학과 교육과정을 참조하여 졸업요건을 갖출 수 있도록 반드시 미이수한 교과목과 이수학점을 확인하고 수강신청 함</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>

</html>