
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{layouts/lecApplyLayout}">

<head>
  <meta charset="utf-8">

  <title>수강신청 강의목록</title>

  <style>
    tr {
      text-align: center;
    }

    td {
      text-align: center;
    }
  </style>
</head>

<body>
<main layout:fragment="main">  
  <div id="section">

    <div id="page-container">
      <div class="content content-boxed ">
        <h3 class="h3 fw-bold mb-2">수강신청 강의목록</h3>
        <div class="bg-body-extra-light" style="padding: 10px;">
          <div class="mb-4">
            <table class="table table-striped table-vcenter">
              <thead>
                <tr>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">이수구분</th>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">과목코드</th>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">과목명</th>
                  <th class="d-none d-sm-table-cell" style="width: 100px;">교수명</th>
                  <th class="d-none d-sm-table-cell" style="width: 110px;">강의실</th>
                  <th class="d-none d-sm-table-cell" style="width: 120px;">강의시간</th>
                  <th class="d-none d-sm-table-cell" style="width: 50px;">학점</th>
                  <th class="d-none d-sm-table-cell" style="width: 50px;">인원수</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <th class="fw-semibold fs-sm">전공/필수</th>
                  <td class="fw-semibold fs-sm">014-124357</td>
                  <td class="fw-semibold fs-sm">컴퓨터 그래픽스</td>
                  <td class="fw-semibold fs-sm"><a href="#">최규완</a></td>
                  <td class="fw-semibold fs-sm">참치관 103호</td>
                  <td class="fw-semibold fs-sm">13:00~14:00 월/수</td>
                  <td class="fw-semibold fs-sm">3</td>
                  <td class="fw-semibold fs-sm">12/45</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
  <script src="assets/js/oneui.app.min.js"></script>
</body>

</html>