<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>출석현황</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">출석현황</h3>
					</div>
					<div class="block block-rounded">
						<div class="block-content block-content-full">
							<div class="row">
								<div class="col-sm-12">
									<div class="row col-6 mb-2">
										<div class="col-3 col-xs-3 col-lg-3 col-md-3 col-sm-3">
											<p
												class="p-3 block block-rounded m-0 bg-success-light text-success text-center">출석</p>
										</div>
										<div class="col-3 col-xs-3 col-lg-3 col-md-3 col-sm-3">
											<p
												class="p-3 block block-rounded m-0 bg-warning-light text-warning text-center">지각</p>
										</div>
										<div class="col-3 col-xs-3 col-lg-3 col-md-3 col-sm-3">
											<p
												class="p-3 block block-rounded m-0 bg-danger-light text-danger text-center">결석</p>
										</div>
										<div class="col"></div>
									</div>
									<div class="row">
										<div class="col-2 col-xs-2 col-lg-2 col-md-2 col-sm-2">
											<div class="row">
												<div class="block block-rounded"
													th:each="num : ${#numbers.sequence(1, 16)}">
													<p
														class="p-3 block block-rounded border bg-white m-0 text-center fw-bold"
														th:text="${num}+주차"></p>
												</div>
											</div>
										</div>
										<th:block th:if="${#lists.isEmpty(refin)}">
										<div class="col-5">
											<div class="row">
												<div class="col-5 col-xs-5 col-lg-5 col-md-5 col-sm-5"
													th:each="mj : ${major}">
													<div class="block block-rounded"
														th:if="${#strings.isEmpty(mj.STATECODE)} and ${#lists.isEmpty(refin)}">
														<p
															class="p-3 block block-rounded bg-light border m-0 text-center fw-bold"
															th:text="${mj.CLASSDATE}"></p>
													</div>
													<div class="block block-rounded"
														th:if="${mj.STATECODE} == '1401'">
														<p
															class="p-3 block block-rounded bg-success-light text-success border m-0 text-center fw-bold"
															th:text="${mj.CLASSDATE}"></p>
													</div>
													<div class="block block-rounded"
														th:if="${mj.STATECODE} == '1402'">
														<p
															class="p-3 block block-rounded bg-danger-light text-danger text-success border m-0 text-center fw-bold"
															th:text="${mj.CLASSDATE}"></p>
													</div>
													<div class="block block-rounded"
														th:if="${mj.STATECODE} == '1403'">
														<p
															class="p-3 block block-rounded bg-warning-light text-warning text-success border m-0 text-center fw-bold"
															th:text="${mj.CLASSDATE}"></p>
													</div>
												</div>
											</div>
										</div>
										</th:block>
										<th:block th:if="${#lists.isEmpty(major)}">
										<div class="col-5">
											<div class="row">
												<div class="col-7 col-xs-7 col-lg-7 col-md-7 col-sm-7"
													th:each="rf : ${refin}">
													<div class="block block-rounded"
														th:if="${#strings.isEmpty(rf.STATECODE)} and ${#lists.isEmpty(major)}">
														<p
															class="p-3 block block-rounded bg-light border m-0 text-center fw-bold"
															th:text="${rf.CLASSDATE}"></p>
													</div>
													<div class="block block-rounded"
														th:if="${rf.STATECODE} == '1401'">
														<p
															class="p-3 block block-rounded bg-success-light text-success border m-0 text-center fw-bold"
															th:text="${rf.CLASSDATE}"></p>
													</div>
													<div class="block block-rounded"
														th:if="${rf.STATECODE} == '1402'">
														<p
															class="p-3 block block-rounded bg-danger-light text-danger text-success border m-0 text-center fw-bold"
															th:text="${rf.CLASSDATE}"></p>
													</div>
													<div class="block block-rounded"
														th:if="${rf.STATECODE} == '1403'">
														<p
															class="p-3 block block-rounded bg-warning-light text-warning text-success border m-0 text-center fw-bold"
															th:text="${rf.CLASSDATE}"></p>
													</div>
												</div>
											</div>
										</div>
										</th:block>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>
</html>
