<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>자료실</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">

		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<h4 class="h3 fw-bold mb-2">강의자료실</h4>
					</div>
					<div class="block">
						<div class="row">
							<div class="col-12">
								<div class="row block-content">
									<h3 class="h4 col-7 text-center">4주차 강의 자료</h3>
									<div class="container col-3">
										<button type="button"
											class="btn js-bs-popover-enabled my-popover"
											data-bs-html="true" data-bs-toggle="popover"
											data-bs-animation="true" data-bs-placement="bottom"
											data-bs-content="<div class='text-center'><a href='#'>java.pdf</a></div>">
											<i class="fa fa-2x fa-square-caret-down"></i>
										</button>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="block">
						<div class="row">
							<div class="col-12">
								<div class="row block-content">
									<h3 class="h4 col-7 text-center">3주차 강의 자료</h3>
									<div class="container col-3">
										<button type="button"
											class="btn js-bs-popover-enabled my-popover"
											data-bs-toggle="popover" data-bs-animation="true"
											data-bs-placement="bottom"
											data-bs-content="This is example content. You can put a description or more info here.">
											<i class="fa fa-2x fa-square-caret-down"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block">
						<div class="row">
							<div class="col-12">
								<div class="row block-content">
									<h3 class="h4 col-7 text-center">2주차 강의 자료</h3>
									<div class="container col-3">
										<button type="button"
											class="btn js-bs-popover-enabled my-popover"
											data-bs-toggle="popover" data-bs-animation="true"
											data-bs-placement="bottom"
											data-bs-content="This is example content. You can put a description or more info here.">
											<i class="fa fa-2x fa-square-caret-down"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block">
						<div class="row">
							<div class="col-12">
								<div class="row block-content">
									<h3 class="h4 col-7 text-center">1주차 강의 자료</h3>
									<div class="container col-3">
										<button type="button"
											class="btn js-bs-popover-enabled my-popover"
											data-bs-toggle="popover" data-bs-animation="true"
											data-bs-placement="bottom"
											data-bs-content="This is example content. You can put a description or more info here.">
											<i class="fa fa-2x fa-square-caret-down"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function() {
					$('.my-popover').popover({
						container : '.container'
					});
				});
			</script>
			<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
		</main>
	</div>

</body>
</html>
