<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>대시보드</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row d-flex justify-content-sm-between">
					<div class="col-8">
						<h3 class="h3 fw-bold mb-2">강의목록</h3>
					</div>
					<div class="col-1"></div>
					<div class="col-3">
						<h3 class="h3 fw-bold mb-2">과제</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<div class="row">
							<div class="col-6" th:each="l : ${list}">
								<div class="block block-rounded">
									<div
										class="block-header block-header-default text-center bg-dark">
										<h3 class="block-title text-white">
										<a class="text-white" th:href="@{/stud/eclass/lectureHome}" th:text="${l.NAME}+'('+${l.SBJNO}+')'"></a>
										</h3>
									</div>
									<div class="col-12">
									<div class="block-content text-center bg-white">
									<div class="col-7">
											<p class="mb-0 text-start"
												style="font-size: 10pt"
												th:text="'강의실: '+${@codeList.getName(l.ROOMCODE)}"></p>
											<p class="mb-0 text-start"
												style="font-size: 10pt" th:text="'강의요일: '+${l.DAYCODE}"></p>
											<p class="mb-0 text-start"
												style="font-size: 10pt" th:text="'강의시간: '+${l.TIMECODE}"></p>
									</div>
										<div class="d-flex justify-content-center">
											<div class="d-flex justify-content-center"
												style="width: 50px">
												<a class="" th:href="@{/stud/eclass/lectureNotice}"
													style="color: black"><i class="far fa-2x fa-bell m-2"></i>
													<p style="font-size: 8pt">공지</p> </a>
											</div>
											<div class="d-flex justify-content-center"
												style="width: 50px">
												<a class="" th:href="@{/stud/eclass/qnaList}"
													style="color: black"><i
													class="far fa-2x fa-circle-question m-2"></i>
													<p style="font-size: 8pt">QnA</p> </a>
											</div>
											<div class="d-flex justify-content-center"
												style="width: 50px">
												<a class="" th:href="@{/stud/eclass/taskList}"
													style="color: black"><i
													class="fa fa-2x fa-book-open m-2"></i>
													<p style="font-size: 8pt">과제</p> </a>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-1"></div>
					<div class="col-3">
						<div class="block block-rounded" th:each="t : ${tt}">
							<div
								class="block-header block-header-default text-center bg-dark">
								<h3 class="block-title" style="color: white" th:text="${t.NAME}"></h3>
							</div>
							<div class="block-content text-lg-center bg-white">
								<a th:href="@{/stud/eclass/taskSelect}" style="color: black"
									th:text="${t.TITLE}"></a>
								<p class="text-danger fw-bold" th:text="'~'+${t.LIMITDATE}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-12"></div>
			<!-- col-12 end -->
			<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
		</main>
	</div>

</body>
</html>
