<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>강의공지사항</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
		<div class="content">
			<div class="row">
			<div class="col-12">
				<h3 class="h3 fw-bold mb-2">공지사항</h3>
				</div>
				<div class="block block-rounded">
				<div class="block-content block-content-full">
					<div id="DataTables_Table_0_wrapper"
						class="dataTables_wrapper dt-bootstrap5 no-footer">
						<div class="row">
							<div class="col-sm-12">
								<table
									class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
									id="DataTables_Table_0"
									aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr>
											<th class="text-center" style="width: 80px;" tabindex="0"
												rowspan="1">번호</th>
											<th class="text-center" tabindex="0" colspan="7">제목</th>
											<th class="text-center" rowspan="1" colspan="3">작성일자</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="n : ${notice}">
											<th class="text-center" th:text="${n.NO}"></th>
											<th class="text-center" colspan="7"><a th:href="@{/stud/eclass/lectureNoticeSelect(no = ${n.NO}, sbjNo = ${n.SBJNO})}" th:text="${n.TITLE}" style="color:black"></a></th>
											<th class="text-center" colspan="3" th:text="${n.ENROLLDATE}"></th>
										</tr>
										<tr th:if=${#lists.isEmpty(notice)}>
										<th class="fw-bold text-center" colspan="10" rowspan="5">공지가 등록되지 않았습니다.</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>

</body>
</html>
