<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>강의홈</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<div class="block block-rounded">
							<div class="block-header block-header-default bg-dark">
								<a class="h3 text-white fw-bold text-white mb-0"
									th:href="@{/eclass/student/lectureNotice}"> 공지사항 </a>
							</div>
							<div class="col-12">
								<div class="block-content bg-white">
									<div class="col-7" th:each="stn : ${stn}">
										<p class="fw-bold"
											th:text="${stn.TITLE}+'  /  '+${stn.ENROLLDATE}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="col-12">
							<div class="block block-rounded">
								<div class="block-header block-header-default bg-dark">
									<a class="h3 text-white fw-bold text-white mb-0"
										th:href="@{/eclass/student/taskList}"> 과제 </a>
								</div>
								<div class="col-12">
									<div class="block-content bg-white">
										<div class="" th:each="stt : ${stt}">
											<p class="fw-bold"
												th:text="${stt.TITLE}+'  /  '+${stt.LIMITDATE}"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="col-12">
							<div class="block block-rounded">
								<div class="block-header block-header-default bg-dark">
									<a class="h3 text-white fw-bold text-white mb-0"
										th:href="@{/eclass/student/qnaList}"> QnA </a>
								</div>
								<div class="col-12">
									<div class="block-content bg-white">
										<div class="" th:each="stq : ${stq}">
											<p class="fw-bold" th:text="${stq.TITLE}"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
		</main>
	</div>
</body>
</html>
