<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassLayout}">
  <head>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>강의홈</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
  </head>
  <body>
    <div
      id="page-container"
      class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow"
    >
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header"></div>
        <div class="content-side"></div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header"></div>
        <div class="js-sidebar-scroll"></div>
      </nav>
      <!-- SIDE BAR END -->

      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

      <!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->
        <div class="content">
          <div class="row">
            <div class="col-12">
              <h3 class="h3 fw-bold mb-2">공지사항</h3>
              <div class="block block-rounded">
                <div class="block-content">
                  <p class="fw-bold">조 추첨 결과 안내</p>
                  <p class="fw-bold">기말고사 안내</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3 class="h3 fw-bold mb-2">금주의 강의계획</h3>
              <div class="block block-rounded">
                <div class="block-content">
                  <p class="fw-bold">00주차 강의 계획 : 웹프로그래밍 언어의 이해</p><br>
                  <p class="fw-bold">강의 방법 : 실습, 유인물</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
            <div class="col-12">
              <h3 class="h3 fw-bold mb-2">과제</h3>
              <div class="block block-rounded">
                <div class="block-content">
                  <p class="fw-bold">JAVA실습 2000/00/00</p><br>
                  <p class="fw-bold">부트스트랩 실습 2000/00/00</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h3 class="h3 fw-bold mb-2">강의자료</h3>
              <div class="block block-rounded">
                <div class="block-content">
                  <p class="fw-bold">00주차 강의자료</p><br>
                  <p class="fw-bold">시험관련 자료</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-1"></div>
            <div class="col-5">
              <h3 class="h3 fw-bold mb-2">QnA</h3>
              <div class="block block-rounded">
                <div class="block-content">
                  <p class="fw-bold">성적 산출 질문</p><br>
                  <p class="fw-bold">비공개 질문입니다.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-xxl-12"></div>
          <!-- col-12 end -->
        </div>
        <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
      </main>

      <!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>

    <script src="../assets/js/oneui.app.min.js"></script>
  </body>
</html>
