<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassLayout}">
  <head>
    <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>질의응답상세</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
  </head>
  <body>
    <div
      id="page-container"
      class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow"
    >
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header"></div>
        <div class="content-side"></div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header"></div>
        <div class="js-sidebar-scroll"></div>
      </nav>
      <!-- SIDE BAR END -->

      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

      <!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->
        <div class="content">
          <div class="row">
            <div class="col-12">
              <h3 class="h3 fw-bold mb-2">Q&A</h3>
            </div>
            <div class="block block-rounded">
              <div class="block-content block-content-full">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                          <tr>                          
                            <th class="text-center" tabindex="0" colspan="3">제목</th>
                            <th colspan="7">성적 산출 문의</th>
                          </tr>
                          <tr>                          
                            <th class="text-center" tabindex="0" colspan="3">작성자</th>
                            <th colspan="7">김철수</th>
                          </tr>
                          <tr>                          
                            <th class="text-center" tabindex="0" colspan="3">작성일</th>
                            <th colspan="7">2000-00-00</th>
                          </tr>
                          <tr>                          
                            <th class="text-center" tabindex="0" colspan="3">내용</th>
                            <th colspan="7">성적이 C+이던데 왜 이렇게 나왔는지 궁금해서 문의드립니다. 성적이 산출된 상세내역을 알려주세요. 이거 때문에 성적장학금 못 받게 생겼습니다.</th>
                          </tr>
                        </thead>
                       </table>
                      <table class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <tbody>
                          <tr>
                            <th class="text-center" tabindex="0" colspan="3">
                              답변
                            </th>
                            <th colspan="7">
                              학생 시험을 너무 못 쳤네요 ㅋㅋ~
                            </th>
                          </tr>
                    </tbody>
                      </table>
                      <div class="d-flex justify-content-center">
                        <button type="button" onclick="location.href='질의응답.html'" class="btn btn-dark m-2">목록으로</button>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
          <div class="col-xxl-12"></div>
          <!-- col-12 end -->
        </div>
        <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
      </main>

      <!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>

    <script src="../assets/js/oneui.app.min.js"></script>

    <script src="../assets/js/plugins/simplemde/simplemde.min.js"></script>

    <!-- Page JS Helpers (CKEditor + SimpleMDE plugins) -->
    <script>One.helpersOnLoad(['js-simplemde']);</script>
  </body>
</html>
