<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>질의응답작성</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/simplemde/simplemde.min.css}">
<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{/resources/assets/js/dialog.js}"></script>
	<style>
.ck-editor__editable {
    min-height: 380px;
}
	</style>
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">Q&A</h3>
					</div>
				</div>
				<div class="block block-rounded">
					<div class="block-content block-content-full">
						<div id="DataTables_Table_0_wrapper"
							class="dataTables_wrapper dt-bootstrap5 no-footer">
							<div class="row">
								<div class="col-sm-12">
									<form th:action="@{insertOneQna(${_csrf.parameterName}=${_csrf.token})}" method="POST" id ="frm">
									<input type="hidden" th:value="${param.sbjNo}" name="sbjNo" id="sbjNo">
									<table
										class="table table-vcenter js-dataTable-full dataTable no-footer"
										id="DataTables_Table_0"
										aria-describedby="DataTables_Table_0_info">
										<thead>
											<tr>
												<th class="text-center">제목</th>
												<th class="text-center"><input class="form-control" id="title" name="title"></th>
												<th class="text-center">
												<input type="checkbox" id="visibleCheck" name="visibleCheck" th:value="1"><label for="visibleCheck">비공개</label>
												<input type="hidden" id="visibleValue" name="visibleCheck" th:value="0">
												</th>
											</tr>
										</thead>
									</table>
										<textarea id="ckfinder" name="content"></textarea>
									<div class="d-flex justify-content-center">
										<button type="button" id="btn" onclick="javascript:insertQna();" class="btn btn-primary m-2">등록</button>
										<button 
											th:onclick="|location.href='@{/stud/eclass/qnaList}?sbjNo=${sbjNo}'|"
											type="button" class="btn btn-dark  m-2">취소</button>
<!-- 											th:onclick="|location.href='@{/stud/eclass/qnaSelect}'|" -->
									</div>
									</form>
								</div>
							</div>
							<div class="col-xxl-12"></div>
							<!-- col-12 end -->
						</div>

					</div>
				</div>
			</div>
			<script>
				if(document.getElementById("visibleCheck").checked){
					document.getElementById("visibleValue").disabled = true;}
			</script>
				<script th:inline="javascript">
				function insertQna(){
					Dialogs.dialog('warnConfirm', '질문을 등록하시겠습니까? 수정 및 삭제가 불가능합니다.', '등록하시려면 확인을 눌러주시기 바랍니다.', insertOneQna);
				}
				
				function insertOneQna(){
					frm.submit();
				}
				
				</script>
			
			<script
				th:src="@{/resources/assets/js/plugins/simplemde/simplemde.min.js}"></script>
			<!-- Page JS Helpers (CKEditor + SimpleMDE plugins) -->
			<script th:src="@{/resources/assets/js/plugins/ckeditor5-tuna/build/ckeditor.js}"></script>
			<script>
				One.helpersOnLoad([ 'js-simplemde' ]);
			</script>
			<script>
			let header = document.querySelector('meta[name="_csrf_header"]').content;
			let token = document.querySelector('meta[name="_csrf"]').content;

			document.addEventListener('DOMContentLoaded', function () {
				ckfinder();

			})
			</script>
			<script th:src="@{/resources/assets/js/editor.js}"></script>
		</main>
	</div>
</body>
</html>
