<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>질의응답</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">

			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">Q&A</h3>
					</div>
				</div>
				<div class="block block-rounded">
					<div class="block-content block-content-full">
						<div id="DataTables_Table_0_wrapper"
							class="dataTables_wrapper dt-bootstrap5 no-footer">
							<div class="row">
								<div class="col-sm-12">
									<table
										class="table table-bordered  table-vcenter js-dataTable-full dataTable no-footer"
										id="DataTables_Table_0"
										aria-describedby="DataTables_Table_0_info">
										<thead>
											<tr>
												<th class="text-center" style="width: 80px;" tabindex="0"
													rowspan="1">번호</th>
												<th class="text-center" tabindex="0" colspan="7">제목</th>
												<th class="text-center" tabindex="0" colspan="2">작성자</th>
												<th class="text-center" rowspan="1" colspan="2">작성일자</th>
												<th class="text-center" rowspan="1" colspan="2">답변여부</th>
											</tr>
										</thead>
										<tbody th:each="q, i : ${qna}" >
										<tr th:if="${#strings.isEmpty(qna)}">
										<td colspan="14">질문이 등록되지 않았습니다.</td>
										</tr>
											<tr th:if="${q.VISIBLE} == 0">
												<td class="text-center" th:text="${i.index+1}"></td>
												<td class="text-center" colspan="7" th:onclick="|location.href='@{/eclass/student/qnaSelect}?no=${q.NO}&sbjNo=${q.SBJNO}'|" th:text="${q.TITLE}"></td>
												<td class="text-center" colspan="2" th:text="${q.NAME}"></td>
												<td class="text-center" colspan="2" th:text="${q.ENROLLDATE}"></td>
												<td class="text-center text-danger fw-bold" colspan="2" th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2" th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
											<tr th:each="q, i : ${qna}" th:if="${q.VISIBLE} == 1">
											<td class="text-center fw-bold" colspan="14">비공개 질문입니다.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<button type="button"
									th:onclick="|location.href='@{/eclass/student/qnaInsert}?sbjNo=${sbjNo}'|"
									class="btn btn-primary m-2">등록</button>
							</div>
							<div class="row">
								<div class="col-sm-12 com-md-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="DataTables_Table_0_paginate">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-center">
												<li class="page-item disabled"><a class="page-link"
													href="javascript:void(0)" aria-label="Previous"> <span
														aria-hidden="true"> <i class="fa fa-angle-left"></i>
													</span> <span class="visually-hidden">Previous</span>
												</a></li>
												<li class="page-item"
													th:each="num : ${#numbers.sequence(1, pgcnt)}">
													<a
													class="page-link" th:href="@{/eclass/student/qnaList(pageNum=${num})}"
													th:text="${num}"></a></li>
												<li class="page-item"><a class="page-link"
													href="javascript:void(0)" aria-label="Next"> <span
														aria-hidden="true"> <i class="fa fa-angle-right"></i>
													</span> <span class="visually-hidden">Next</span>
												</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-12"></div>
			<!-- col-12 end -->
			<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>

		</main>
	</div>
</body>
</html>
