<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>질의응답</title>
<link rel="stylesheet"
	th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
<script
	th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{/resources/assets/js/dialog.js}"></script>
<style type="text/css">
   
    button:disabled,
	button[disabled]{
	  color: rgba(87, 87, 87, 0.49);
}
</style>
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">

			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">Q&A</h3>
					</div>
				</div>
				<div class="block block-rounded">
					<div class="block-content block-content-full">
						<div id="DataTables_Table_0_wrapper"
							class="dataTables_wrapper dt-bootstrap5 no-footer">
							<div class="row">
								<div class="col-sm-12" style="height:370px;">
									<table
										class="table table-bordered  table-vcenter js-dataTable-full dataTable no-footer"
										id="DataTables_Table_0"
										aria-describedby="DataTables_Table_0_info">
										<thead>
											<tr>
												<td class="text-center fw-bold" style="width: 80px;" tabindex="0"
													rowspan="1">번호</td>
												<td class="text-center fw-bold" tabindex="0" colspan="7">제목</td>
												<td class="text-center fw-bold" tabindex="0" colspan="2">작성자</td>
												<td class="text-center fw-bold" rowspan="1" colspan="2">작성일자</td>
												<td class="text-center fw-bold" rowspan="1" colspan="2">답변여부</td>
											</tr>
										</thead>
										<tbody th:each="q : ${qna}">
											<tr
												th:if="${q.VISIBLE} == 0 and ${not #strings.isEmpty(qna)}">
												<td class="text-center" colspan="1" th:text="${q.ROWNUM}"></td>
												<td class="text-center" colspan="7" style="width:200px"><a
													th:href="@{/stud/eclass/qnaSelect(no=${q.NO},sbjNo=${q.SBJNO})}"
													style="color: black"> [[${q.TITLE}]] </a></td>
												<td class="text-center" colspan="2" th:text="${q.NAME}"></td>
												<td class="text-center" colspan="2"
													th:text="${q.ENROLLDATE}"></td>
												<td class="text-center text-danger fw-bold" colspan="2"
													th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2"
													th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
											<tr
												th:if="${q.VISIBLE} == 1 and ${#authentication.principal.username} != ${q.STNO}">
												<td class="text-center" colspan="1" th:text="${q.ROWNUM}"></td>
												<td class="text-center" colspan="11">비공개 질문입니다.<i class="fa fa-2x fa-lock ms-2" style="font-size:10px; line-height:10px;"></i></td>
												<td class="text-center text-danger fw-bold" colspan="2"
													th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2"
													th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
											<tr
												th:if="${q.VISIBLE} == 1 and ${#authentication.principal.username} == ${q.STNO}">
												<td class="text-center" colspan="1" th:text="${q.ROWNUM}"></td>
												<td class="text-center" colspan="7"><a
													th:href="@{/stud/eclass/qnaSelect(no=${q.NO},sbjNo=${q.SBJNO})}"
													style="color: black; width:200px"> [[${q.TITLE}]]<i class="fa fa-2x fa-lock ms-2" style="font-size:10px; line-height:10px;"></i></a></td>
												<td class="text-center" colspan="2" th:text="${q.NAME}"></td>
												<td class="text-center" colspan="2"
													th:text="${q.ENROLLDATE}"></td>
												<td class="text-center text-danger fw-bold" colspan="2"
													th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2"
													th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
										</tbody>
											<tr th:if="${#lists.isEmpty(qna)}">
												<td class="text-center" colspan="14">질문이 등록되지 않았습니다.</td>
											</tr>
									</table>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<button type="button"
									th:onclick="|location.href='@{/stud/eclass/qnaInsert}?sbjNo=${sbjNo}'|"
									class="btn btn-primary m-2">등록</button>
							</div>
							<div class="row">
								<div class="col-sm-12 com-md-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="DataTables_Table_0_paginate">
										<nav aria-label="Page navigation">
											<form th:action=@{/stud/eclass/qnaList} id="pageIn">
												<input type="hidden">
												<ul class="pagination justify-content-center">
													<li class="page-item"><button class="page-link"
														href="javascript:void(0)" tabindex="-1"
														aria-label="Previous" id="prev"> <span
															aria-hidden="true"> <i
																class="fa fa-angle-double-left"></i>
														</span> <span class="visually-hidden">Previous</span>
													</button></li>
													<li class="page-item"><button class="page-link"
														id="pageingBtn">1</button></li>
													<li class="page-item"><button class="page-link"
														id="pageingBtn">2</button></li>
													<li class="page-item"><button class="page-link"
														id="pageingBtn">3</button></li>
													<li class="page-item"><button class="page-link"
														id="pageingBtn">4</button></li>
													<li class="page-item"><button class="page-link"
														id="pageingBtn">5</button></li>
													<li class="page-item"><button class="page-link"
														href="javascript:void(0)" aria-label="Next" id="next">
															<span aria-hidden="true"> <i
																class="fa fa-angle-double-right"></i>
														</span> <span class="visually-hidden">Next</span>
													</button></li>
												</ul>
											</form>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:if="${qna != null && qna != ''}">
<script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', function(){
		let map = /*[[${map}]]*/ 'default';
		
		let qna = /*[[${qna}]]*/ 'default';
		console.log(qna)
		console.log(map)
		
		let nextBtn = document.querySelector("#next")
		let prevBtn = document.querySelector("#prev")
		let pageingBtn = document.querySelectorAll("#pageingBtn");
		nextBtn.addEventListener('click', function(){
			tagInsert(parseInt(map.pageNum)+1)
		})
		
		prevBtn.addEventListener('click', function(){
				if(parseInt(map.pageNum) == 1){
					prevBtn.disabled = true;
				}else{
					tagInsert(parseInt(map.pageNum)-1)	
				}
			})
				
		pageingBtn.forEach((btn,idx) =>{
			
			if(map.pageNum > (pageingBtn.length)/2){
				pageingBtn[Math.ceil((pageingBtn.length-1)/2)].innerHTML = map.pageNum
				if(Math.ceil((pageingBtn.length-1)/2) > idx)
					pageingBtn[idx].innerHTML = map.pageNum - Math.ceil((pageingBtn.length-1)/2) + idx
				else
					pageingBtn[idx].innerHTML = map.pageNum - (Math.ceil((pageingBtn.length-1)/2) - idx)
				
				if(parseInt(pageingBtn[idx].innerHTML) > parseInt(map.listSize)){
					pageingBtn[idx].disabled = true;
				}
				if(parseInt(map.pageNum) == parseInt(map.listSize)){
					nextBtn.disabled = true;
				}
				if(parseInt(map.pageNum) == 1){
					prevBtn.disabled = true;
				}
			}
			
			if(btn.innerHTML == map.pageNum){
				btn.parentElement.setAttribute("class", "page-item active")
			}
			btn.addEventListener('click',function(){
				
				let a = btn.innerHTML
				tagInsert(parseInt(a))
			})
		})
		
		function tagInsert(value){
			let checkFrm = document.querySelector('#pageIn')
			let inputtag = document.createElement('input')
	    	let sbjnotag = document.createElement('input')
			inputtag.setAttribute("name", "pageNum")
	    	inputtag.setAttribute("type", "hidden")
	    	inputtag.setAttribute("value", value)
	    	
	    	
	    	sbjnotag.setAttribute("name", "sbjNo")
	    	sbjnotag.setAttribute("type", "hidden")
	    	sbjnotag.setAttribute("value", getParam("sbjNo"))
	    	
	    	
	    	checkFrm.appendChild(sbjnotag)
	    	checkFrm.appendChild(inputtag)
	    	checkFrm.submit()
	    	
		}
		
		function getParam(name)
        {
            var curr_url = location.search.substr(location.search.indexOf("?") + 1);
            var svalue = "";
            curr_url = curr_url.split("&");
            for (var i = 0; i < curr_url.length; i++)
            {
                temp = curr_url[i].split("=");
                if ([temp[0]] == name) { svalue = temp[1]; }
            }
            return svalue;
        }
		
	})
</script>
			</th:block>
			<th:block th:if="${(success != null && success != '')}">
				<script th:inline="javascript">
					let success = /*[[${success}]]*/ 'default';
					if (success) {
						Dialogs.dialog('success', '완료', success);
					}
				</script>
			</th:block>

		</main>
	</div>
</body>
</html>
