<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>질의응답</title>
<link rel="stylesheet"
	th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
<script
	th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{/resources/assets/js/dialog.js}"></script>
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">

			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">Q&A</h3>
					</div>
				</div>
				<div class="block block-rounded">
					<div class="block-content block-content-full">
						<div id="DataTables_Table_0_wrapper"
							class="dataTables_wrapper dt-bootstrap5 no-footer">
							<div class="row">
								<div class="col-sm-12">
									<table
										class="table table-bordered  table-vcenter js-dataTable-full dataTable no-footer"
										id="DataTables_Table_0"
										aria-describedby="DataTables_Table_0_info">
										<thead>
											<tr>
												<th class="text-center" style="width: 80px;" tabindex="0"
													rowspan="1">번호</th>
												<th class="text-center" tabindex="0" colspan="7">제목</th>
												<th class="text-center" tabindex="0" colspan="2">작성자</th>
												<th class="text-center" rowspan="1" colspan="2">작성일자</th>
												<th class="text-center" rowspan="1" colspan="2">답변여부</th>
											</tr>
										</thead>
										<tbody th:each="q, i : ${qna}">
											<tr th:if="${#lists.isEmpty(q.TITLE)}">
												<td colspan="14">질문이 등록되지 않았습니다.</td>
											</tr>
											<tr
												th:if="${q.VISIBLE} == 0 and ${not #strings.isEmpty(qna)}">
												<td class="text-center" th:text="${i.index+1}"></td>
												<td class="text-center" colspan="7"><a
													th:href="@{/stud/eclass/qnaSelect(no=${q.NO},sbjNo=${q.SBJNO})}"
													style="color: black"> [[${q.TITLE}]] </a></td>
												<td class="text-center" colspan="2" th:text="${q.NAME}"></td>
												<td class="text-center" colspan="2"
													th:text="${q.ENROLLDATE}"></td>
												<td class="text-center text-danger fw-bold" colspan="2"
													th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2"
													th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
											<tr
												th:if="${q.VISIBLE} == 1 and ${#authentication.principal.username} != ${q.STNO}">
												<td class="text-center" th:text="${i.index+1}"></td>
												<td class="text-center fw-bold" colspan="11">비공개 질문입니다.</td>
												<td class="text-center text-danger fw-bold" colspan="2"
													th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2"
													th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
											<tr
												th:if="${q.VISIBLE} == 1 and ${#authentication.principal.username} == ${q.STNO}">
												<td class="text-center" th:text="${i.index+1}"></td>
												<td class="text-center" colspan="7"><a
													th:href="@{/stud/eclass/qnaSelect(no=${q.NO},sbjNo=${q.SBJNO})}"
													style="color: black"> [[${q.TITLE}]] </a></td>
												<td class="text-center" colspan="2" th:text="${q.NAME}"></td>
												<td class="text-center" colspan="2"
													th:text="${q.ENROLLDATE}"></td>
												<td class="text-center text-danger fw-bold" colspan="2"
													th:if="${not #strings.isEmpty(q.ANSWER)}">답변</td>
												<td class="text-center" colspan="2"
													th:if="${#strings.isEmpty(q.ANSWER)}">미답변</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<button type="button"
									th:onclick="|location.href='@{/stud/eclass/qnaInsert}?sbjNo=${sbjNo}'|"
									class="btn btn-primary m-2">등록</button>
							</div>
							<div class="row">
								<div class="col-sm-12 com-md-7">
									<div class="dataTables_paginate paging_simple_numbers"
										id="DataTables_Table_0_paginate">
										<nav aria-label="Page navigation">
											<form th:action=@{/stud/eclass/qnaList} id="pageIn">
												<input type="hidden">
												<ul class="pagination justify-content-center">
													<li class="page-item"><a class="page-link"
														href="javascript:void(0)" tabindex="-1"
														aria-label="Previous" id="prev"> <span
															aria-hidden="true"> <i
																class="fa fa-angle-double-left"></i>
														</span> <span class="visually-hidden">Previous</span>
													</a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														id="pageingBtn" href="javascript:void(0)"></a></li>
													<li class="page-item"><a class="page-link"
														href="javascript:void(0)" aria-label="Next" id="next">
															<span aria-hidden="true"> <i
																class="fa fa-angle-double-right"></i>
														</span> <span class="visually-hidden">Next</span>
													</a></li>
												</ul>
											</form>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:if="${qna != null && qna != ''}">
				<script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', function(){
		let map = /*[[${map}]]*/ 'default';
		
		let nextBtn = document.querySelector("#next")
		let prevBtn = document.querySelector("#prev")
		let pageingBtn = document.querySelectorAll("#pageingBtn");
		nextBtn.addEventListener('click', function(){
			pageingBtn.forEach(btn =>{
				let a = btn.innerHTML
				btn.innerHTML = parseInt(a)+5;
			})
			tagInsert(pageingBtn[0].innerHTML)
		})
		
		prevBtn.addEventListener('click', function(){
			pageingBtn.forEach((btn,idx) =>{
				let a = btn.innerHTML
				if (parseInt(a) > 5){
					btn.innerHTML = parseInt(a)-5;
				}else{
					map.pageNum = 1;
					if(idx == 0){
						btn.innerHTML = parseInt(map.pageNum) + idx
					}
					else{
						btn.innerHTML = parseInt(pageingBtn[idx-1].innerHTML) + 1;
					}
				}
			})
			tagInsert(pageingBtn[0].innerHTML)
		})
		
		pageingBtn.forEach((btn,idx) =>{
			btn.innerHTML = parseInt(map.pageNum) + idx
			
			if(btn.innerHTML == map.pageNum){
				btn.parentElement.setAttribute("class", "page-item active")
			}
			btn.addEventListener('click',function(){
				
				let a = btn.innerHTML
				tagInsert(parseInt(a))
			})
		})
		
		function tagInsert(value){
			let checkFrm = document.querySelector('#pageIn')
			let inputtag = document.createElement('input')
	    	let sbjnotag = document.createElement('input')
			inputtag.setAttribute("name", "pageNum")
	    	inputtag.setAttribute("type", "hidden")
	    	inputtag.setAttribute("value", value)
	    	
	    	
	    	sbjnotag.setAttribute("name", "sbjNo")
	    	sbjnotag.setAttribute("type", "hidden")
	    	sbjnotag.setAttribute("value", getParam("sbjNo"))
	    	
	    	
	    	checkFrm.appendChild(sbjnotag)
	    	checkFrm.appendChild(inputtag)
	    	checkFrm.submit()
	    	
		}
		
		function getParam(name)
        {
            var curr_url = location.search.substr(location.search.indexOf("?") + 1);
            var svalue = "";
            curr_url = curr_url.split("&");
            for (var i = 0; i < curr_url.length; i++)
            {
                temp = curr_url[i].split("=");
                if ([temp[0]] == name) { svalue = temp[1]; }
            }
            return svalue;
        }
		
	})
</script>
			</th:block>
			<th:block th:if="${(success != null && success != '')}">
				<script th:inline="javascript">
					let success = /*[[${success}]]*/ 'default';
					if (success) {
						Dialogs.dialog('success', '완료', success);
					}
				</script>
			</th:block>

		</main>
	</div>
</body>
</html>
