<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>질의응답상세</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">Q&A</h3>
					</div>
					<div class="block block-rounded">
						<div class="block-content block-content-full">
							<div id="DataTables_Table_0_wrapper"
								class="dataTables_wrapper dt-bootstrap5 no-footer">
								<div class="row" th:each="qs : ${qs}">
									<div class="col-sm-12">
										<table
											class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
											id="DataTables_Table_0"
											aria-describedby="DataTables_Table_0_info">
											<thead>
												<tr>
													<th class="text-center" tabindex="0" colspan="3">제목</th>
													<th colspan="7" th:text="${qs.TITLE}"></th>
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="3">작성자</th>
													<th colspan="7" th:text="${qs.NAME}"></th>
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="3">작성일</th>
													<th colspan="7" th:text="${qs.ENROLLDATE}"></th>
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="3">내용</th>
													<th colspan="7" th:text="${qs.content}"></th>
												</tr>
											</thead>
										</table>
										<table
											class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
											id="DataTables_Table_0"
											aria-describedby="DataTables_Table_0_info">
											<tbody>
												<tr th:if="${#strings.isEmpty(qs.ANSWER)}">
													<th class="text-center" th:text="'등록된 답변이 없습니다'"></th>
												</tr>
												<tr th:if="${not #strings.isEmpty(qs.ANSWER)}">
													<th class="text-center" tabindex="0" colspan="3">답변</th>
													<th colspan="7" th:text="${qs.ANSWER}"></th>
												</tr>
											</tbody>
										</table>
										<div class="d-flex justify-content-center">
											<button type="button"
												th:onclick="|location.href='@{/eclass/student/qnaList}'|"
												class="btn btn-dark m-2">목록으로</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-12"></div>
		</main>
	</div>
	<!-- content END -->

</body>
</html>
