<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>

<title>질의응답상세</title>
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">Q&A</h3>
					</div>
					<div class="block block-rounded">
						<div class="block-content block-content-full">
							<div id="DataTables_Table_0_wrapper"
								class="dataTables_wrapper dt-bootstrap5 no-footer">
								<div class="row" th:each="qs : ${qs}">
									<div class="col-sm-12">
										<table
											class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
											id="DataTables_Table_0"
											aria-describedby="DataTables_Table_0_info">
											<tbody>
												<tr>
													<th class="text-center" style="width:150px;">제목</th>
													<th style="width:600px;" colspan="3" th:text="${qs.TITLE}"></th>
												</tr>
												<tr>
													<th class="text-center" style="width:150px;">작성자</th>
													<th style="width:200px;" th:text="${qs.NAME}"></th>
													<th class="text-center" style="width:150px;">작성일</th>
													<th  style="width:200px;" th:text="${qs.ENROLLDATE}"></th>
												</tr>
												<tr>
													<th class="text-center" style="width:150px;">내용</th>
													<th colspan="3" style="height:300px; width:500px; overflow-y:scroll; text-align:top;"  th:text="${qs.CONTENT}"></th>
												</tr>
											</tbody>
										</table>
										<table
											class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
											id="DataTables_Table_0"
											aria-describedby="DataTables_Table_0_info">
											<tbody>
												<tr th:if="${#strings.isEmpty(qs.ANSWER)}">
													<th class="text-center" style="height:150px;"  th:text="'등록된 답변이 없습니다'"></th>
												</tr>
												<th:block th:if="${not #strings.isEmpty(qs.ANSWER)}">
												<tr>
													<th class="text-center" rowspan="2" style="width:150px;">답변</th>
													<th th:text="${qs.ANSWERDATE}" style="width:600px;"></th>													
												</tr>
												<tr>
												<th style="height:150px; width:600px; overflow-y:scroll; text-align:top;"  th:text="${qs.ANSWER}"></th>
												</tr>
												</th:block>
											</tbody>
										</table>
										<div class="d-flex justify-content-center">
											<button type="button"
												th:onclick="|location.href='@{/stud/eclass/qnaList}?sbjNo=${sbjNo}'|"
												class="btn btn-dark m-2">목록으로</button>
												<button th:if="${#authentication.principal.username} == ${qs.STNO}" type="button"
												th:onclick="|location.href='@{/stud/eclass/delOneQna}?no=${no}&sbjNo=${sbjNo}'|"
												class="btn btn-warning m-2">삭제</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</main>
	</div>
	<!-- content END -->

</body>
</html>
