<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/eclassLayout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">

<title>과제상세</title>
<link rel="stylesheet" th:href="@{/resources/assets/css/oneui.min.css}" />
</head>
<body>
	<div id="page-container"
		class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
		<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
		<main layout:fragment="main">
			<div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">과제</h3>
					</div>
				</div>
				<th:block th:if="${#lists.isEmpty(fts)}">
				<form th:action="@{taskInsert(${_csrf.parameterName}=${_csrf.token})}"
					method="post" enctype="multipart/form-data">
				</th:block>
			<th:block th:unless ="${#lists.isEmpty(fts)}">
				<form th:action="@{updateTaskFile(${_csrf.parameterName}=${_csrf.token})}"
					method="post" enctype="multipart/form-data">
				</th:block>
					<div class="block block-rounded">
						<div class="block-content block-content-full">
							<div id="DataTables_Table_0_wrapper"
								class="dataTables_wrapper dt-bootstrap5 no-footer">
								<div class="row">
									<div class="col-sm-12">
										<table
											class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
											id="DataTables_Table_0"
											aria-describedby="DataTables_Table_0_info"
											th:each="tsk : ${tsk}">
											
											<thead>
												<tr>
													<th class="text-center" tabindex="0" colspan="2">제목</th>
													<th colspan="7">[[${tsk.TITLE}]]
													<input type="hidden" name="no" id="no" th:value="${tsk.NO}">
													<input type="hidden" name="sbjNo" id="sbjNo" th:value="${tsk.SBJNO}">
													</th>
													
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="2">작성일자</th>
													<th colspan="7" id="startDate" th:text="${tsk.STARTDATE}"></th>
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="2">마감일자</th>
													<th colspan="7" id="limitDate" th:text="${tsk.LIMITDATE}"></th>
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="2">내용</th>
													<th colspan="7" th:text="${tsk.CONTENT}"></th>
												</tr>
												<tr>
													<th class="text-center" tabindex="0" colspan="2">파일</th>
													<th colspan="7"><input
														class="form-control fw-semibold fs-sm"
														id="file" name="file" type="file">
														<th:block th:each="fts : ${fts}" id="fileList">
															<a th:href="@{/download(fileName=${fts.uri}, originName=${fts.fileName}, folder=task)}" class="mb-0 fw-bold"> [[${fts.fileName}]] </a>
															<input type="hidden" name="fileNo" id="fileNo" th:value="${fts.no}">
															<button th:data-uri=${fts.uri} th:data-no=${fts.no}
																type="button" class="btn btn-sm delBtn">
																<i class="fa fa-fw fa-sm fa-times" id="delbtn"></i>
															</button>
															<br>
														</th:block>
												</tr>
											</thead>
										</table>
										<div class="d-flex justify-content-center">
											<button type="submit" id="button" class="btn btn-primary m-2">과제등록</button>
											<button type="button"
												th:onclick="|location.href='@{/stud/eclass/taskList(sbjNo=${param.sbjNo})}'|"
												class="btn btn-dark m-2">목록으로</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<script th:inline="javascript">
				$('.delBtn').on('click', function() {
									var header = $("meta[name='_csrf_header']").attr('content');
									var token = $("meta[name='_csrf']").attr('content');
									let uri = $(this).data('uri');
									let no = $(this).data('no');
									let fileRow = $(this).prev();
									$.ajax({url : getContextPath() + 'stud/eclass/deleteSubmitTask',
											method : 'DELETE',
											data : JSON.stringify({
											no : no,
											uri : uri
											}),
											contentType : 'application/json; charset=utf-8',
											dataType : 'json',
											beforeSend : function(xhr) {
												xhr.setRequestHeader(header, token);
												},	
											error : function(data){
													location.reload();
												}		
									})
								})

				function getContextPath() {
					var pathName = window.location.pathname.substring(1);
					var webName = pathName == '' ? '' : pathName.substring(0,
							pathName.indexOf('/'));
					var path_root = window.location.protocol + '//'
							+ window.location.host + '/' + webName + '/';
					return path_root;
				}
				
			/* 날짜비교 */
			function leadingZeros(n, digits) {
			    var zero = '';
			    n = n.toString();

			    if (n.length < digits) {
			        for (i = 0; i < digits - n.length; i++)
			            zero += '0';
			    }
			    return zero + n;
			}
			var limitDate = new Date();
			limitDate = document.getElementById("limitDate").innerHTML;
			limitDate = Date.parse(limitDate);
			var now = new Date();
			

			if(limitDate){
			  now = 
			    leadingZeros(now.getFullYear(), 4) + "-" +
			    leadingZeros(now.getMonth() + 1, 2) + "-" +
			    leadingZeros(now.getDate(), 2);
			  newnow = Date.parse(now);
			  if(limitDate >= newnow){
				  /* console.log(whDate); */
				  console.log("과제제출일미경과")
				  document.getElementById("file").style.display = "block";
				  document.getElementById("button").style.display = "block";

			  }else{
				  /* console.log(whDate); */
				  console.log("과제제출일경과")
				  document.getElementById("file").style.display = "none";
				  document.getElementById("button").style.display = "none";
				  document.getElementById("delbtn").style.display = "none";
			  }
			}
				
			</script>
		</main>
	</div>
</body>
</html>
