<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>navFooter</title>
</head>
<body>
<th:block th:fragment="footer">
    <!-- Footer -->
    <footer id="page-footer" class="bg-sidebar-dark">
    <div class="content content-boxed py-3">
        <div class="row fs-sm text-gray-dark">
        <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-end">
            Crafted by <i class="fa fa-fish text-gray-light"></i><a class="fw-semibold text-gray-light" href="#"> sajotuna</a>
        </div>
        <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-start text-gray-dark">
            대구광역시 중구 남일동 중앙대로 403 <br><a class="fw-semibold text-gray-light" href="#">&copy;<span data-toggle="year-copy"></span> TUNA Univ. </a>
        </div>
        </div>
    </div>
    </footer>
    <!-- END Footer -->
</th:block>
</body>
</html>