<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>navHeader</title>
<style>
@media print {
		  header, footer, #noprint { display:none }
		}
</style>

</head>
<body>
<th:block th:fragment="header">
	<!-- Navigation -->
	<div class="bg-primary-darker" id = "noprint">
		<div class="content py-3">
			<!-- Toggle Main Navigation -->
			<div class="d-lg-none">
				<button type="button"
					class="btn w-100 btn-alt-secondary d-flex justify-content-between align-items-center"
					data-toggle="class-toggle" data-target="#main-navigation"
					data-class="d-none">
					Menu <i class="fa fa-bars"></i>
				</button>
			</div>
			<!-- END Toggle Main Navigation -->

			<!-- Main Navigation -->
			<div id="main-navigation" class="d-none d-lg-block mt-2 mt-lg-0">
				<ul
					class="nav-main nav-main-dark nav-main-horizontal nav-main-hover">
					<li class="nav-main-item"><a class="nav-main-link"
						th:href="@{/home}"> <i
							class="d-none d-lg-block nav-main-link-icon fa fa-house"></i> <span
							class="nav-main-link-name">홈</span>
					</a></li>
					
					<li class="nav-main-item"><a
						class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
						aria-haspopup="true" aria-expanded="false" href="#"><span
							class="nav-main-link-name">학사정보</span>
					</a>
						<ul class="nav-main-submenu">
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/portalNoticeList}"> <span class="nav-main-link-name">공지사항</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/portalSchedule}"> <span class="nav-main-link-name">학사일정</span>
							</a></li>
						</ul></li>
					
					<th:block sec:authorize="hasRole('ROLE_STAFF')">
			 	    <!-- ██████  ██████   ██████  ███████ 
						 ██   ██ ██   ██ ██    ██ ██      
						 ██████  ██████  ██    ██ █████   
						 ██      ██   ██ ██    ██ ██      
						 ██      ██   ██  ██████  ██     -->	
						<li class="nav-main-item"><a
							class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
							aria-haspopup="true" aria-expanded="false" href="#"><span
								class="nav-main-link-name">교수</span>
						</a>
							<ul class="nav-main-submenu">
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/staff/eclass/home}" target='_blank'> <span class="nav-main-link-name">e-Class 교수</span>
								</a></li>
							</ul></li>
					</th:block>
					
					<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
					<!-- █████  ██████  ███    ███ ██ ███    ██ 
						██   ██ ██   ██ ████  ████ ██ ████   ██ 
						███████ ██   ██ ██ ████ ██ ██ ██ ██  ██ 
						██   ██ ██   ██ ██  ██  ██ ██ ██  ██ ██ 
						██   ██ ██████  ██      ██ ██ ██   ████  -->		
						<li class="nav-main-item"><a
							class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
							aria-haspopup="true" aria-expanded="false" href="#"><span
								class="nav-main-link-name">관리자</span>
						</a>
							<ul class="nav-main-submenu">
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/admin/admin/userSearch}" target='_blank'> <span class="nav-main-link-name">관리자 페이지</span>
								</a></li>
							</ul></li>
					</th:block>
					
					<th:block sec:authorize="hasRole('ROLE_STUDENT')">
					<!-- ███████ ████████ ██    ██ ██████  
						 ██         ██    ██    ██ ██   ██ 
						 ███████    ██    ██    ██ ██   ██ 
						      ██    ██    ██    ██ ██   ██ 
						 ███████    ██     ██████  ██████   -->
						<li class="nav-main-item"><a
							class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
							aria-haspopup="true" aria-expanded="false" href="#"><span
								class="nav-main-link-name">조회</span>
						</a>
							<ul class="nav-main-submenu">
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/portal/subjectAndReport}"> <span class="nav-main-link-name">강의/성적 조회</span>
								</a></li>
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/scholar/Application}" target="_blank"> <span class="nav-main-link-name">장학 신청 및 조회</span>
								</a></li>
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/tuition/Check}"> <span class="nav-main-link-name">등록금납입확인서</span>
								</a></li>
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/portal/currentSemesterGrade}"> <span class="nav-main-link-name">당해학기 성적 조회</span>
								</a></li>
							</ul></li>
							
						<li class="nav-main-item"><a
							class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
							aria-haspopup="true" aria-expanded="false" href="#"><span
								class="nav-main-link-name">강의</span>
						</a>
							<ul class="nav-main-submenu">
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/eclass/home}" target="_blank"> <span class="nav-main-link-name">e-class</span>
								</a></li>
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/course/Warning}" target="_blank"> <span class="nav-main-link-name">수강신청</span>
								</a></li>
								<li class="nav-main-item"><a class="nav-main-link"
									th:href="@{/stud/course/Details}"> <span class="nav-main-link-name">강의평가</span>
								</a></li>
							</ul></li>
					</th:block>
					
					<th:block sec:authorize="isAuthenticated()">
					<li class="nav-main-item ms-lg-auto"><a
						class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
						aria-haspopup="true" aria-expanded="false" href="#"> <i
							class="d-none d-lg-block nav-main-link-icon far fa-user"></i> <span
							class="nav-main-link-name" th:text = "${#authentication.principal.name}"></span>
					</a>
						<ul class="nav-main-submenu nav-main-submenu-right">
							<th:block sec:authorize="hasRole('ROLE_STUDENT')">
							<li class="nav-main-item">
								<a class="nav-main-link" th:href="@{/stud/userUpdate}">
								<span class="nav-main-link-name" >내 정보 수정</span>
							</a></li>
							</th:block>
							<th:block sec:authorize="hasRole('ROLE_STAFF')">
							<li class="nav-main-item">
								<a class="nav-main-link" th:href="@{/staff/userUpdate}">
								<span class="nav-main-link-name" >내 정보 수정</span>
							</a></li>
							</th:block>
							<th:block sec:authorize="hasRole('ROLE_ADMIN')">
							<li class="nav-main-item">
								<a class="nav-main-link" th:href = "@{/admin/adminUpdate}">
								<span class="nav-main-link-name" >내 정보 수정</span>
							</a></li>
							</th:block>
							<li class="nav-main-item">
							<form method = "post" th:action ="@{/logout}">
                    			<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
								<button class="nav-main-link" style = "background-color : rgb(25,34,45); outline : none; border : none;"><span class="nav-main-link-name">로그아웃</span></button>
                    		</form>
                    		</li>
						</ul></li>
					</th:block>
				</ul>
			</div>
			<!-- END Main Navigation -->
		</div>
	</div>
	<!-- END Navigation -->
</th:block>
</body>
</html>