<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{layouts/navLayout}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
    <title>마이페이지</title>
    
  </head>
  <body>
<main layout:fragment="main">
    <!-- Hero -->
	<div class="bg-body-light">
		<div class="content content-full content-boxed">
			<div
				class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
				<div class="flex-grow-1 mb-1 mb-md-0">
					<p class="h3 fw-bold mb-2">내 정보 수정</p>
					<p class="h6 fw-medium fw-medium text-muted mb-0 text-gray-dark">
						기본 정보 수정 및 비밀번호 변경</p>
				</div>
			</div>
		</div>
	</div>
	<!-- END Hero -->
        <div class="mt-3">
          <div class="content content-full content-boxed">
	          <div class="block block-rounded mb-4">
	              <div class = "block-content block-content-full p-5">
	                  <div class="column">
	                      <div class="mb-4">
	                        <h4>기본 정보
	                        <button class="btn btn-sm btn-outline-secondary ms-3"  onclick="showPopup();">비밀번호변경</button></h4>
	                      </div>
	                    <form th:action="@{/stud/userInfoUpdate}" method="post">
	                    <div class="row mb-4">
	                      <div class="col-lg-12 col-xl-12">
	                        <div class="mb-3">
	                          <div class="input-group">
	                            <span class="input-group-text d-none d-md-block">소속</span>
	                            <input type="text" class="form-control" th:value = "${@codeList.getName(vo.deptCode)}" readonly>
	                            <span class="input-group-text d-none d-md-block">이름</span>
	                            <input type="text" class="form-control" th:value = "${vo.name}" readonly>
	                            <span class="input-group-text d-none d-md-block">생년월일</span>
	                            <input type="text" class="form-control" th:value = "${vo.birth}" readonly>
	                          </div>
	                    	</div>
	                    <div class="mb-3">
	                      <div class="input-group">
	                        <span class="input-group-text d-none d-md-block">학번</span>
	                        <input type="text" class="form-control" id = "no" th:value = "${vo.no}" readonly>
	                        <span class="input-group-text d-none d-md-block">학년</span>
	                        <input type="text" class="form-control" th:value = "${vo.sy}" readonly>
	                        <span class="input-group-text d-none d-md-block">입학날짜</span>
	                        <input type="text" class="form-control" th:value = "${vo.enterDate}" readonly>
	                      </div>
	                    </div>
	                    <div class="mb-3">
	                      <div class="input-group">
	                        <span class="input-group-text d-none d-md-block">재적상태</span>
	                        <input type="text" class="form-control d-none d-md-block" th:value = "${@codeList.getName(vo.stateCode)}" readonly>
	                        <span class="input-group-text d-none d-md-block">전화번호</span>
	                        <input type="number" onchange = "javascript:disable();" maxlength="11" oninput="maxLengthCheck(this)"  class="form-control" name = "tel" th:value = "${vo.tel}">
	                        <span class="input-group-text d-none d-md-block">이메일</span>
	                        <th:block th:if = "${not #strings.isEmpty(vo.email)}">
	                      	<input type="text" class="form-control" name = "email" th:value = "${vo.email}">
		                    </th:block>
		                    <th:block th:unless = "${not #strings.isEmpty(vo.email)}">
		                      	<input type="text" class="form-control" name = "email"  placeholder = "이메일 주소를 입력하세요...">
		                    </th:block>
	                      </div>
	                    </div>
	                    <div class="mb-3">
	                      <div class="input-group">
	                        
	                        <span class="input-group-text d-none d-md-block">은행</span>
	                        <select class="form-select" id="bacc" name="bacc" onchange="javascript:updateSuccess();">
	                        <th:block th:if = "${not #strings.isEmpty(vo.bacc)}">
		                          <option th:value="${vo.bacc}" th:text="${@codeList.getName(vo.bacc)}"></option>
		                    </th:block>
		                    <th:block th:unless = "${not #strings.isEmpty(vo.bacc)}">
		                    	  <option value ="" selected>은행선택</option>
		                    </th:block>
		                          <option value="35">경남은행</option>
		                          <option value="29">광주은행</option>
		                          <option value="7">국민은행</option>
		                          <option value="5">기업은행</option>
		                          <option value="15">농협중앙회</option>
		                          <option value="17">농협회원조합</option>
		                          <option value="25">대구은행</option>
		                          <option value="47">도이치은행</option>
		                          <option value="27">부산은행</option>
		                          <option value="3">산업은행</option>
		                          <option value="41">상호저축은행</option>
		                          <option value="37">새마을금고</option>
		                          <option value="11">수협중앙회</option>
		                          <option value="36">신한금융투자</option>
		                          <option value="60">신한은행</option>
		                          <option value="39">신협중앙회</option>
		                          <option value="9">외환은행</option>
		                          <option value="19">우리은행</option>
		                          <option value="56">우체국</option>
		                          <option value="33">전북은행</option>
		                          <option value="31">제주은행</option>
		                          <option value="68">카카오뱅크</option>
		                          <option value="67">케이뱅크</option>
		                          <option value="59">하나은행</option>
		                          <option value="23">한국씨티은행</option>
		                          <option value="45">HSBC은행</option>
		                          <option value="21">SC제일은행</option>
	                        </select>
	                     <th:block th:if = "${not #strings.isEmpty(vo.bank)}">
	                        <span class="input-group-text d-none d-md-block">계좌번호</span>
	                        <input type="text" class="form-control" name = "bank" maxlength="16" th:value = "${vo.bank}" >
	                      </th:block>
	                      <th:block th:unless = "${not #strings.isEmpty(vo.bank)}">
	                        <span class="input-group-text">계좌번호</span>
	                        <input type="text" name = "bank" class="form-control" >
	                      </th:block>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="mb-4">
	                    <h4>현 주소</h4>
	                </div>
	                <div class="row mb-2">
	                  <div class="col-4">
	                    <div class = "row">
	                      <div class = "col-10">
	                      <input type="text" class="form-control" id="postcode" name = "zip" th:value = "${vo.zip}">
	                    </div>
	                    <div class = "col-2">
	                      <button type="button" class="btn btn-secondary" onclick="execDaumPostcode()">
	                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
	                        </svg>
	                      </button>
	                    </div>
	                    </div>  
	                  </div>
	                  <div class="col-12 col-lg-8 mt-3 mt-lg-0">
	                    <input type="text" id="address" name = "addr" class="form-control" th:value = "${vo.addr}"><br>
	                  </div>
	                </div>
	                <div class="d-flex justify-content-end">
	                  <div class="m-2">
	                  <a th:href ="@{/home}" class = "btn btn-secondary">돌아가기</a>
	              </div>
	              <div class="m-2">
	                <button type="submit" class="btn btn-secondary" id = "updateBtn" disabled>수정하기</button>
	              </div>
	            </div>
	            </form>
	          </div>
	        </div>
	    </div>
    </div>
  </div>
    <th:block th:if = "${(success != null && success != '')}">
	<script th:inline="javascript">
		let success = /*[[${success}]]*/ 'default';
		if (success) {
			Dialogs.dialog('success', '완료', success);
		}
	</script>
	</th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
    function maxLengthCheck(object){
        if (object.value.length > object.maxLength){
          object.value = object.value.slice(0, object.maxLength);
        }    
      }
    
    function disable(){
    	updateBtn.disabled = false;
    }
    	  let tagSelect = document.querySelectorAll('[type=text]')
          let updateBtn = document.querySelector('#updateBtn')
          tagSelect.forEach(tag =>{
        	  tag.addEventListener('change', function(){
            	  updateBtn.disabled = false;
              })
          })  
      
      function updateSuccess(){
    	updateBtn.disabled = false;
      }
    
      function showPopup(){
    	  let no = document.querySelector('#no')
          window.open("pwdUpdate?no="+no.value,"비밀번호변경","width=600, height=400, top=10, left=10");
      }
      
      function success(success){
    	  Dialogs.dialog('success', '완료', success);
      }
      

      function execDaumPostcode() {
          new daum.Postcode({
              oncomplete: function(data) {
                  
                  var addr = ''; 
                  var extraAddr = ''; 
                  if (data.userSelectedType === 'R') { 
                      addr = data.roadAddress;
                  } else { 
                      addr = data.jibunAddress;
                  }
                  
                  document.getElementById('postcode').value = data.zonecode;
                  document.getElementById("address").value = addr;
                  document.getElementById("address").focus();
                  updateBtn.disabled = false;
              }
          }).open();
      }
  </script>
  </main>
  </body>
</html>