<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{layouts/navLayout}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
    <title>마이페이지</title>
    
  </head>
  <body>
<main layout:fragment="main">
    
        <div class="content content-boxed">
      		<h3 class="fw-bold">내 정보수정</h3>
          <div class="block block-rounded">
            <div id="page-container">

              <div class = "content content-boxed">
                
                  <div class="row">
                    <div class="col-md-6 col-xl-4 ">
                      <div class="mb-4">
                        <h4>기본 정보
                        <button class="btn btn btn-outline-secondary"  onclick="showPopup();">비밀번호변경</button></h4>
                      </div>
                    </div>
                    <form th:action="@{/stud/userInfoUpdate}" method="post">
                    <div class="row">
                      <div class="col-lg-12 col-xl-12">
                      
                        <div class="mb-3">
                          <div class="input-group">
                            <span class="input-group-text">소속</span>
                            <input type="text" class="form-control" th:value = "${@codeList.getName(vo.deptCode)}" readonly>
                            <span class="input-group-text">이름</span>
                            <input type="text" class="form-control" th:value = "${vo.name}" readonly>
                            <span class="input-group-text">생년월일</span>
                            <input type="text" class="form-control" th:value = "${vo.birth}" readonly>
                          </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group">
                        <span class="input-group-text">학번</span>
                        <input type="text" class="form-control" id = "no" th:value = "${vo.no}" readonly>
                        <span class="input-group-text">학년</span>
                        <input type="text" class="form-control" th:value = "${vo.sy}" readonly>
                        <span class="input-group-text">입학날짜</span>
                        <input type="text" class="form-control" th:value = "${vo.enterDate}" readonly>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group">
                        <span class="input-group-text">재적상태</span>
                        <input type="text" class="form-control" th:value = "${@codeList.getName(vo.stateCode)}" readonly>
                        <span class="input-group-text">전화번호</span>
                        <input type="text" class="form-control" name = "tel" th:value = "${vo.tel}">
                        <span class="input-group-text">이메일</span>
                        <th:block th:if = "${not #strings.isEmpty(vo.email)}">
                      	<input type="text" class="form-control" name = "email" th:value = "${vo.email}">
	                    </th:block>
	                    <th:block th:unless = "${not #strings.isEmpty(vo.email)}">
	                      	<input type="text" class="form-control" name = "email"  placeholder = "이메일 주소를 입력하세요...">
	                    </th:block>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group">
                        <th:block th:if = "${not #strings.isEmpty(vo.bank)}">
                        <span class="input-group-text">은행</span>
                        <input type="text" class="form-control" name = "bacc" th:value = "${@codeList.getName(vo.bacc)}" >
                        <span class="input-group-text">계좌번호</span>
                        <input type="text" class="form-control" name = "bank" th:value = "${vo.bank}" >
                      </th:block>
                      <th:block th:unless = "${not #strings.isEmpty(vo.bank)}">
                        <span class="input-group-text">은행</span>
                        <input type="text" name = "bacc" class="form-control" >
                        <span class="input-group-text">계좌번호</span>
                        <input type="text" name = "bank" class="form-control" >
                      </th:block>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 ">
                  <div class="mb-4">
                    <h4>현 주소</h4>
                  </div>
                </div>
                
                <div class="row mb-2">
                  <div class="col-4">
                    <div class = "row">
                      <div class = "col-10">
                      <input type="text" class="form-control" id="postcode" name = "zip" th:value = "${vo.zip}">
                    </div>
                    <div class = "col-2">
                      <button type="button" class="btn btn-secondary" onclick="execDaumPostcode()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                      </button>
                    </div>
                    </div>  
                  </div>
                  <div class="col-8">
                    <input type="text" id="address" name = "addr" class="form-control" th:value = "${vo.addr}"><br>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="m-2">
                  <a th:href ="@{/home}" class = "btn btn-secondary">돌아가기</a>
              </div>
              <div class="m-2">
                <button type="submit" class="btn btn-secondary">수정하기</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <th:block th:if = "${(success != null && success != '')}">
	<script th:inline="javascript">
		let success = /*[[${success}]]*/ 'default';
		if (success) {
			Dialogs.dialog('success', '완료', success);
		}
	</script>
	</th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
    
    
      function showPopup(){
    	  let no = document.querySelector('#no')
          window.open("pwdUpdate?no="+no.value,"비밀번호변경","width=600, height=400, top=10, left=10");
      }

      function execDaumPostcode() {
          new daum.Postcode({
              oncomplete: function(data) {
                  
                  var addr = ''; 
                  var extraAddr = ''; 
                  if (data.userSelectedType === 'R') { 
                      addr = data.roadAddress;
                  } else { 
                      addr = data.jibunAddress;
                  }
                  
                  document.getElementById('postcode').value = data.zonecode;
                  document.getElementById("address").value = addr;
                  document.getElementById("address").focus();
              }
          }).open();
      }
  </script>
  </main>
  </body>
</html>