.preview {
	background: rgb(100,100,100);
}

.img-section {
	width: 450px;
	height: 300px;
	background: gray;
	overflow:hidden;
	position:relative;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shortcut-btn {
    position:absolute;
    left:2rem!important;
    top:2rem!important;
}

.hidden-file {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.upload-label {
    cursor: pointer; 
}

.upload-btn {
    pointer-events: none;
}