<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="sidebar">
	<!-- Sidebar -->
	 <nav id="sidebar" aria-label="Main Navigation">
	   <!-- Side Header -->
	   <div class="content-header">
	     <a class="fw-semibold text-dual">
  	     <span class="smini-hide fs-5 tracking-wider">TUNA<span class="fw-normal"> e-Class Prof</span></span>
	     </a>
	   </div>
	   <!-- END Side Header -->
	
	   <!-- Sidebar Scrolling -->
	   <div class="js-sidebar-scroll">
	     <!-- Side Navigation -->
	     <div class="content-side">
	       <ul class="nav-main">
		 	<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	             <i class="nav-main-link-icon si si-speedometer"></i>
	             <span class="nav-main-link-name fw-bold">e-Class Prof 대시보드</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	           	 <i class="nav-main-link-icon fa fa-clipboard"></i>
	             <span class="nav-main-link-name fw-bold">강의 관리</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	             <i class="nav-main-link-icon fa fa-layer-group"></i>
	             <span class="nav-main-link-name fw-bold">강의 목록</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	             <i class="nav-main-link-icon fa fa-table-list"></i>
	             <span class="nav-main-link-name fw-bold">공지 목록</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	             <i class="nav-main-link-icon fa fa-user-group"></i>
	             <span class="nav-main-link-name fw-bold">수강생 목록</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" th:href="@{/staff/objectionList}">
	             <i class="nav-main-link-icon fa fa-flag"></i>
	             <span class="nav-main-link-name fw-bold">이의신청 목록</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	             <i class="nav-main-link-icon fa fa-file-arrow-down"></i>
	             <span class="nav-main-link-name fw-bold">강의 자료</span>
	           </a>
	        </li>
	       </ul>
	     </div>
	     <!-- END Side Navigation -->
	   </div>
	   <!-- END Sidebar Scrolling -->
	 </nav>
	 <!-- END Sidebar -->
</th:block>
</body>
</html>