<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="sidebar">
	<!-- Sidebar -->
	 <nav id="sidebar" aria-label="Main Navigation">
	   <!-- Side Header -->
	   <div class="content-header">
	     <a class="fw-semibold text-dual">
  	     <span class="smini-hide fs-5 tracking-wider">TUNA<span class="fw-normal"> e-Class</span></span>
	     </a>
	   </div>
	   <!-- END Side Header -->
	
	   <!-- Sidebar Scrolling -->
	   <div class="js-sidebar-scroll">
	     <!-- Side Navigation -->
	     <div class="content-side">
	       <ul class="nav-main">
			<li class="nav-main-item">
	           <a class="nav-main-link" href="#">
	             <i class="nav-main-link-icon si si-speedometer"></i>
	             <span class="nav-main-link-name fw-bold">e-Class 대시보드</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
	             <i class="nav-main-link-icon fa fa-layer-group"></i>
	             <span class="nav-main-link-name fw-bold">강의 이름</span>
	           </a>
	           <ul class="nav-main-submenu">
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">홈</span>
	               </a>
	             </li>
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">공지사항</span>
	               </a>
	             </li>
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">강의계획서</span>
	               </a>
	             </li>
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">자료실</span>
	               </a>
	             </li>
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">과제</span>
	               </a>
	             </li>
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">Q&A</span>
	               </a>
	             </li>
	             <li class="nav-main-item">
	               <a class="nav-main-link" href="#">
	                 <span class="nav-main-link-name">출석</span>
	               </a>
	             </li>
	           </ul>
	         </li>
	       </ul>
	     </div>
	     <!-- END Side Navigation -->
	   </div>
	   <!-- END Sidebar Scrolling -->
	 </nav>
	 <!-- END Sidebar -->
	 <script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
	 <script th:src="@{/resources/assets/js/lib/jquery.min.js}"></script>
</th:block>
</body>
</html>