<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="sidebar">
	<!-- Sidebar -->
	 <nav id="sidebar" aria-label="Main Navigation">
	   <!-- Side Header -->
	   <div class="content-header">
	     <a class="fw-semibold text-dual">
  	       <span class="smini-hide fs-5 tracking-wider">TUNA<span class="fw-normal"> e-Class Prof</span></span>
	     </a>
	     <a class="d-lg-none btn btn-sm btn-alt-secondary ms-1" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
           <i class="fa fa-fw fa-times"></i>
         </a>
	   </div>
	   <!-- END Side Header -->
	   <!-- Sidebar Scrolling -->
	   <div class="js-sidebar-scroll">
	     <!-- Side Navigation -->
	     <div class="content-side">
	       <ul class="nav-main">
		 	<li class="nav-main-item">
	           <a class="nav-main-link" th:href="@{/staff/eclass/home}">
	             <i class="nav-main-link-icon si si-speedometer"></i>
	             <span class="nav-main-link-name fw-bold">e-Class Prof 대시보드</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" th:href="@{/staff/eclass/subjectList}">
	             <i class="nav-main-link-icon fa fa-layer-group"></i>
	             <span class="nav-main-link-name fw-bold">전체 강의</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" th:href="@{/staff/eclass/noticeList}">
	             <i class="nav-main-link-icon fa fa-table-list"></i>
	             <span class="nav-main-link-name fw-bold">전체 공지사항</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" th:href="@{/staff/eclass/qnaList}">
	             <i class="nav-main-link-icon fa fa-circle-question"></i>
	             <span class="nav-main-link-name fw-bold">수강생 문의</span>
	           </a>
	        </li>
		 	<li class="nav-main-item">
	           <a class="nav-main-link" th:href="@{/staff/eclass/objectionList}">
	             <i class="nav-main-link-icon fa fa-flag"></i>
	             <span class="nav-main-link-name fw-bold">이의신청 목록</span>
	           </a>
	        </li>
	       </ul>
	     </div>
	     <!-- END Side Navigation -->
	   </div>
	   <!-- END Sidebar Scrolling -->
	 </nav>
	 <!-- END Sidebar -->
</th:block>
</body>
</html>