<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="header">
		<!-- Header -->
		<header id="page-header">
			<!-- Header Content -->
			<div class="content-header">

				<!-- Left Section -->
				<div class="d-flex align-items-center">
					<!-- Toggle Sidebar -->
					<button type="button"
						class="btn btn-sm btn-alt-secondary me-2 d-lg-none"
						data-toggle="layout" data-action="sidebar_toggle">
						<i class="fa fa-fw fa-bars"></i>
					</button>
					<!-- END Toggle Sidebar -->
					<!-- Toggle Mini Sidebar -->
					<button type="button"
						class="btn btn-sm btn-alt-secondary me-2 d-none d-lg-inline-block"
						data-toggle="layout" data-action="sidebar_mini_toggle">
						<i class="fa fa-fw fa-ellipsis-v"></i>
					</button>
					<!-- END Toggle Mini Sidebar -->
				</div>
				<!-- END Left Section -->

				<!-- Right Section -->
				<div class="d-flex align-items-center">
					<!-- User Dropdown -->
					<div class="dropdown d-inline-block ms-2">
						<button type="button"
							class="btn btn-sm btn-alt-secondary d-flex align-items-center"
							id="page-header-user-dropdown" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<span class="ms-2"
								th:text="${#authentication.principal.name}"></span> <i
								class="fa fa-fw fa-angle-down opacity-50 ms-1 mt-1"></i>
						</button>
						<div
							class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0 border-0"
							aria-labelledby="page-header-user-dropdown">
							<div
								class="p-3 text-center bg-body-light border-bottom rounded-top">
								<p class="mt-2 mb-0 fw-medium"
									th:text="${#authentication.principal.name}"></p>
								<p class="mb-0 text-muted fs-sm fw-medium"
									th:text="${@codeList.getName(#authentication.principal.deptCode)}"></p>
							</div>
							<th:block sec:authorize="hasRole('ROLE_STUDENT')">
								<div class="p-2">
									<a
										class="dropdown-item d-flex align-items-center justify-content-between"
										th:href="@{/stud/userUpdate}"> <span
										class="fs-sm fw-medium">내 정보 수정</span>
									</a>
								</div>
							</th:block>
							<th:block sec:authorize="hasRole('ROLE_STAFF')">
								<div class="p-2">
									<a
										class="dropdown-item d-flex align-items-center justify-content-between"
										th:href="@{/staff/userUpdate}"> <span
										class="fs-sm fw-medium">내 정보 수정</span>
									</a>
								</div>
							</th:block>
							<th:block sec:authorize="hasRole('ROLE_ADMIN')">
								<div class="p-2">
									<a
										class="dropdown-item d-flex align-items-center justify-content-between"
										th:href="@{/admin/adminUpdate}"> <span
										class="fs-sm fw-medium">내 정보 수정</span>
									</a>
								</div>
							</th:block>
							<div role="separator" class="dropdown-divider m-0"></div>
							<div class="p-2">
								<form method="post" th:action="@{/logout}">
									<input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
									<button
										class=" dropdown-item d-flex align-items-center justify-content-between fs-sm fw-medium">로그아웃</button>
								</form>
							</div>
						</div>
					</div>
					<!-- END User Dropdown -->
				</div>
				<!-- END Right Section -->
			</div>
			<!-- END Header Content -->
		</header>
		<!-- END Header -->
	</th:block>
</body>
</html>