<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{layouts/lecApplyLayout}">

<head>
  <meta charset="utf-8">
  <title>수강신청 강의목록</title>

  <style>
    tr {
      text-align: center;
    }

    td {
      text-align: center;
    }
  </style>
</head>

<body>
<main layout:fragment="main">
  <div id="section">

    <div id="page-container">
      <div class="content content-boxed ">
        <h3 class="h3 fw-bold mb-2">수강꾸러미 강의목록</h3>
        <div class="bg-body-extra-light" style="padding: 10px;">
          <div class="mb-4">
            <table class="table table-striped table-vcenter">
              <thead>
                <tr>
                    <th class="d-none d-sm-table-cell" style="width: 100px;">이수구분</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">과목코드</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">과목명</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">교수명</th>
                      <th class="d-none d-sm-table-cell" style="width: 110px;">강의실</th>
                      <th class="d-none d-sm-table-cell" style="width: 50px;">학점</th>
                      <th class="d-none d-sm-table-cell" style="width: 50px;">정원</th>
                      <th class="d-none d-sm-table-cell" rowspan = "2" style="width: 120px;">강의시간</th>
                  </tr>
              </thead>
              <tbody id = "courlist">
                    <tr th:scope="row" th:each="sub, status : ${baskList}">
                      <th:block th:if = "${ status.index == 0 || (status.index != 0 && baskList[status.index-1].NO != sub.NO)}">
                      <th class="fw-semibold fs-sm" th:text="${@codeList.getName(sub.TYPE)}"></th>
                      <td class="fw-semibold fs-sm" th:text = "${sub.NO}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.NAME}"></td>
                      <td class="fw-semibold fs-sm"><a href="javascript:showPopup();" th:text = "${sub.PRONAME}"></a></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(sub.ROOMCODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.POINT}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.LIMIT}"></td>
                     </th:block>
                    <th:block th:unless = "${ status.index == 0 || (status.index != 0 && baskList[status.index-1].NO != sub.NO)}">
                      <th class="fw-semibold fs-sm" ></th>
                      <td class="fw-semibold fs-sm" ></td>
                      <td class="fw-semibold fs-sm" ></td>
                      <td class="fw-semibold fs-sm"></td>
                      <td class="fw-semibold fs-sm"></td>
                      <td class="fw-semibold fs-sm"></td>
                      <td class="fw-semibold fs-sm"></td>
                    </th:block>
                    <td class="fw-semibold fs-sm" >
	                      [[${@codeList.getName(sub.DAYCODE) +'  '+ @codeList.getName(#strings.arraySplit(sub.TIMECODE,'~')[0]) +'~'+ @codeList.getName(#strings.arraySplit(sub.TIMECODE,'~')[1])}]]
                      </td>
                    </tr>
                  </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  document.addEventListener('DOMContentLoaded', function(){
		let courlist = document.querySelectorAll("#courlist > tr")
		courlist.forEach((trList,idx) =>{
			
			if(trList.children[1].innerHTML == ''){
				
			courlist[idx-1].lastElementChild.innerHTML = courlist[idx-1].lastElementChild.innerHTML + '</br>' + trList.lastElementChild.innerHTML;
			trList.remove();
			}

		})
	})
  </script>
  
  </main>
</body>

</html>