<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
data-layout-decorate="~{layouts/lecApplyLayout}">

<head>
  <meta charset="utf-8">
  <title>수강꾸러미</title>
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <style>
    h5 {
      margin-top: 50px;
      margin-left: 20px;
    }

    tr {
      text-align: center;
    }

    td {
      text-align: center;
    }

    .fomrtag {
      margin-left: 50px;
    }
  </style>

</head>

<body>
<main layout:fragment="main">

<th:block th:if = "${message != null && message != ''}">
	<script th:inline="javascript">
		let message = /*[[${message}]]*/ 'default';
		alert(message);
	</script>
</th:block>

  <div id="section">

    <div id="page-container">
      <div class="content content-boxed ">
        <h3 class="h3 fw-bold mb-2">수강꾸러미</h3>
        <div class="bg-body-extra-light" style="padding: 10px;">
          <div class="m-4">
            <form th:action="@{/stud/courseBasket}" method="post" class="row">
              <div class="col-md-3 col-xl-2 fomrtag">
                <div class="mb-5">
                  <select class="form-select" id="deptCode" name="deptCode">
                    <option selected value = "">학부(과)</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-xl-2 fomrtag">
                <div class="mb-2">
                  <select class="form-select" id="type" name="type">
                    <option selected value = "">이수구분</option>
                    <option value="701">전공필수</option>
                    <option value="702">전공선택</option>
                    <option value="703">교양필수</option>
                    <option value="704">교양선택</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-xl-2 fomrtag">
                <div class="mb-2">
                  <select class="form-select" id="target" name="target">
                    <option selected value = "">학년</option>
                    <option value="1">1학년</option>
                    <option value="2">2학년</option>
                    <option value="3">3학년</option>
                    <option value="4">4학년</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-xl-2 fomrtag">
                <div class="mb-2">
                  <input type="text" placeholder="과목명을 입력..." class="form-control"
                    id="name" name="name">
                </div>
              </div>
              <div class="col-md-2 col-xl-1 fomrtag">
                <div class="mb-2 ">
                  <button type="submit" class="btn btn-secondary col-sm-12">조회</button>
                </div>
              </div>

            </form>
            <div class="mb-5 ">
              <div class="block block-rounded block-themed">
                <div class="block-header bg-primary-darker">
                  <h1 class="block-title">[개설과목]</h1>
                  </div>
              <form th:action="@{/stud/basketInsert}" method="post">
              <table class="table table-striped table-vcenter">
                <thead>
                  <tr>
                    <th class="d-none d-sm-table-cell" style="width: 20px;">선택</th>
                    <th class="d-none d-sm-table-cell" style="width: 100px;">이수구분</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">과목코드</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">과목명</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">교수명</th>
                      <th class="d-none d-sm-table-cell" style="width: 110px;">강의실</th>
                      <th class="d-none d-sm-table-cell" style="width: 50px;">학점</th>
                      <th class="d-none d-sm-table-cell" style="width: 50px;">정원</th>
                      <th class="d-none d-sm-table-cell" rowspan = "2" style="width: 120px;">강의시간</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr th:scope="row" th:each="sub, status : ${list}">
                      <th class="fw-semibold fs-sm"><input type="checkbox" name = "courcheck" th:value = "${sub.NO}"></th>
                      <th class="fw-semibold fs-sm" th:text="${@codeList.getName(sub.TYPE)}"></th>
                      <td class="fw-semibold fs-sm" id = "sbjNo" th:text = "${sub.NO}"></td>
                      <td class="fw-semibold fs-sm"><a href = "javascript:planPopup();" id = "subName" th:text = "${sub.NAME}"></a></td>
                      <td class="fw-semibold fs-sm"><a href="javascript:showPopup();" id = "proName" th:text = "${sub.PRONAME}"></a></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(sub.ROOMCODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.POINT}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.LIMIT}"></td>
                    
                    <td class="fw-semibold fs-sm" >
                    	[[${sub.DAYCODE +'  '+ sub.TIMECODE}]]
                     </td>
                    </tr>
                  </tbody>

              </table>
              <div class="d-flex justify-content-end">
                <div class="m-4">
                  <input type="submit" value="신청" class="btn btn-info">
                </div>
              </div>
			</form>
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous" id = "prev">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-double-left"></i>
                    </span>
                    <span class="visually-hidden">Previous</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" id = "pageingBtn" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" id = "pageingBtn" href="javascript:void(0)">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" id = "pageingBtn" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" id = "pageingBtn" href="javascript:void(0)">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)" aria-label="Next" id = "next">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-double-right"></i>
                    </span>
                    <span class="visually-hidden">Next</span>
                  </a>
                </li>
              </ul>
            </div>
           <div class="mb-5 ">
              <div class="block block-rounded block-themed">
                <div class="block-header bg-primary-darker">
                  <h1 class="block-title">[수강꾸러미]</h1>
                  <div class = "d-flex justify-content-end">
                  		<h1 class = "block-title">수강신청가능한 학점 : [[${grade}]]</h1>
                  </div>
                </div>
              <table class="table table-striped table-vcenter">
                  <thead>
                    <tr>
                    
                      <th class="d-none d-sm-table-cell" style="width: 100px;">이수구분</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">과목코드</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">과목명</th>
                      <th class="d-none d-sm-table-cell" style="width: 100px;">교수명</th>
                      <th class="d-none d-sm-table-cell" style="width: 110px;">강의실</th>
                      <th class="d-none d-sm-table-cell" style="width: 50px;">학점</th>
                      <th class="d-none d-sm-table-cell" style="width: 50px;">정원</th>
                      <th class="d-none d-sm-table-cell" rowspan = "2" style="width: 120px;">강의시간</th>
                    <th class="d-none d-sm-table-cell" style="width: 100px;">삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:scope="row" th:each="sub, status : ${baskList}">
                     
                      <th class="fw-semibold fs-sm" th:text="${@codeList.getName(sub.TYPE)}"></th>
                      <td class="fw-semibold fs-sm" th:text = "${sub.NO}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.NAME}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.PRONAME}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(sub.ROOMCODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.POINT}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sub.LIMIT}"></td>
                      <td class="fw-semibold fs-sm" >
	                      [[${sub.DAYCODE +'  '+ sub.TIMECODE}]]
                      </td>
                      <th class="fw-semibold fs-sm"><a class = "btn" th:href = "@{/stud/basketDelete(sbjNo=${sub.NO})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></a></th>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
  document.addEventListener('DOMContentLoaded', function(){
		
		
		let nextBtn = document.querySelector("#next")
		let prevBtn = document.querySelector("#prev")
		let pageingBtn = document.querySelectorAll("#pageingBtn");
		nextBtn.addEventListener('click', function(){
			pageingBtn.forEach(btn =>{
				let a = btn.innerHTML
				btn.innerHTML = parseInt(a)+4;
			})
		})
		
		prevBtn.addEventListener('click', function(){
			pageingBtn.forEach(btn =>{
				let a = btn.innerHTML
				if (parseInt(a) > 4){
					btn.innerHTML = parseInt(a)-4;
				}
				
			})
		})
		
		pageingBtn.forEach(btn =>{
			btn.addEventListener('click',function(){
				let a = btn.innerHTML
				location.href = '/tuna/stud/courseBasket?pageNum='+parseInt(a)
			})
		})
		
		
	})
	function showPopup() {
	    let proName = document.querySelectorAll('#proName');
	    proName.forEach(btn =>{
	   		window.open("/tuna/stud/lectureEvaluationSearch?proName="+btn.innerHTML, "강의평가조회", "width=650, height=600, top=10, left=10");
	    })
	}
    
    function planPopup(){
    	let subName = document.querySelectorAll('#subName');
        let sbjNo = document.querySelectorAll('#sbjNo');
        subName.forEach( function (btn,idx){
      		window.open("/tuna/stud/CoursePlan?sbjNo="+sbjNo[idx].innerHTML, "강의계획서조회", "width=850, height=1000, top=10, left=10");
      		 
        })
    }
  
  
  let header = document.querySelector('meta[name="_csrf_header"]').content;
  let token = document.querySelector('meta[name="_csrf"]').content;
  	fetch('/tuna/stud/courseCheck',{
  		method: "POST",
  		headers: {
            'header': header,
          	'X-Requested-With': 'XMLHttpRequest',
            "Content-Type": "application/json",
            'X-CSRF-Token': token	// header에 X-CSRF-Token부분에 토큰값이 들어가 정상적으로 POST값이 넘어가는 것을 볼 수 있다!
        },
  	}).then(result => result.json())
  	  .then(result =>{
  		  let deptcodes = document.querySelector('#deptCode')
  		  result.forEach(val =>{
  			let opt = document.createElement('option');
  			opt.setAttribute('value', val.DEPTCODE)
  			opt.innerText = val.CODENAME;
  			deptcodes.appendChild(opt)
  		  })
  	  }  	  
  	  );
  
  
  </script>
  </main>
</body>

</html>