<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/navLayout}">
<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="userNo" th:content="${#authentication.name}">
	<title>당해학기 성적 조회</title>
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
	<style>
	.scroll-table-div {
		width: 100%;
		height:300px; 
		overflow:scroll;
	}
	.scroll-table {
		width:1203px;
	}
	</style>
</head>
<body>
<main layout:fragment="main">
	<!-- Hero -->
	<div class="bg-body-light">
		<div class="content content-full content-boxed">
			<div
				class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
				<div class="flex-grow-1 mb-1 mb-md-0">
					<p class="h3 fw-bold mb-2">당해학기 성적 조회</p>
					<p class="h6 fw-medium fw-medium text-muted mb-0 text-gray-dark">
						당해학기 성적 조회 및 성적 이의신청</p>
				</div>
			</div>
		</div>
	</div>
	<!-- END Hero -->
	<!-- Page Content -->
	<div class="mt-3">
		<div class="content content-full content-boxed">
			<!-- Block -->
			<div class="block block-rounded block-themed mb-4">
				<div class="block-header bg-primary-darker">
					<h3 class="block-title">수강 과목 및 성적</h3>
					<div class="block-options">
						<button type="button" class="btn btn-sm btn-light"
							data-bs-toggle="modal" data-bs-target="#objection">성적 이의신청</button>
					</div>
				</div>
				<!-- Table -->
				<div class="scroll-table-div">
				<table class="table table-striped table-vcenter scroll-table m-0">
					<thead>
						<tr>
							<th width=150>연도/학기</th>
							<th width=100>이수구분</th>
							<th width=150>과목코드</th>
							<th>과목명</th>
							<th width=100>학점</th>
							<th width=100>등급</th>
							<th width=100>평점</th>
							<th width=100>강의평가</th>
						</tr>
					</thead>
					<tbody id="currentGradeTb">
						<th:block th:each="grade, i:${grades}">
							<tr>
								<td scope="row" class="text-center fw-semibold fs-sm" th:text="${@codeList.getName(grade.SEASONCODE)}">#</td>
								<td class="fw-semibold fs-sm" th:text="${@codeList.getName(grade.TYPE)}">#</td>
								<td class="fw-semibold fs-sm" th:text="${grade.NO}">#</td>
								<td class="fw-semibold fs-sm" th:text="${grade.NAME}">#</td>
								<td class="fw-semibold fs-sm" th:text="${grade.POINT}">#</td>
								<td class="fw-semibold fs-sm">
									<th:block th:if="${grade.EVALSTATE == 'Y'}" th:text="${grade.ALPHABET}" />
									<th:block th:if="${grade.EVALSTATE == 'N'}" th:text="비공개" />
								</td>
								<td class="text-center fw-semibold fs-sm">
									<th:block th:if="${grade.EVALSTATE == 'Y'}" th:text="${grade.TOTAL}" />
									<th:block th:if="${grade.EVALSTATE == 'N'}" th:text="비공개" />
								</td>
								<td class="text-center fw-semibold fs-sm" th:text="${grade.EVALSTATE}">#</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				</div>
				<!-- END Table -->
			</div>
			<!-- END Block -->
			<!-- Block -->
			<div class="block block-rounded block-themed mb-4">
				<div class="block-header bg-primary-darker">
					<h3 class="block-title">성적 누계</h3>
				</div>
					<!-- Table -->
					<table class="table table-vcenter table-striped m-0">
						<thead>
							<tr>
								<th class="text-center">신청과목수</th>
								<th class="text-center">신청학점</th>
								<th class="text-center">평점평균</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="row" class="text-center fw-semibold fs-sm" th:text="${total.COUNT}">0</td>
								<td class="text-center fw-semibold fs-sm" th:text="${total.SUM}">0</td>
								<td class="text-center fw-semibold fs-sm" th:text="${total.AVG}">0</td>
							</tr>
						</tbody>
					</table>
					<!-- END Table -->
			</div>
			<!-- END Block -->
		</div>
	</div>
	<!-- END Page Content -->
	
	<!-- Objection Modal -->
	<div class="modal" id="objection" tabindex="-1" role="dialog" aria-labelledby="modal-block-vcenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl"role="document">
			<div class="modal-content">
				<div class="block block-rounded block-transparent mb-0">
					<div class="block-header block-header-default">
						<h3 class="block-title">성적 이의신청 및 답변 조회</h3>
						<div class="block-options">
							<button type="button" class="btn-block-option"
								data-bs-dismiss="modal" aria-label="Close">
								<i class="fa fa-fw fa-times"></i>
							</button>
						</div>
					</div>
					<div class="block-content block-content-full">
						<!-- Block -->
						<div class="block block-rounded block-themed mb-4">
							<div class="block-header bg-primary-darker">
								<h4 class="block-title">강의 목록</h4>
							</div>
							<div class="scroll-table-div">
								<table class="table table-hover table-vcenter m-0" style="width:1083px;">
									<thead>
										<tr>
											<th width=150>연도/학기</th>
											<th width=100>이수구분</th>
											<th width=150>과목코드</th>
											<th>과목명</th>
											<th width=100>학점</th>
											<th width=100>등급</th>
											<th width=100>평점</th>
											<th width=100>강의평가</th>
											<th width=100>신청상태</th>
										</tr>
									</thead>
									<tbody id="objectionTb">
										<th:block th:each="grade, i:${grades}">
											<th:block th:if="${grade.EVALSTATE == 'Y'}">
												<tr th:data-pfname="${grade.PFNAME}" 
													th:data-sbjno="${grade.NO}" 
													th:data-sbjname="${grade.NAME}" 
													th:data-objstate="미신청">
													<td class="fw-semibold fs-sm" th:text="${@codeList.getName(grade.SEASONCODE)}">#</td>
													<td class="fw-semibold fs-sm" th:text="${@codeList.getName(grade.TYPE)}">#</td>
													<td class="fw-semibold fs-sm" th:text="${grade.NO}">#</td>
													<td class="fw-semibold fs-sm" th:text="${grade.NAME}">#</td>
													<td class="fw-semibold fs-sm" th:text="${grade.POINT}">#</td>
													<td class="fw-semibold fs-sm" th:text="${grade.ALPHABET}">#</td>
													<td class="fw-semibold fs-sm" th:text="${grade.TOTAL}">#</td>
													<td class="fw-semibold fs-sm" th:text="${grade.EVALSTATE}">#</td>
													<td class="fw-semibold fs-sm table-danger" th:id="${grade.NO}">미신청</td>
												</tr>
											</th:block>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END Block -->
						<!-- Objection Insert Form -->
						<div class="block block-rounded block-themed m-0">
							<div class="block-header bg-primary-darker">
								<h4 class="block-title">이의신청 및 답변 조회</h4>
							</div>
							<table class="table table-vcenter m-0">
								<tr>
									<th scope="row" class="d-none d-xl-table-cell fw-semibold fs-sm table-active" width=150>과목명</th>
									<td id="sbjname" class="fw-semibold fs-sm" width=250></td>
									<th class="d-none d-xl-table-cell fw-semibold fs-sm table-active" width=150>담당교수</th>
									<td id="pfname" class="fw-semibold fs-sm"></td>
									<th class="d-none d-xl-table-cell fw-semibold fs-sm table-active" width=150>신청상태</th>
									<td id="objstate" class="fw-semibold fs-sm"></td>
								</tr>
								<tr>
									<th scope="row" class="d-none d-xl-table-cell fw-semibold fs-sm table-active" width=150>이의신청 내용</th>
									<td class="fw-semibold fs-sm" colspan="5">
										<textarea class="form-control" id="content" rows="4" placeholder="내용을 입력하세요." style="width:100%; resize:none;" disabled></textarea>
									</td>
								</tr>
								<tr>
									<th scope="row" class="d-none d-xl-table-cell fw-semibold fs-sm table-active"width=150>답변</th>
									<td id="answer" class="fw-semibold fs-sm" colspan="5"></td>
								</tr>
							</table>
						</div>
						<!-- END Objection Insert Form -->
					</div>
					<div class="block-content block-content-full text-end bg-body">
						<button type="button" class="btn btn-sm btn-alt-secondary me-1"
							data-bs-dismiss="modal">닫기</button>
						<button type="button" id="objInsertBtn" class="btn btn-sm btn-primary" disabled>등록</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Objection Modal -->
	<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
	<script th:src="@{/resources/assets/js/dialog.js}"></script>
	<script type="text/javascript">
		var header = $("meta[name='_csrf_header']").attr('content');
		var token = $("meta[name='_csrf']").attr('content');
		var userNo = $("meta[name='userNo']").attr('content');
	
		$(function() {
			objectionListSelectAjax();
			objectionView();
			objectionInsert();
		})
		
	    // 성적 이의신청 등록
		function objectionInsert() {
			
			$('#objInsertBtn').on('click', function() {
				
				let sbjNo = $(this).data('sbjno');
				let content = $('#content').val();
				
				if(!content) {
					Dialogs.dialog('error',
							  	   '등록 불가',
							 	   '내용을 작성해 주세요.');
				} else {
					
					Dialogs.dialog(
						'checkConfirm',
						'정말로 등록하시겠습니까?',
						'한 번 등록한 이의신청은 변경할 수 없습니다.',
						function() {
							$.ajax({
								url: getContextPath() + 'stud/portal/objection',
								type: 'PUT',
								data: JSON.stringify({ stNo:userNo,
									    			   sbjNo:sbjNo,
									   				   content:content }),
							    contentType : 'application/json',
								dataType: 'json',
								beforeSend: function (xhr) {
								       xhr.setRequestHeader(header, token);
									}
								
							}).done(function(result) {
								if(result) {
									Dialogs.dialog('success', 
							                       '이의신청 완료', 
							                       '성적 이의신청이 완료되었습니다.');
									
									objectionListSelectAjax();
									
									let datas = ['pfname', 'sbjname', 'objstate', 'content', 'answer'];
									for (data of datas) {
										$(`#${data}`).text('');
									}
									$('#content').val('').attr('disabled', true);
									$('#objectionTb tr').removeClass('table-primary');
									$('#objInsertBtn').attr('disabled', true);
								}
						})
          			});
				}
			});
		}
		
		// 성적 이의신청 리스트
		function objectionListSelectAjax() {
			$.ajax({
				
				url: getContextPath() + 'stud/portal/objection',
				type: 'GET',
				data: {stNo:userNo},
				dataType: 'json'
				
			}).done(function(objList){
				
				for (obj of objList) {
					
					$(`#${obj.sbjNo}`).text(obj.objState);

					if (obj.objState === '답변 대기') {
						$(`#${obj.sbjNo}`).removeClass('table-danger');
						$(`#${obj.sbjNo}`).addClass('table-warning');
					} else {
						$(`#${obj.sbjNo}`).removeClass('table-danger');
						$(`#${obj.sbjNo}`).addClass('table-success');
					}
					
					$(`#${obj.sbjNo}`).closest('tr').data('objstate', obj.objState)
												    .data('content', obj.content)
												    .data('answer', obj.answer);
				}
			})
		}
		
		// 이의신청 1건 보기
		function objectionView() {
			$(document).on('click', '#objectionTb tr', objTableMake);
		}
		
		// 이의신청 insert table
		function objTableMake() {
				
				$('#objectionTb tr').removeClass('table-primary');
				$(this).addClass('table-primary');
				
				$('#content').attr('disabled', false);
				$('#objInsertBtn').attr('disabled', false);
				
				let datas = ['pfname', 'sbjname', 'objstate', 'content', 'answer'];
				
				for (data of datas) {
					$(`#${data}`).text('');
					$(`#${data}`).text($(this).data(data));
					$(`#${data}`).val($(this).data(data));
				}
				
				if ($(this).data('content')) {
					$('#content').attr('disabled', true);
					$('#objInsertBtn').attr('disabled', true);
				}
				
				$('#objInsertBtn').data('sbjno', $(this).data('sbjno'));
				
			}
		
		function getContextPath() {
			var pathName = window.location.pathname.substring(1);
			var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
			var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
			return path_root;
		}
	
	</script>
</main>
</body>
</html>