<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>강의 계획서 조회</title>
</head>
<body>
<th:block th:fragment="lecturePlan">
	<div class="tab-pane active" id="btabs-static-subject"
		role="tabpanel" aria-labelledby="btabs-static-subject-tab">
		<!-- Form -->
		<input type="hidden" name="username" th:value="${#authentication.name}">
		<div class="row">
			<div class="col-xl-4">
				<div class="mb-3 mb-xl-2 ">
					<select id="lecturePlanSelect" class="form-select" name="seasonCode">
						<option selected value="noSelect">연도/학기</option>
						<th:block th:each="seasonCode : ${seasonCodes}">
							<option th:value="${seasonCode.no}" 
							    	th:text="${seasonCode.codeName}">#</option>
						</th:block>
					</select>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="block block-rounded bg-primary-darker mb-2">
					<div class="space-x-2 text-center text-gray-light">
						<div class="form-check form-check-inline">검색 대상</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								id="lecture" name="searchKey"
								value="lecture" checked> 
							<label class="form-check-label" for="lecture">과목명</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								id="prof" name="searchKey"
								value="professor"> 
							<label class="form-check-label" for="prof">교수명</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="mb-3">
					<input id="inputTxt" type="text" class="form-control" name="key" placeholder="검색어">
				</div>
			</div>
			<div class="col-md-12 col-xl-1">
				<div class="mb-3">
					<button type="button" id="search" class="btn btn-primary w-100 submit-btn">조회</button>
				</div>
			</div>
		</div>
		<!-- END Form -->
		<!-- Table -->
		<div class="mb-4 scroll-table-div">
			<table class="table table-striped table-vcenter scroll-table m-0">
				<thead>
					<tr>
						<th style="width: 70px;">과목코드</th>
						<th style="width: 100px;">개설학과</th>
						<th style="width: 120px;">이수구분</th>
						<th style="width: 230px;">과목명</th>
						<th style="width: 100px;">교수명</th>
						<th style="width: 70px;">학년</th>
						<th style="width: 70px;">학점</th>
					</tr>
				</thead>
				<tbody id="lecturePlanTb">
					
				</tbody>
			</table>
		</div>
		<!-- END Table -->
	</div>
			
	<!-- lecture Plan Modal -->
	<div class="modal" id="lecturePlan" tabindex="-1" role="dialog" aria-labelledby="modal-block-vcenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl"role="document">
			<div class="modal-content">
				<div class="block block-rounded block-transparent mb-0">
					<div class="block-header block-header-default">
						<h3 class="block-title">강의 계획서</h3>
						<div class="block-options">
							<button type="button" class="btn-block-option"
								data-bs-dismiss="modal" aria-label="Close">
								<i class="fa fa-fw fa-times"></i>
							</button>
						</div>
					</div>
					<div class="block-content block-content-full">
						<div class="d-flex justify-content-center" style="width:100%;">
							<table id="lp_table" class="table table-vcenter table-bordered">
								<tr>
									<th class="fw-semibold fs-sm">교과목명</th>
									<th id="lp_name" class="fw-semibold fs-sm" colspan="8"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm">교수명</th>
									<th id="lp_pronm" class="fw-semibold fs-sm" colspan="4"></th>
									<th class="fw-semibold fs-sm">소속학과</th>
									<th id="lp_deptcode" class="fw-semibold fs-sm" colspan="4"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm">이메일</th>
									<th id="lp_email" class="fw-semibold fs-sm" colspan="4"></th>
									<th class="fw-semibold fs-sm">연락처</th>
									<th id="lp_tel" class="fw-semibold fs-sm" colspan="4"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm">과목코드</th>
									<th id="lp_no" class="fw-semibold fs-sm" colspan="4"></th>
									<th class="fw-semibold fs-sm">개설년도/학기</th>
									<th id="lp_seasoncode" class="fw-semibold fs-sm" colspan="4"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm">수강대상</th>
									<th id="lp_target" class="fw-semibold fs-sm" colspan="4"></th>
									<th class="fw-semibold fs-sm">강의실</th>
									<th id="lp_roomcode" class="fw-semibold fs-sm" colspan="4"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm">요일/교시</th>
									<th id="lp_daytime" class="fw-semibold fs-sm" colspan="4"></th>
									<th class="fw-semibold fs-sm">학점</th>
									<th id="lp_point" class="fw-semibold fs-sm" colspan="4"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm" colspan="2" rowspan="2">평가기준(%)</th>
									<th:block class="col-8">
									<th class="fw-semibold fs-sm" colspan="2" >출 석</th>
									<th class="fw-semibold fs-sm" colspan="2" >중간고사</th>
									<th class="fw-semibold fs-sm" colspan="2" >기말고사</th>
									<th class="fw-semibold fs-sm" colspan="2" >과제</th>
								</tr>
								<tr>
									<th id="lp_attd" class="fw-semibold fs-sm" colspan="2"></th>
									<th id="lp_middle" class="fw-semibold fs-sm" colspan="2"></th>
									<th id="lp_finals" class="fw-semibold fs-sm" colspan="2"></th>
									<th id="lp_task" class="fw-semibold fs-sm" colspan="2"></th>
								</tr>
								<tr>
									<th class="fw-semibold fs-sm" colspan="9">주차별 강의계획</th>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END lecture Plan Modal -->
	
	<!-- lecture Evaluation Modal -->
	<div class="modal" id="lectureEval" tabindex="-1" role="dialog" aria-labelledby="modal-block-vcenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl"role="document">
			<div class="modal-content">
				<div class="block block-rounded block-transparent mb-0">
					<div class="block-header block-header-default">
						<h3 class="block-title">강의평가</h3>
						<div class="block-options">
							<button type="button" class="btn-block-option"
								data-bs-dismiss="modal" aria-label="Close">
								<i class="fa fa-fw fa-times"></i>
							</button>
						</div>
					</div>
					<div class="block-content block-content-full">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END lecture Evaluation Modal -->
	<script th:inline="javascript">
	
	$(function() {
		search();
	})
	
 	function lectureEvalPop(pfNo) {
		
	   	let popup = window.open( "/tuna/stud/course/Search?proNo=" + pfNo, 
	   			                 "강의평가 조회", "width=650, height=600, top=10, left=10");
	    
	}
    
    function lecturePlanPop(sbjNo){
    	  
	     let popup = window.open( "/tuna/stud/course/plan?sbjNo=" + sbjNo, 
	        		              "강의계획서 조회", "width=850, height=1000, top=10, left=10" );
 
    }
	
	function search() {
		
		$('#inputTxt').on('keypress', function(e) {
			if (e.keyCode == 13) searchEvent();
		})
		
		$('#search').on('click', function () {
			searchEvent();
		})
	}
	
	function searchEvent() {
		
		// value check
		let elemAry = [{'element':$('#lecturePlanSelect'), 'message':'옵션을 선택해 주세요.'},
					   {'element':$('#inputTxt'), 'message':'빈 칸을 입력해 주세요.'}];
		
		for (let obj of elemAry) {
			
			let condition = obj.element.length && !obj.element.val();
			if(obj.element.attr('id') === 'lecturePlanSelect') {
				condition = (obj.element.length && obj.element.val() === 'noSelect');
			}
			
			if(condition) {
				cautionIn(obj.element, obj.message);
				return;
			} else {
				cautionOut(obj.element);
			}
		}
		
		searchSubjectsAjax();
		
	}	
	
	// form 입력값 없을 때 경고 텍스트 in
	function cautionIn(target, txt) {
		let cautionId = `${target.attr('id')}Check`;
		
		target.addClass('is-invalid');
		$(`#${cautionId}`).remove();
		target.parent().append($('<div>').addClass('invalid-feedback')
									  	 .attr('id', cautionId)
									  	 .text(txt));
	}

	// form 입력값 있을 때 경고 텍스트 out
	function cautionOut(target) {
		let caution = `#${target.attr('id')}Check`;
		
		target.removeClass('is-invalid');
		$(caution).remove();
	}
	
	function searchSubjectsAjax() {
			
		let seasonCode = $('select[id=lecturePlanSelect]').val();
		let key = $('input[name=key]').val();
		let searchKey = $('input:radio:checked').val();
		
		$.ajax({
			
			url: getContextPath() + 'stud/portal/searchSubjectList',
			type: 'GET',
			data: {seasonCode:seasonCode,key:key,searchKey:searchKey},
			dataType: 'json',

		}).done(function(subjects) {
			
			$('#lecturePlanTb').html('');
			
			for (subject of subjects) {

				$('#lecturePlanTb')
					.append($('<tr>')
							.append($('<td>').addClass('fw-semibold fs-sm')
											 .append($('<a>').attr('href', `javascript:lecturePlanPop(${subject.no})`)
													 		 .addClass('lecturePlanLink')
													   		 .text(subject.no)))
							.append($('<td>').addClass('fw-semibold fs-sm').text(subject.deptCode))
							.append($('<td>').addClass('fw-semibold fs-sm').text(subject.type))
							.append($('<td>').addClass('fw-semibold fs-sm').text(subject.name))
							.append($('<td>').addClass('fw-semibold fs-sm')
											 .append($('<a>').attr('href', `javascript:lectureEvalPop(${subject.professorVO.no})`)
													   		 .text(subject.professorVO.name)))
							.append($('<td>').addClass('fw-semibold fs-sm').text(subject.target))
							.append($('<td>').addClass('fw-semibold fs-sm').text(subject.point))
							);
			}
		})
	}
	
	function getContextPath() {
		var pathName = window.location.pathname.substring(1);
		var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
		var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
		return path_root;
	}
	</script>
</th:block>
</body>
</html>