<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="tab-pane" id="btabs-static-mysubject" role="tabpanel" aria-labelledby="btabs-static-mysubject-tab">
		<!-- Input -->
		<form class="row" id="mySbjSelFrm">
			<div class="col-md-6 col-xl-4">
				<div class="mb-2">
					<select class="form-select" id="year" name="year">
						<option selected>연도</option>
						<option value="2022">2022</option>
						<option value="2021">2021</option>
						<option value="2020">2020</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="mb-2">
					<select class="form-select" id="semester" name="semester">
						<option selected>학기</option>
						<option value="1">1</option>
						<option value="2">2</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 col-xl-2">
				<div class="block block-rounded bg-primary-darker mb-2">
					<div class="space-x-2 text-center text-gray-light">신청 과목수 0</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-2">
				<div class="block block-rounded bg-primary-darker mb-3">
					<div class="space-x-2 text-center text-gray-light">신청 학점 0</div>
				</div>
			</div>
		</form>
		<!-- END Input -->
		<!-- Table -->
		<div class="mb-4 scroll-table-div">
			<table class="table table-striped table-vcenter scroll-table">
				<thead>
					<tr>
						<th style="width: 120px;">과목번호</th>
						<th style="width: 230px;">과목명</th>
						<th style="width: 200px;">개설학과</th>
						<th style="width: 100px;">이수구분</th>
						<th style="width: 100px;">담당교수</th>
						<th>강의실/강의시간</th>
						<th class="d-none d-sm-table-cell">강의평가</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row" class="fw-semibold fs-sm">49171-01</td>
						<td class="fw-semibold fs-sm">비주얼인포메이션디자인(2)</td>
						<td class="fw-semibold fs-sm">예술대학 디자인학부</td>
						<td class="fw-semibold fs-sm">전공</td>
						<td class="fw-semibold fs-sm">이설민</td>
						<td class="fw-semibold fs-sm">808관(조형관) 423호 시각디자인실 /
							화5,6,7,8</td>
						<td class="fw-semibold fs-sm">O</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- END Table -->
	</div>
</body>
</html>