<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수강 내역 조회</title>
</head>
<body>
	<th:block th:fragment="mySubject">
		<div class="tab-pane" id="btabs-static-mysubject" role="tabpanel"
			aria-labelledby="btabs-static-mysubject-tab">
			<!-- Input -->
			<div class="row">
				<div class="mb-3 mb-xl-2 col-xl-4">
					<select id="mySubject" class="form-select" name="seasonCode">
						<option selected value="noSelect">연도/학기</option>
						<option value="106">2022년도 2학기</option>
						<option value="105">2022년도 1학기</option>
					</select>
				</div>
				<div class="col-md-6 col-xl-4">
					<div class="block block-rounded bg-primary-darker mb-2">
						<div class="space-x-2 text-center text-gray-light">
							신청 과목수 <span id="mySubjectCount">0</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-4">
					<div class="block block-rounded bg-primary-darker mb-3">
						<div class="space-x-2 text-center text-gray-light">
							신청 학점 <span id="mySubjectTotal">0</span>
						</div>
					</div>
				</div>
			</div>
			<!-- END Input -->
			<!-- Table -->
			<div class="mb-4 scroll-table-div">
				<table class="table table-striped table-vcenter scroll-table m-0">
					<thead>
						<tr>
							<th style="width: 120px;">과목번호</th>
							<th style="width: 230px;">과목명</th>
							<th style="width: 200px;">개설학과</th>
							<th style="width: 100px;">이수구분</th>
							<th style="width: 100px;">담당교수</th>
							<th>강의실/강의시간</th>
						</tr>
					</thead>
					<tbody id="mySubjectTb">

					</tbody>
				</table>
			</div>
			<!-- END Table -->
		</div>
		<script th:inline="javascript">
		var userNo = $("meta[name='userNo']").attr('content');
	
		$(function() {
			findMySubjectAjax();
		})
	
		
		function findMySubjectAjax() {
			
			$('#mySubject').on('change', function () {
				
				let seasonCode = $('select[id=mySubject]').val();
				
				$.ajax({
					
					url: getContextPath() + 'stud/portal/mySubjectList',
					type: 'GET',
					data: {seasonCode:seasonCode,stNo:userNo},
					dataType: 'json',

				}).done(function(mySubjects) {
					
					let count = 0;
					let totalPoint = 0;
					
					// 과목 리스트
					$('#mySubjectTb').html('');
					
					for (subject of mySubjects) {
						
						count++;
						totalPoint += parseInt(`${subject.POINT}`);
						
						$('#mySubjectTb').append($('<tr>').attr('id', subject.SBJNO)
										 .append($('<td>').addClass('fw-semibold fs-sm').text(subject.SBJNO))
										 .append($('<td>').addClass('fw-semibold fs-sm').text(subject.NAME))
										 .append($('<td>').addClass('fw-semibold fs-sm').text(subject.DEPTCODE))
										 .append($('<td>').addClass('fw-semibold fs-sm').text(subject.TYPE))
										 .append($('<td>').addClass('fw-semibold fs-sm').text(subject.PFNAME))
										);
						
						let txt = '';
						
						 if(subject.DAYCODE.search('/') != -1) {
							let days = subject.DAYCODE.split('/');
							let times = subject.TIMECODE.split(' ');
							txt = `${subject.ROOMCODE} ${days[0]} ${times[0]} / ${days[1]} ${times[1]}`;
						} else {
							txt = `${subject.ROOMCODE} ${subject.DAYCODE} ${subject.TIMECODE}`;
							
						}

						$(`#${subject.SBJNO}`).append($('<td>').addClass('fw-semibold fs-sm').text(txt));
						
					}
					
					// 신청 과목 수, 신청 학점
					$('#mySubjectCount').text(count);
					$('#mySubjectTotal').text(totalPoint);
				})
			}) 
		}
	
	</script>
	</th:block>
</body>
</html>