<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/navLayout}">
<head>
	<meta charset="UTF-8">
	<title>subjectAndReport</title>
	<style>
	.space-x-2 {
		padding: 7px 15px;
	}
	.chart-margin {
		margin: 2rem 0 6rem 0;
	}
	.scroll-table-div {
		width: 100%;
		min-height:200px;
		max-height:450px; 
		overflow:scroll;
	}
	
	.scroll-table {
		width:1163px;
	}
	</style>
</head>
<body>
	<!-- Hero -->
	<div class="bg-body-light">
		<div class="content content-full content-boxed">
			<div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
				<div class="flex-grow-1 mb-1 mb-md-0">
					<h2 class="h2 fw-bold mb-2">강의 / 성적 조회</h2>
					<h2 class="h6 fw-medium fw-medium text-muted mb-0 text-gray-dark">강의 계획서, 수강 내역 및 성적 조회 페이지입니다.</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- END Hero -->
	<!-- Page Content -->
	<div class="mt-3">
		<div class="content content-boxed">
			<div class="block block-rounded">

				<!-- Tab -->
				<ul class="nav nav-tabs nav-tabs-block" role="tablist">
					<li class="nav-item">
						<button class="nav-link active" id="btabs-static-subject-tab"
							data-bs-toggle="tab" data-bs-target="#btabs-static-subject"
							role="tab" aria-controls="btabs-static-subject"
							aria-selected="true">강의 계획서 조회</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" id="btabs-static-mysubject-tab"
							data-bs-toggle="tab" data-bs-target="#btabs-static-mysubject"
							role="tab" aria-controls="btabs-static-mysubject"
							aria-selected="false">수강 내역 조회</button>
					</li>
					<li class="nav-item">
						<button class="nav-link" id="btabs-static-grade-tab"
							data-bs-toggle="tab" data-bs-target="#btabs-static-grade"
							role="tab" aria-controls="btabs-static-grade"
							aria-selected="false">보관 성적 조회</button>
					</li>
				</ul>
				<!-- END Tab -->

				<!-- Block -->
				<div class="block-content tab-content">
				
					<!-- SUBJECT Tab -->
					
					<!-- END SUBJECT Tab -->

					<!-- MYSUBJECT Tab -->
					
					<!-- END MYSUBJECT Tab -->

					<!-- Grade Report Tab -->

					<!-- END Grade Report Tab -->
				</div>
				<!-- END Block -->
			</div>
		</div>
	</div>
	<!-- END Page Content -->

	<!-- Script -->
	<script th:src="@{/resources/assets/js/oneui.app.min.js)"></script>
	<script th:src="@{/resources/assets/js/lib/jquery.min.js)"></script>

	<!-- END Script -->
</body>
</html>