<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-layout-decorate="~{layouts/adminLayout}">

<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link
	href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css"
	rel='stylesheet'>
<link rel="stylesheet"
	th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
			
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="fullcalendar.css">
<meta charset="UTF-8">
<title>adminSchedule</title>
<style>
/* body 스타일 */
html, body {
	overflow: hidden;
	font-size: 14px;
}

.fc-header-toolbar {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.fc-day-sun a {
  color: rgb(184, 108, 111);
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: rgb(69, 123, 169);
  text-decoration: none;
}

.fc-h-event{
border-radius:40px;
} 

.fc-event-title-container{
border-radius:4px;
background-color:rgb(64, 103, 135);
}



</style>
</head>

<body >
	<main layout:fragment="main">
		<!-- title start -->
		<div class="content content-boxed">
			<h3 class="fw-bold">학사일정 관리</h3>
			<div class="block block-rounded">
				<!-- calendar 태그 -->
				<div id='calendar-container'>
					<div id='calendar'></div>
				</div>
			</div>
		</div>


		<script th:inline="javascript">
		var header = $("meta[name='_csrf_header']").attr('content');
		var token = $("meta[name='_csrf']").attr('content');
			
		
    (function () {
    	
    	
    	
        $(function calendar(){
    
        	check()
        	var calendarList = []
        	
    		$.ajax({
    			url:getPathRootJump()+'admin/adminScheduleList',
    			method:'GET',
    			dataType :'json'
    		}).done(function(datas){

				for (data of datas){
					
	    			let obj = {
	    				title : data.content,
	    				start : data.startDate,
	    				end : data.endDate,
	    				no : data.no	
	    			}
	    			calendarList.push(obj)
				}
				
				// calendar element 취득
	            var calendarEl = $('#calendar')[0];
	            // full-calendar 생성하기
	            var calendar = new FullCalendar.Calendar(calendarEl, {
	                height: '700px', // calendar 높이 설정
	                expandRows: true, // 화면에 맞게 높이 재설정
	                // 해더에 표시할 툴바
	                headerToolbar: {
	                    left: '',
	                    center: 'title',
	                    right: 'prev,next'
	                },
	                editable: true, // 수정 가능?
	                selectable: true, // 달력 일자 드래그 설정가능
	                nowIndicator: true, // 현재 시간 마크
	                dayMaxEvents: false, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
	                locale: 'ko', // 한국어 설정
	                
	                //등록이벤트
	                select: async function (arg) {
	                	await Swal.fire({
	                		  title: '일정 등록',
	                		  html: 
	                			    `<select id="scheduleSelect" name="scheduleCode" class="form-select mb-2">
	                			    <option selected value="9999">일정 선택</option>
									<option value="1101">개강</option>
									<option value="1102">종강</option>
									<option value="1103">수강꾸러미</option>
									<option value="1104">수강신청</option>
									<option value="1105">강의평가</option>
									<option value="1106">성적확인 및 이의신청</option>
									<option value="1107">등록금 납부 기간</option>
									<option value="0">그 외</option>
								</select>`
								+`<select id="seasonSelect" name="seasonCode" class="form-select  mb-2">
								<option selected value="9999">학기 선택</option>
								<option value="107">2023 1학기</option>
								<option value="106">2022 2학기</option>
								<option value="105">2022 1학기</option>
								</select>`
								+ '<input type="text" required id="title" class="form-control  mb-2" placeholder="일정을 입력하세요">'	,                		  
								showCancelButton:true,
								confirmButtonColor: 'rgb(17, 64, 105)',
	                		  preConfirm: function () {
	                			    return new Promise(function (resolve) {
	                			      resolve([
	                			        $('#title').val(),
	                			        $('#scheduleSelect').val(),
	                			        $('#seasonSelect').val()
	                			      ])
	                			    })
	                			  },
	                	
	                		}).then(function(result){
	                			
	                			if($("#scheduleSelect").val() == 9999){
	                				Dialogs.dialog('error', 
	            		                    '', 
	            		                    '일정사항을 선택해주세요.');
                    	    		return false;
                    	    		}
                    			else if($("#seasonSelect").val() == 9999){
                    				Dialogs.dialog('error', 
                		                    '', 
                		                    '학기를 선택해주세요.');
                    	    		return false;
                    	    		}
                    			else if($("#title").val() =='' ||$("#title").val() =='null' ){
                    				Dialogs.dialog('error', 
                		                    '', 
                		                    '일정을 입력해주세요.');
                    	    		return false;
                    	    	}	
	                			
	                			 $.ajax({
	                    		url:getPathRootJump()+'admin/adminScheduleInsert',
	                    		method:'post',
	                    		dataType:'json',
	                    		contentType : 'application/json; charset=utf-8',
	                    		data:JSON.stringify({content:result.value[0],
	                    			                 startDate:moment(arg.start).format('YYYY-MM-DD'), 
	                    			                 endDate:moment(arg.end).format('YYYY-MM-DD'),
	                    			                 scheduleCode:result.value[1],
	                    			                 seasonCode:result.value[2]
	                    							}),
	                    		beforeSend : function(xhr) {
	    							xhr.setRequestHeader(header, token);
	    						}	                    	
	                    		}).done(function(result){
	                    			console.log($("#scheduleSelect").val())
	                    			   			
	                    			Dialogs.dialog('success', 
		                    		                '등록완료', 
		                    		                  '',
		                    		  function(){
		    	                    		location.reload();
		                    			});
	                    		})
	                		})

	                  },//end select
	                  
	                  //삭제 이벤트
	                  eventClick:function(arg){	                	    	  
	                	    	  var result = arg.event._def.title.substr(0, 29);
	                	  Dialogs.dialog('warnConfirm', 
	                			  '삭제하시겠습니까?', 
	                			  '* '+ result + ' *', 
				                    function() {
	                		  
		                		 $.ajax({
			                			url:getPathRootJump()+'admin/adminSchduleDelete',
			                			method:'DELETE',
			                    		dataType:'json',
			                    		contentType : 'application/json; charset=utf-8',
			                    		data:JSON.stringify({no:arg.event._def.extendedProps.no}),
			                    		beforeSend : function(xhr) {
			    							xhr.setRequestHeader(header, token);
			    						}
			                		 }).done(function(){
			                			 arg.event.remove()
			                		 })
	                		  
										
									});
	                		 
	                	 
	                  }
	                  // 이벤트 
	                   ,events:calendarList
	                   
	                });
	                // 캘린더 랜더링
	                calendar.render();
	                    			
    		})
    		
                
              });
        
		
            })();

    
</script>
<script>
function check(){
	
}

</script>
		<script>
		function getPathRootJump() {
		    var pathName = window.location.pathname.substring(1);
		    var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
		    var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
		    return path_root;
		 }
</script>
		<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<script th:src="@{/resources/assets/js/dialog.js}"></script>
		<script
			th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
<script
			src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
		<script
			src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

	</main>
</html>