<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
	<link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.min.css}">
</head>
<body>
<main id="page-container">
	<div class="block">
	<button type="button" id="success" class="btn btn-sm btn-primary">success</button>
	<button type="button" id="checkConfirm" class="btn btn-sm btn-success">checkConfirm</button>
	<button type="button" id="warnConfirm" class="btn btn-sm btn-warning">warnConfirm</button>
	<button type="button" id="error" class="btn btn-sm btn-danger">error</button>
	<button type="button" id="info" class="btn btn-sm btn-dark">info</button>
	<button type="button" id="question" class="btn btn-sm btn-light">question</button>
	</div>
</main>
	
	<script th:src="@{/resources/assets/js/lib/jquery.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
	<script th:src="@{/resources/assets/js/dialog.js}"></script>
	<script>
	
		$('#success').on('click', function() {
			Dialogs.dialog('success', 
		                   '완료', 
		                   '완료입니다');
		})
		
		$('#checkConfirm').on('click', function() {
			let result = Dialogs.dialog('checkConfirm', 
					                    '수정하시겠습니까?', 
					                    '언제든 변경 가능', 
					                    function() {
											Dialogs.dialog('success', 
									                   '완료', 
									                   '완료입니다');
										});
		})
		
		$('#warnConfirm').on('click', function() {
			let result = Dialogs.dialog('warnConfirm', 
					                    '삭제하시겠습니까?', 
					                    '돌이킬 수 없어요', 
					                    function() {
											console.log('삭제 완료');
										});
		})
		
		$('#error').on('click', function() {
			let result = Dialogs.dialog('error', 
					                    '작업 취소', 
					                    '에러났어요 고쳐오세요!', 
					                    function() {
											console.log('에러 확인');
										});
		})
		
		$('#info').on('click', function() {
			let result = Dialogs.dialog('info', 
					                    '정보', 
					                    '읽었으면 확인을 누르세요');
		})
		
		$('#question').on('click', function() {
			let result = Dialogs.dialog('question', 
					                    '아래 사항을 확인해 주세요	', 
					                    '이렇게 할거야 알겠지? 분명히 말했어용', 
					                    function() {
											console.log('질문 확인');
										});
		})
		
	</script>
</body>
</html>