<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>Insert title here</title>
<script th:src="@{/resources/assets/js/lib/jquery.min.js}"></script>
</head>
<body>
	<div>
		다중 업로드 ajax
		<input type="file" id="multiple" name="file" multiple>
		<button id="multiTest" type="button">등록</button>
	</div>
	
	<form th:action="@{/admin/multiTest(${_csrf.parameterName}=${_csrf.token})}" 
			method="post" enctype="multipart/form-data" >
		다중 업로드 form
		<input type="file" name="file[]" multiple>
		<button type="submit">등록</button>
	</form>
	
	<div>
		1건 업로드 ajax
		<input type="file" id="single" name="file">
		<button id="singleTest" type="button">등록</button>
	</div>
	
	<form th:action="@{/admin/singleTest(${_csrf.parameterName}=${_csrf.token})}" 
			method="post" enctype="multipart/form-data" >
		1건 업로드 form
		<input type="file" name="file">
		<button type="submit">등록</button>
	</form>

	<script type="text/javascript">
	
		var header = $("meta[name='_csrf_header']").attr('content');
		var token = $("meta[name='_csrf']").attr('content');
		
		$(function(){
			multiTest();
			singleTest();
		})
		
		function multiTest() {
			
			$('#multiTest').on('click', function() {
				let formData = new FormData();
				let count = $('#multiple').prop('files').length;
				
				for (let i=0; i<count; i++) {
					formData.append('file[]', $('#multiple').prop('files')[i]);		
				}
				
				$.ajax({
							url: getContextPath() + 'admin/multiTest',
							method:'POST',
							data: formData,
							contentType: false,
							processData: false,
							beforeSend: function (xhr) {
						       xhr.setRequestHeader(header, token);
							}
					})
			})
			
		}
		
		function singleTest() {
			
			$('#singleTest').on('click', function() {
				let formData = new FormData();
				formData.append('file', $('#single').prop('files')[0]);		
				
				$.ajax({
							url: getContextPath() + 'admin/singleTest',
							method:'POST',
							data: formData,
							contentType: false,
							processData: false,
							beforeSend: function (xhr) {
						       xhr.setRequestHeader(header, token);
							}
					})
			})
			
		}
		
		function getContextPath() {
			var pathName = window.location.pathname.substring(1);
			var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
			var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
			return path_root;
		}
		
	</script>
</body>
</html>