<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>E-Class 공지 상세</title>
    <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
    <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
    <script th:src="@{/resources/assets/js/dialog.js}"></script>
  <style>
  	.header-rounded {
  		border-top-left-radius: 0.25rem;
  		border-top-right-radius: 0.25rem;
  	}
  	
  	figure {
         flex: 0 0 auto;
         width: 100%;
      }

    @media (max-width: 800px) {

       figure img {
          width: 100%;
       }

    }
  </style>
  </head>
  <body>
      <main id="main-container" layout:fragment="main">
        <div class="content content-full pt-5">
          <div class="col-xxl-12">
            <div class="d-flex">
              <div class="col-5 col-md-4 col-xxl-3 header-rounded bg-body-light row py-2 px-3 ms-2 mb-0">
                <div class="col-sm-5 text-start">과목</div>
                <div class="col-sm-7 wrap fw-bold" th:text="${notice.subjectVO.name}">과목 데이터가 없습니다</div>
              </div>
              <div class="col-5 col-md-4 col-xxl-3 header-rounded bg-body-light row py-2 px-3 mb-0">
                <div class="col-sm-5 wrap text-start" style="width: 70px">작성일</div>
                <div class="col-sm-7 wrap fw-bold" th:text="${notice.enrollDate}">작성일 데이터가 없습니다!</div>
              </div>
            </div>
            <form th:action = @{/staff/eclass/noticeUpdate} method = "post">
	            <div class="block block-rounded mb-4">
	              <div class="block-content">
	                <div class="row mt-2">
	                  <p class="h4 mb-0" th:text="${notice.title}">제목 데이터가 없습니다</p>
	                  <input type = "hidden" th:value = "${notice.no}" name = "no">
	                  <input type = "hidden" th:value = "${notice.title}" name = "title">
	                </div>
	                <hr>
	                <div class="row">
	                  <p class="col-12 px-5" th:utext=${notice.content}>
	                    내용 데이터가 없습니다!
	                  </p>
	                  <input type = "hidden" th:value = "${notice.content}" name = "content">
	                </div>
	              </div>
	            </div> <!-- block end-->
	            <div class="row justify-content-center">
					<input type ="button" class="col-5 col-lg-1 me-2 btn btn-primary" onclick = "javascript:noticeDel();" value = "삭제">
					<input type = "submit" class="col-5 col-lg-1 me-2 btn btn-dark" value = "수정">
	            </div>
            </form>
            
          </div> <!-- col-12 end -->

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
    <script>
    function noticeDel(){
    	Dialogs.dialog('warnConfirm', '해당공지를 삭제 하시겠습니까?', '확인을 누르시면 삭제가 진행 됩니다.', noticeDelete);
    }
    
    function noticeDelete(){
    	let no = document.querySelector("[name = no]").value
    	let header = document.querySelector('meta[name="_csrf_header"]').content;
        let token = document.querySelector('meta[name="_csrf"]').content;

    	
    	fetch('noticeDelete',{
    		method : "POST",
    		 headers: {
                 'header': header,
                 'X-Requested-with': 'XMLHttpRequest',
                 'Content-Type': 'application/json; charset=utf-8',
                 'X-CSRF-Token': token
               },
    		body : JSON.stringify({"no":no})
    	}).then(result => {
    		  location.href = document.referrer+'?msg=4'
    	})
    }
    	
    
    
    </script>    
        
    <script src="../assets/js/oneui.app.min.js"></script>
        <th:block th:if = "${(success != null && success != '') || (error != null && error != '')}">
		<script th:inline="javascript">
			let success = /*[[${success}]]*/ 'default';
			let error = /*[[${error}]]*/ 'default';
			if (success) {
				Dialogs.dialog('success', '완료', success);
			} else if (error) {
				Dialogs.dialog('error', '실패', error);
			}
		</script>
	</th:block>
        
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    
  </body>
</html>
