<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title>E-Class 공지 등록</title>
  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
  <style>
     .ck-editor__editable {
       min-height: 380px;
     }
  </style>
  </head>
  <body>

      <main id="main-container" layout:fragment="main">
        <div class="content content-full">
          <h2 class="h3 fw-bold d-none d-lg-block">공지사항 등록</h2>
          <div class="col-xxl-12">
            <div class="block block-rounded">
              <div class="block-content block-content-full">
                <form th:action="@{/staff/eclass/notice}" method="POST" id = "frm">
                  <div class="row mt-2">
                    <div class="h4 col-lg-7 mb-2 mb-lg-3">
                      <input id="title_input" name="title" type="text" placeholder="제목" class="col-12 form-control">
                    </div>
                    <div class="col-lg-5">
                      <select id="subject-selector" name="sbjNo" class="form-select">
                        <option
                          th:each="subject : ${subjects}"
                          th:value="${subject.no}"
                          th:selected="${subject.no} == ${selected}"
                        >
                          <span th:text="${subject.name}">과목없음</span>
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <!-- 내용 입력-->
                      <div class="col-12 mb-3">
                       <textarea name="content" id="ckfinder"></textarea>
                      </div>
                  </div>
                  <div class="d-flex justify-content-center justify-content-lg-end me-lg-1">
                      <input class="btn btn-primary col-12 col-lg-1" id="nBtn" type="button" value="등록">
                  </div>
                </form>
              </div>
            </div> <!-- block end-->
          </div> <!-- col-12 end -->
        </div> <!-- content END -->
        <script
			th:src="@{/resources/assets/js/plugins/ckeditor5-tuna/build/ckeditor.js}"></script>
        <script>
          One.helpersOnLoad(['js-simplemde']);
          //fileDropzone dropzone 설정할 태그의 id로 지정
          // Dropzone.options.fileDropzone = {
          //     url: 'Fileupload', //업로드할 url (ex)컨트롤러)
          //     init: function () {
          //         /* 최초 dropzone 설정시 init을 통해 호출 */
          //         var submitButton = document.querySelector("#btn-upload-file");
          //         var myDropzone = this; //closure
          //         submitButton.addEventListener("click", function () {
          //             console.log("업로드"); //tell Dropzone to process all queued files
          //             myDropzone.processQueue();
          //         });
          //     },
          //     autoProcessQueue: false, // 자동업로드 여부 (true일 경우, 바로 업로드 되어지며, false일 경우, 서버에는 올라가지 않은 상태임 processQueue() 호출시 올라간다.)
          //     clickable: true, // 클릭가능여부
          //     thumbnailHeight: 90, // Upload icon size
          //     thumbnailWidth: 90, // Upload icon size
          //     maxFiles: 1, // 업로드 파일수
          //     maxFilesize: 10, // 최대업로드용량 : 10MB
          //     parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
          //     addRemoveLinks: true, // 삭제버튼 표시 여부
          //     dictRemoveFile: '삭제', // 삭제버튼 표시 텍스트
          //     uploadMultiple: false, // 다중업로드 기능
          // };
        let header = document.querySelector('meta[name="_csrf_header"]').content;
    	let token = document.querySelector('meta[name="_csrf"]').content;
        
	
	    document.addEventListener('DOMContentLoaded', function() {
			ckfinder();
			
			let nBtn = document.querySelector('#nBtn')
            let title = document.querySelector('#title_input')
            nBtn.addEventListener('click', function(){
          	  
        	  if(window.editor.getData() == "") {
        	    Dialogs.dialog('error', '실패', '내용을 입력 해주세요.');
                window.editor.editing.view.focus(); 
                return;
              } 
          	  
          	  if(title.value == '' || title.value == null){
          		  Dialogs.dialog('error', '실패', '제목을 입력 해주세요.');
          		  return;
          	  }
          	  
          	  frm.submit();
          	  
            })
			
	    })
      
      function ckfinder() {
          let ckfinder = document.querySelector('#ckfinder');

          if (ckfinder) {
            ClassicEditor
              .create(document.querySelector('#ckfinder'),         		
              		{   
              			language:'ko',
              			ckfinder:{
              				uploadUrl : getContextPath() + 'ckImage?_csrf=' + token
              			},
              			image: {
            			      styles: [ "alignLeft", "alignCenter", "alignRight"],      
            			      toolbar: [
            			        "imageStyle:alignLeft",
            			        "imageStyle:alignCenter",
            			        "imageStyle:alignRight",
            			        "|",
            			        "imageTextAlternative",

            			      ]
            			 }           			

              		})
              .then(editor => {
                window.editor = editor;
              })
              .catch(error => {
                console.error('There was a problem initializing the classic editor.', error);
              });
          }
          
     
      }
      function getContextPath() {
			var pathName = window.location.pathname.substring(1);
			var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
			var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
			return path_root;
		}
          
          
        </script>
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    
   
  </body>
</html>
