<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/navLayout}">
<head>
<meta charset="UTF-8">
<title>portalSchedule</title>
</head>
<body>
<main layout:fragment="main">
    <!--title start-->
    <div class="bg-body-light">
      <div class="content content-full content-boxed">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
          <div class="flex-grow-1">
            <h1 class="h1 fw-bold mb-2">
              학사일정
            </h1>
            <h2 class="fs-base lh-base fw-medium text-muted mb-0">
              Schedule
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!--title end-->
    <div class="content content-boxed">

      <div class="block block-rounded">
        <div class="block-header block-header-default">
          <div class="block-title">
            <div class="row">
            <button type="button" class="btn btn-outline-secondary"
              style="border:none; height:38px; width: 40px;"><i class="fa fa-arrow-left"></i></button>
              <div class="col-3">
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
	                <select id="seasonCode" name="seasonCode" class="form-select">
	                    <option value="102">2023 1학기</option>
	                    <option value="103">2022 2학기</option>
	                    <option value="104">2022 1학기</option>
	                    <option value="105">2021 2학기</option>
	                    <option value="106">2021 1학기</option>
	                    <option value="107">2020 2학기</option>
	                </select>
            </div>
            <button type="button" class="btn btn-outline-secondary" style="border:none; height:38px;  width: 40px;"><i
                class="fa fa-arrow-right"></i></button>
              </div>
          </div>
          <div class="block-obtions">
            <!--search start-->
            <form action="be_pages_blog_classic.html" method="POST">
              <div class="input-group">
                <input type="text" class="form-control form-control-alt" placeholder="Search">
                <button class="btn btn-alt-secondary">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="block-content">
          <table class="table table-bordered table-striped table-vcenter js-dataTable-full dataTable no-footer"
            id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
              <tr>
                <th class="text-center" style="width: 80px;" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                  colspan="1">월</th>
                <th class="text-center" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">일</th>
                <th class="text-center" style="width: 30%;" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                  colspan="1">학사내용</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd">
                <td class="text-center fs-sm sorting_1 col-1" rowspan="3">2</td>
                <td class="fw-semibold fs-sm text-center">02. 07 ~ 02. 18</td>
                <td class="d-none d-sm-table-cell fs-sm">
                  2022학년도 1학기 전공학과 변경신청 및 복학원 제출
                </td>
              </tr>
              <tr class="even">
                <td class="fw-semibold fs-sm  text-center col-2">02. 11</td>
                <td class="d-none d-sm-table-cell fs-sm">
                  2022년 2월 학위수여 (2021학년도 학위수여일)
                </td>
              </tr>
              <tr class="odd">
                <td class="fw-semibold fs-sm  text-center col-2">02. 17 ~ 03. 02</td>
                <td class="d-none d-sm-table-cell fs-sm">
                  수강신청 확인 및 정정
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<script>
$('#sesonCode').on('change', function(){
	let seasonCode = $(this).selected.val()
	alert("seasonCode")
})

</script>    
    
</main>
</body>
</html>