<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/navLayout}">

<head>
	<meta charset="UTF-8">
	<title>학사일정</title>
	<style>
		.searchClass {
			color: rgb(0, 65, 121);
			background-color: rgb(207, 230, 250);
			font-weight: bold;
		}

		a.top {
			position: fixed;
			background-color: rgb(207, 230, 250);
			font-weight: bold;
			width: 100px;
			height: 50px;
			right: 2%;
			text-align: center;
			bottom: 5%;
			display: none;
			line-height: 50px;
			border-radius: 30px;
		}
	</style>
</head>

<body>

	<main layout:fragment="main">
		<!--title start-->
		<div class="bg-body-light">
			<div class="content content-full content-boxed">
				<div
					class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
					<div class="flex-grow-1 mb-1 mb-md-0">
						<p class="h3 fw-bold mb-2">학사일정</p>
						<p class="h6 fw-medium fw-medium text-muted mb-0 text-gray-dark">연도학기별
							학사일정 조회 및 검색</p>
					</div>
				</div>
			</div>
		</div>
		<!--title end-->
		<div class="content content-boxed">
			<div class="block block-rounded">
				<div class="block-header block-header-default">
					<div class="block-title">
						<select style="width: 200px" id="seasonSelect" name="seasonCode" class="form-select">
							<th:block th:each="seasonCode : ${seasonCodes}">
								<option th:value="${seasonCode.no}" th:text="${seasonCode.codeName}"
									th:attr="selected=${presentCode == seasonCode.no} ?'selected'">#</option>
							</th:block>
						</select>
					</div>
					<div class="block-obtions">
						<!--search start-->
						<div class="input-group" style="width: 200px">
							<input type="text" id="searchText" class="form-control form-control-alt"
								placeholder="Search">
							<button id="searchBtn" class="btn btn-alt-secondary">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>

					<!-- search End -->
				</div>

				<!-- content start -->
				<div class="block-content">
					<table class="table table-bordered table-vcenter js-dataTable-full dataTable no-footer"
						id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
						<thead>
							<tr>
								<th class="text-center bg-gray " tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
									colspan="1">월</th>
								<th class="text-center bg-body-light" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
									colspan="1">기간</th>
								<th class="text-center" tabindex="0" style="width: 70%"
									aria-controls="DataTables_Table_0" rowspan="1" colspan="1">학사내용</th>
							</tr>
						</thead>
						<!-- thead end -->
						<tbody id="scheduleList">

						</tbody>
					</table>
				</div>
				<!-- content end -->
			</div>
			<div>
				<a href="#" class="top">Top</a>
			</div>
		</div>
		<script>
			$(function () {
				seasonSelect()
				makeSchedule()
				search()
				topBtn()
			})


			$('#searchText').on('keypress', function () {
				if (event.keyCode == 13)
					$('#searchBtn').click();
				return;

			})

			function topBtn() {
				$(window).scroll(function () {
					if ($(this).scrollTop() > 200) {
						$('.top').fadeIn();
					} else {
						$('.top').fadeOut();
					}
				});

				$('.top').click(function () {
					$('html, body').animate({scrollTop: 0}, 400);
					return false;
				});
			}



			function search() {
				let searchList = [];

				$('#searchBtn').on('click', function () {
					searchList.push($('#searchText').val());
					let prevSearch = searchList[searchList.length - 2];

					if (searchList.length > 0) {
						$(".searchList:contains('" + prevSearch + "')").each(function () {
							var prevReqex = new RegExp(prevSearch, 'gi');
							$(this).html($(this).text().replace(prevReqex, prevSearch));
						})
					}
					var search = $('#searchText').val();
					$(".searchList:contains('" + search + "')").each(function () {
						var reqex = new RegExp(search, 'gi');
						$(this).html($(this).text().replace(reqex, "<span class='searchClass'>" + search + "</span>"));
					})

					$('html,body').animate({
						scrollTop: $(".searchClass").offset().top
					}, 'smooth');




				})
			}



			//selectBox 선택할 때 event
			function seasonSelect() {
				$('#seasonSelect').on('change', makeSchedule)
			}

			//seasonCode의 schedule list를 가져오는 function
			function makeSchedule() {
				let seasonCode = $('select[id=seasonSelect]').val();
				$.ajax({
					url: getPathRootJump() + 'portalScheduleList',
					type: 'GET',
					data: {seasonCode: seasonCode},
					dataType: 'json'
				}).done(function (schedules) {

					$('#scheduleList').html('');

					if (schedules.length == 0) {
						$('#scheduleList').append($('<tr>')
							.append(`<td class="text-center" colspan="3">해당 내용이 없습니다.</td>`))
					} else {

						$('#scheduleList').html('');
						for (schedule of schedules) {

							//day표시하기 ('2020-11-11' or '2020 ~ 2020')

							var month = schedule.startDate.substr(5, 2) + "월 " 
							var day =  schedule.startDate.substr(8, 2) + "일"
							
							month = month.replace(/(^0+)/, "")
							day = day.replace(/(^0+)/, "")
							var all = month + day 

							if (schedule.startDate != schedule.endDate) {
							
								var endMonth = schedule.endDate.substr(5, 2) + "월 "
								var endDay = schedule.endDate.substr(8, 2) + "일"
								
								endMonth = endMonth.replace(/(^0+)/, "")
								endDay = endDay.replace(/(^0+)/, "")
								
								var end = endMonth+endDay
								
								all += " ~ " + end
							}

							$('#scheduleList').append($('<tr>')
								.append($('<td>').addClass('text-center rowCheck h2 bg-gray').html(('0' + schedule.month).substr(-2)))
								.append($('<td>').addClass('fw-semibold fs-sm text-center bg-body-light').html(all))
								.append($('<td>').addClass('fs-sm searchList').html(schedule.content))
							)

							//tbody에 tr붙이기


						}//for end
					}

					//rowspan function 
					$('.rowCheck').each(function () {
						
						var rows = $(".rowCheck:contains('" + $(this).html() + "')");
						if (rows.length > 1) {
							rows.eq(0).attr('rowspan', rows.length);
							rows.not(':eq(0)').remove();
						}

					})//rowspan end	


				})//end done



			}


		</script>
		<script>
			function getPathRootJump() {
				var pathName = window.location.pathname.substring(1);
				var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
				var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
				return path_root;
			}
		</script>
	</main>
</body>

</html>