<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layouts/navLayout}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
	<title>학사공지 </title>
	<style>
	</style>
</head>

<body>
	<main layout:fragment="main">
		<!--title start-->
		<div class="bg-body-light">
			<div class="content content-full content-boxed">
				<div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
					<div class="flex-grow-1 mb-1 mb-md-0">
						<p class="h3 fw-bold mb-2">학사공지</p>
						<p class="h6 fw-medium fw-medium text-muted mb-0 text-gray-dark">
							포탈 공지사항 조회 및 검색</p>
					</div>
				</div>
			</div>
		</div>
		<!--title end-->
		<div class="content content-boxed">
			<div class="block block-rounded">
			<div class="p-3 p-sm-5 ">
						<!-- Search Form (visible on larger screens) -->
						<form id="frm" class="row d-flex justify-content-end" action="/tuna/portalNoticeList" method="post">
							<input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
							
								<select style="width:130px" name="state" id="state" class="form-select">
									<option value="1">전체보기</option>
									<option value="2">제목</option>
									<option value="3">내용</option>
								</select>
							
							
								<div  style="width:200px"  class="input-group">
									<input type="text" class="form-control form-control-alt" id="key" name="key"
										autofocus placeholder="Search">
									<button id="searchBtn" type="submit"
										class="btn btn-alt-secondary">
										<i class="fa fa-search"></i>
									</button>
								</div>		
						</form>
					
					<!-- END Search Form -->


					<!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
					<table id="tb" class="js-table-checkable table table-hover table-vcenter mt-3">
						<!--thead 표 제목-->
						<thead>
							<tr>
								<th class="text-center d-none d-lg-table-cell"  style="width: 10%;">#</th>
								<th class="d-none d-lg-table-cell" style="text-align: center">제목</th>
								<th class="d-none d-lg-table-cell" style="text-align: center; width:150px; height: 10%;">첨부파일</th>
								<th class="d-none d-lg-table-cell" style="text-align: center; width: 20%;">Date</th>
							</tr>

						</thead>
						<!--tbody 표 내용-->
						<tbody>
								<th:block th:if="${!#lists.isEmpty(notices)}">
									<tr th:each="notices, i:${notices}" th:data-no=${notices.no}>
										
										<td class="text-center" id="nocheck">[[${notices.no}]]</td>
										<td><a
											th:href="@{/portalNoticeSelect(no=${notices.no})}">[[${notices.title}]]</a></td>
										<td><th:block th:if="${notices.fileyn == 'Y'}">
												<p style="text-align: center; margin: 0 0 0 0">
													<i class="far fa fa-file"></i>
												</p>
											</th:block></td>
										<td class="fs-sm text-muted text-center">[[${notices.enrollDate}]]</td>
									</tr>
								</th:block>
						
									<th:block
									th:if="${#lists.isEmpty(notices)}">									
										<tr class="text-center">
										<td colspan="5">해당 내용이 없습니다.</td>
										</tr>
									
								</th:block>
								</tbody>
					</table>


				<th:block th:if="${!#lists.isEmpty(notices)}">
					<div class="block-content d-flex justify-content-center ">
						<nav class="d-flex justify-content-center" aria-label="Page navigation">
							<ul class="pagination pagination-sm m-0">
								<li th:styleappend="${!paging.prev} ? 'display:none' : 'display:inline-block' "class="page-item">
									<a class="page-link"
										th:onclick="|javascript:pagingPrev(${paging.range}, ${paging.rangeSize})|"
										tabindex="-1" aria-label="Previous"> <span><i
												class="fa fa-angle-double-left"></i></span>
									</a></li>
								<li th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
									th:classappend="${page == paging.page} ? 'active'" class="page-item"><a
										th:text="${page}" class="page-link page"
										th:onclick="|javascript:pagingNo(${page},${paging.range})|">#</a>
								</li>
								<li th:styleappend="${!paging.next} ? 'display:none' : 'display:inline-block'"
									class="page-item"><a class="page-link"
										th:onclick="|javascript:pagingNext(${paging.range}, ${paging.rangeSize})|"
										aria-label="Next"> <span><i class="fa fa-angle-double-right"></i></span>
									</a></li>
							</ul>
						</nav>
					</div>
					</th:block>
				
			</div>
		</div>
</div>
		<script>
			var header = $("meta[name='_csrf_header']").attr('content');
			var token = $("meta[name='_csrf']").attr('content');

		//get방식 파라메터 숨기기
		history.replaceState({}, null, location.pathname);

			// 페이징 번호
			function pagingNo(page, range) {
				let url = getPathRootJump() + 'portalNoticeList';
				url = url + '?page=' + page;
				url = url + '&range=' + range;

				location.href = url;
			}

			// 페이징 이전
			function pagingPrev(range, rangeSize) {
				let moveRange = (range - 1)
				pagingNo(((moveRange - 1) * rangeSize + 1), moveRange);
			}

			// 페이징 다음
			function pagingNext(range, rangeSize) {
				let moveRange = (range + 1)
				pagingNo(((moveRange - 1) * rangeSize + 1), moveRange);
			}



			function getPathRootJump() {
				var pathName = window.location.pathname.substring(1);
				var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
				var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
				return path_root;
			}


		</script>
		<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
		<script th:src="@{/resources/assets/js/dialog.js}"></script>
	</main>
</body>

</html>