<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.css}">
    <style>
	    @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	    
		* { 
			font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
		}	
    </style>
  </head>
  <body>
  <div id="page-container">
  	<main id="main-container">
        <div class="hero bg-body-extra-light">
          <div class="hero-inner text-center">
            <div class="bg-body-extra-light">
              <div class="content content-full overflow-hidden">
                <div class="py-4">
                  <!-- Error Header -->
                  <img th:src="@{/resources/assets/media/error-icon.png}" width=100>
                  <h1 class="display-1 fw-bolder text-primary">
                    404
                  </h1>
                  <h2 class="h4 fw-normal text-muted mb-4">
                    죄송합니다. 요청하신 페이지를 찾을 수 없습니다.
                  </h2>
                  <p>방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>
					페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.<br>
					입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.</p>
                  <!-- END Error Header -->

                  <!-- Search Form -->
                  
                  <!-- END Search Form -->
                  <div class="content content-full text-muted fs-sm fw-medium">
              <!-- Error Footer -->
              <a class="h5 link-fx text-primary-light" th:href="@{/home}">
                홈으로 돌아가기
              </a>
              <!-- END Error Footer -->
            </div>
              </div>
            </div>
            </div>
            </div>
            </div>
        <!-- END Page Content -->
      </main>
    </div>
  </body>
</html>
