<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>bannerList</title>
</head>
<body>
<main layout:fragment="main">
<div class="mt-3">
	<div class="content">
		<p class="h3 fw-bold">전체 배너 관리</p>
		<div class="block block-rounded mb-2">
				<div class="mb-4 scroll-table-div">
					<table class="table table-vcenter scroll-table">
						<thead>
							<tr>
								<th><input class="form-check-input" type="checkbox"></th>
								<th>이미지</th>
								<th>분류</th>
								<th>등록일자</th>
								<th>등록자</th>
								<th>파일명</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="bn, i:${bnList}">
								<tr>
									<td scope="row" class="fw-semibold fs-sm"><input class="form-check-input" type="checkbox"></td>
									<td class="fw-semibold fs-sm">
										<img th:src="@{/display(fileName=${bn.uri}, folder=banner)}" height=100>
										<button class="btn" th:onclick="|location.href='@{/display(fileName=${bn.uri}, folder=banner)}'|">크게보기</button>
										</td>
									<td class="fw-semibold fs-sm">[[${bn.bannerCode}]]</td>
									<td class="fw-semibold fs-sm">[[${bn.enrollDate}]]</td>
									<td class="fw-semibold fs-sm">[[${bn.adNo}]]</td>
									<td class="fw-semibold fs-sm">
										<a th:href="@{/download(fileName=${bn.uri}, originName=${bn.fileName}, folder=banner)}">
											[[${bn.fileName}]] 
										</a>
									</td>
									<td><button class="btn bnDelete"
												th:data-uri=${bn.uri} th:data-no=${bn.no}>삭제</button></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
		</div>
	</div>
</div>
<script th:src="@{/resources/assets/js/banner/bn-ajax.js}"></script>
<script type="text/javascript">

	$(function() {
		basicBannerDelete();
	})
	
</script>
</main>
</body>

</html>