<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">
<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}">
  	<meta name="_csrf_header" th:content="${_csrf.headerName}">
  	<meta name="userNo" th:content="${#authentication.name}">
	<title>슬라이드 배너 관리</title>
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick-theme.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/css/bn-preview.css}">
	<style>
	
	</style>
</head>
<body>
<main layout:fragment="main">
	<!-- Page Content -->
	<div class="mt-3">
	<div class="content">
		<h3 class="fw-bold">슬라이드 배너 등록 및 삭제</h3>
		<div class="block block-rounded">
			<div class="block-content block-content-full">
				<div class="m-3">
				<div class="row justify-content-center">
				<div class="col-xl-10">
				<!-- Image Preview -->
				<h2 class="content-heading mb-2 pb-2">사진 미리보기</h2>
				<div class="mb-5 d-flex justify-content-center preview">
					<div class="img-section">
						<img id="previewImg" class="img" th:src="@{/resources/assets/media/no_image.png}" alt="preview image">
					</div> 
				</div>
				<!-- END Image Preview -->
				<!-- Image List -->
				<div class="block block-rounded block-themed mb-4">
					<div class="block-header bg-primary-darker">
						<h4 class="block-title">배너 사진 목록</h4>
						<div class="block-options">
							<label class="upload-label" for="file">
								<button id="upload" class="btn btn-sm btn-light upload-btn me-2">
									<i class="fa fa-fw fa-upload me-1"></i>사진 올리기
								</button>
							</label>
							<input class="form-control hidden-file" type="file" id="file" name="file"
								   accept="image/jpg, image/jpeg, image/png">
							<button type="button" class="btn btn-sm btn-primary submit-btn" data-job="delete">삭제</button>
						</div>
					</div>
					<table class="table table-striped table-hover table-vcenter">
						<thead>
							<tr>
								<th width=30></th>
								<th>파일명</th>
								<th width=30>
									<button id="up" class="btn btn-sm">
										<i class="fa fa-arrow-up"></i>
									</button>
								</th>
								<th width=30>
									<button id="down" class="btn btn-sm">
										<i class="fa fa-arrow-down"></i>
									</button>
								</th>
							</tr>
						</thead>
						<tbody id="tb">
							<th:block th:each="bn, i:${bnList}">
								<tr th:data-no="${bn.no}" 
									th:data-uri="${bn.uri}" th:data-filename="${bn.fileName}" style="cursor:pointer;">
									<td scope="row" class="fw-semibold fs-sm">
										<input class="form-check-input" type="radio" name="check">
									</td>
									<td class="fw-semibold fs-sm fileName" colspan="3">[[${bn.fileName}]]</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="d-flex justify-content-center mt-5">
						<button type="button"id="sliderPreview" class="btn btn-sm btn-light me-2"
							    data-bs-toggle="modal" data-bs-target="#modal-block-vcenter">
							<i class="fa fa-fw fa-images me-1"></i>배너 미리보기
						</button>
						<button type="button" class="btn btn-sm btn-dark submit-btn" data-job="submit" data-bs-dismiss="modal">
							<i class="fa fa-fw fa-layer-group me-1"></i>순서 등록
						</button>
            		</div>
				</div>
				<!-- END Image List -->
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- END Page Content -->
	
	<!-- Banner Preview Modal -->
	<div class="modal" id="modal-block-vcenter" tabindex="-1" role="dialog" aria-labelledby="modal-block-vcenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="block block-rounded block-transparent mb-0">
					<div class="block-header block-header-default">
						<h3 class="block-title">슬라이드 배너 미리보기</h3>
						<div class="block-options">
							<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
								<i class="fa fa-fw fa-times"></i>
							</button>
						</div>
					</div>
					<div class="block-content block-content-full text-end bg-body">
						<div class="js-slider slick-dotted-inner slick-dotted-white"
							data-dots="true" data-autoplay="true" data-autoplay-speed="1000">
							<th:div th:each="bn, i:${bnList}" class="img-section">
								<img class="img-fluid img" alt="">
							</th:div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Banner Preview Modal -->
	<script th:src="@{/resources/assets/js/plugins/slick-carousel/slick.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
	<script>One.helpersOnLoad([ 'jq-slick' ]);</script>
	<script th:src="@{/resources/assets/js/banner/sliderBanner.js}"></script>
	<script th:src="@{/resources/assets/js/banner/sbn-ajax.js}"></script>
	<script th:src="@{/resources/assets/js/dialog.js}"></script>
	<script th:inline="javascript">
	
	$(function() {
		preview();
		sliderPreview();
		uploadAjax(/*[[#{title.suc.enroll}]]*/ 'default',
				   /*[[#{msg.suc.enroll('사진')}]]*/ 'default');
		submit(/*[[#{title.cfm.update}]]*/ 'default',
			   /*[[#{msg.cfm.bannerOrder}]]*/ 'default',
			   /*[[#{title.cfm.delete}]]*/ 'default',
			   /*[[#{msg.cfm.notCancel}]]*/ 'default',
			   /*[[#{title.err.delete}]]*/ 'default',
			   /*[[#{msg.err.selectPlz('사진')}]]*/ 'default',
			   /*[[#{title.suc.update}]]*/ 'default',
			   /*[[#{msg.suc.update('배너 순서')}]]*/ 'default',
			   /*[[#{title.suc.delete}]]*/ 'default',
			   /*[[#{msg.suc.delete('사진')}]]*/ 'default');
		trUp();
		trDown();
	})
	
	</script>

</main>
</body>
</html>