<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">
<head>
	<meta charset="UTF-8">
	<title>sliderBannerManagm</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick-theme.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
	<!-- End Stylesheets -->
	<style>
		.preview {
			background: rgb(100,100,100);
		}
		.img-section {
			width: 450px;
			height: 300px;
			background: rgb(100,100,100);
			overflow:hidden;
			border: none;
		}
        .img {
            width:100%;
            height:100%;
            object-fit: scale-down;
        }
        #file {
		    position: absolute;
		    width: 0;
		    height: 0;
		    padding: 0;
		    overflow: hidden;
		    border: 0;
        }
        .upload-label {
		    cursor: pointer; 
		}
		.upload-btn {
		    pointer-events: none;
		}
	</style>
</head>
<body>
<main layout:fragment="main">
	<!-- Page Content -->
	<div class="mt-3">
	<div class="content">
		<p class="h3 fw-bold">슬라이드 배너 등록 및 삭제</p>
		<div class="block block-rounded">
			<div class="block-content block-content-full">
				<div class="m-3">
				<div class="row justify-content-center">
				<div class="col-xl-10">
				<!-- Image Preview -->
				<h2 class="content-heading mb-2 pb-2">사진 미리보기</h2>
				<div class="mb-5 d-flex justify-content-center preview">
					<div class="img-section">
						<img id="bnImg" class="img" alt="">
					</div> 
				</div>
				<!-- END Image Preview -->
				<!-- Image List -->
				<div class="block block-rounded block-themed mb-4">
					<div class="block-header bg-primary-darker">
						<h4 class="block-title">배너 사진 목록</h4>
						<div class="block-options">
						<button type="button" class="btn btn-sm btn-light submit-btn" data-job="delete" style="margin-right: 10px;">삭제</button>
						<label class="upload-label" for="file"><button class="btn btn-sm btn-light upload-btn">사진 올리기</button></label>
						<input class="form-control" type="file" id="file"
							   accept="image/jpg, image/jpeg, image/png">
						</div>
					</div>
					<table class="table table-hover table-vcenter">
						<thead>
							<tr>
								<th class="d-none d-sm-table-cell" style="width: 30px;">
									<input id="allChecked" class="form-check-input" type="checkbox">
								</th>
								<th class="d-none d-sm-table-cell">파일명</th>
								<th style="width: 30px;"></th>
								<th style="width: 30px;"></th>
							</tr>
						</thead>
						<tbody id="tb">
							<tr data-order="1" data-no="1">
								<td scope="row" class="fw-semibold fs-sm">
									<input class="form-check-input" type="checkbox">
								</td>
								<td class="fw-semibold fs-sm">banner-01.jpg</td>
								<td class="fs-sm">
									<button class="btn btn-sm up" type="button"><i class="fa fa-arrow-up"></i></button>
								</td>
								<td class="fw-semibold fs-sm">
									<button class="btn btn-sm down" type="button"><i class="fa fa-arrow-down"></i></button>
								</td>
							</tr>
							<tr data-order="2" data-no="2">
								<td scope="row" class="fw-semibold fs-sm">
									<input class="form-check-input" type="checkbox">
								</td>
								<td class="fw-semibold fs-sm">banner-02.jpg</td>
								<td class="fs-sm">
									<button class="btn btn-sm up" type="button"><i class="fa fa-arrow-up"></i></button>
								</td>
								<td class="fw-semibold fs-sm">
									<button class="btn btn-sm down" type="button"><i class="fa fa-arrow-down"></i></button>
								</td>
							</tr>
							<tr data-order="3" data-no="3">
								<td scope="row" class="fw-semibold fs-sm">
									<input class="form-check-input" type="checkbox">
								</td>
								<td class="fw-semibold fs-sm">banner-03.jpg</td>
								<td class="fs-sm">
									<button class="btn btn-sm up" type="button"><i class="fa fa-arrow-up"></i></button>
								</td>
								<td class="fw-semibold fs-sm">
									<button class="btn btn-sm down" type="button"><i class="fa fa-arrow-down"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex justify-content-center mt-5">
						<button type="button" class="btn btn-sm btn-dark"
							data-bs-toggle="modal" data-bs-target="#modal-block-vcenter">배너 미리보기</button>
            		</div>
				</div>
				<!-- END Image List -->
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- END Page Content -->
	
	<!-- Banner Preview Modal -->
	<div class="modal" id="modal-block-vcenter" tabindex="-1" role="dialog" aria-labelledby="modal-block-vcenter" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="block block-rounded block-transparent mb-0">
					<div class="block-header block-header-default">
						<h3 class="block-title">슬라이드 배너 미리보기</h3>
						<div class="block-options">
							<button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
								<i class="fa fa-fw fa-times"></i>
							</button>
						</div>
					</div>
					<div class="block block-rounded">
						<div class="block-content box banner">
							<div class="js-slider slick-dotted-inner slick-dotted-white box"
								data-dots="true" data-autoplay="true" data-autoplay-speed="1800">
								<div>
									<img class="img-fluid" src="#" alt="">
								</div>
								<div>
									<img class="img-fluid" src="#" alt="">
								</div>
								<div>
									<img class="img-fluid" src="#" alt="">
								</div>
								<div>
									<img class="img-fluid" src="#" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="block-content block-content-full text-end bg-body">
						<button type="button" class="btn btn-sm btn-alt-secondary me-1" data-bs-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-sm btn-dark submit-btn" data-job="submit"  data-bs-dismiss="modal">이 순서대로 등록하기</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Banner Preview Modal -->
	<script th:src="@{/resources/assets/js/plugins/slick-carousel/slick.min.js}"></script>
	<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
	<script>One.helpersOnLoad([ 'jq-slick' ]);</script>
	<script type="text/javascript">
	
		$(function() {
			allChecked();
			preview();
			submit();
		})
		
		// 전체 선택 
		function allChecked() {
			$('#allChecked').on('click', function () {
				if($('#allChecked').prop('checked')) {
					$('input[type=checkbox]').prop('checked',true);
				} else {
					$('input[type=checkbox]').prop('checked',false);
				}
			})
		}
		
		// 클릭 시 1건 미리보기
		function preview() {
			$('#tb tr').on('click', function() {
				// 이미지 소스 걸어주기
			})
		}
	
		// 순서 등록 완료 / 삭제 버튼 클릭
		function submit() {
			$('.submit-btn').on('click', function () {
				pageDialogs.dialog($(this).data('job'));
			})
		}
		
		// dialog
		class pageDialogs {
			static dialog(job, txt) {
			    let toast = Swal.mixin({
			      buttonsStyling: false,
			      target: '#page-container',
			      customClass: {
			        confirmButton: 'btn btn-dark m-1',
			        cancelButton: 'btn btn-danger m-1',
			        input: 'form-control'
			      }
			    });
			    
			    success();
			    
			    function success(e) {
			    	if(job === 'upload') {
			    		toast.fire({
			    			title:'업로드 완료', 
			    			text:'이제 사진 순서를 변경한 후 미리보기에서 등록할 수 있습니다.', 
			    			icon: 'success',
			    			confirmButtonText: '확인'
			    		}).then(result => {
			    			if (result.value) {
			  	            	location.reload();
			  	          	}
			    		});
			    	} else if (job === 'submit') {
			    		toast.fire({
			  	          title: '등록 완료',
			  	          text: '메인 페이지로 돌아가 배너를 확인해 보세요.',
			  	          icon: 'success',
			  	          showCancelButton: true,
			  	          customClass: {
			  	            confirmButton: 'btn btn-dark m-1',
			  	            cancelButton: 'btn btn-light m-1'
			  	          },
			  	          confirmButtonText: '메인으로 가기',
			  	          cancelButtonText: '취소',
			  	          preConfirm: e => {
			  	            return new Promise(resolve => {
			  	              setTimeout(() => {
			  	                resolve();
			  	              }, 50);
			  	            });
			  	          }
			  	        }).then(result => {
			  	          if (result.value) {
			  	            location.href = '/tuna/admin';
			  	          } else if (result.dismiss === 'cancel') {
			  	            location.reload();
			  	          }
			  	        });
			    	} else if (job === 'delete') {
			    		toast.fire({
				  	          title: '정말로 삭제하시겠습니까?',
				  	          text: '이 작업은 취소할 수 없습니다.',
				  	          icon: 'warning',
				  	          showCancelButton: true,
				  	          customClass: {
				  	            confirmButton: 'btn btn-danger m-1',
				  	            cancelButton: 'btn btn-light m-1'
				  	          },
				  	          confirmButtonText: '삭제하기',
				  	          cancelButtonText: '취소',
				  	          preConfirm: e => {
				  	            return new Promise(resolve => {
				  	              setTimeout(() => {
				  	                resolve();
				  	              }, 50);
				  	            });
				  	          }
				  	        }).then(result => {
				  	          if (result.value) {
				  	        	$('#tb input[type=checkbox]:checked').each(function(){
									console.log($(this).closest('tr').attr('data-no'));
									// 삭제 ajax
								}); 
				  	        	 
				  	          }
				  	        });
			    	}
			  	}
			}
		}
	
		// 사진 업로드
		$('#file').on('change', changeEvent => {
			const reader = new FileReader();
			$(reader).on('load', readerEvent => {
				
				// ajax로 사진 업로드
				
				// 등록 완료 다이얼로그
				pageDialogs.dialog('upload');
				
			})
			const img = changeEvent.target.files[0];
			reader.readAsDataURL(img)
		})
		
		// 위로 이동
		$('.up').on('click', function() {
			let tr = $(this).closest('tr');
			let prevTr = tr.prev();
			tr.insertBefore(prevTr);
			
			for (let i=0; i<$('#tb tr').length; i++) {
				$('#tb tr').eq(i).attr('data-order', i+1)
			}
			
		})
		
		// 아래로 이동
		$('.down').on('click', function() {
			let tr = $(this).closest('tr');
			let nextTr = tr.next();
			tr.insertAfter(nextTr);
			
			for (let i=0; i<$('#tb tr').length; i++) {
				$('#tb tr').eq(i).attr('data-order', i+1)
			}
		})
	
	</script>
</main>
</body>
</html>