<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
<title>adminNoticeList</title>
</head>
<body>
<main layout:fragment="main">
        <!--title start--> 
            <div class="content content-boxed">
                    <h3 class="fw-bold">학사공지 목록</h3>     
                    <!--title end--> 
                    <div class="block block-rounded">
                        <div class="block-content">
                            <div class="row">
                                <!-- Search Form (visible on larger screens) -->
                                <form class="row d-flex justify-content-end" action="" method="POST">
                                    <div class="col-2">
                                        <select class="form-select">
                                            <option value="1">전체</option>
                                            <option value="2">제목</option>
                                            <option value="3">내용</option>
                                        </select>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-alt" placeholder="Search">
                                            <button class="btn btn-alt-secondary">
                                              <i class="fa fa-search"></i>
                                            </button>
                                          </div>
                                    </div>
                                </form>
                            </div>
                            <!-- END Search Form -->


                            <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
                            <table class="js-table-checkable table table-hover table-vcenter">
                                <!--thead 표 제목-->
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 70px;">
                                            <div class="form-check d-inline-block">
                                                <input class="form-check-input" type="checkbox" value="" id="check-all"
                                                    name="check-all">
                                                <label class="form-check-label" for="check-all"></label>
                                            </div>
                                        </th>
                                        <th class="text-center" style="width: 10%;">#</th>
                                        <th style="text-align:center">제목</th>
                                        <th style=" text-align:center; width: 10%; height: 10%;">첨부파일</th>
                                        <th class="d-none d-sm-table-cell" style="text-align: center; width: 20%;">Date
                                        </th>
                                    </tr>
                                    
                                </thead>
                                <!--tbody 표 내용-->
                                <tbody>
                                
                              <th:block class="text-center" scope="row" th:if ="${not #strings.isEmpty(notices)}"> 
                                <tr th:each="notices, i:${notices}">
                                <td>
                                  <input class="form-check-input text-center" type="checkbox" value="" >
                                 <label class="form-check-label" ></label>          
                                </td>
                                <td class="text-center">[[${notices.no}]]</td>
                                <td>
                                <a th:href="@{portalNoticeSelect?no=${notices.no}}" >[[${notices.title}]]</a></td>                               
                                <td class=""></td>
                                <td class="fs-sm text-muted text-center">[[${notices.enrollDate}]]</td>
                                </tr>
                                
                                
                                
                                    
                            </table>
                            <div class="p-1 d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-secondary m-1" onclick="location.href='adminNoticeInsert'">등록</button>
                                <button type="button" class="btn btn-outline-secondary m-1 push" data-bs-toggle="modal" data-bs-target="#modal-block-popout">삭제</button>
                            </div>

                            <div class="modal fade" id="modal-block-popout" tabindex="-1" aria-labelledby="modal-block-popout" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-popout" role="document">
                                  <div class="modal-content">
                                    <div class="block block-rounded block-transparent mb-0">
                                      <div class="block-header block-header-default">     
                                        <h3 class="block-title">해당 공지 삭제</h3>                                 
                                        <div class="block-options">
                                          <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                                            <i style="color:black"class="fa fa-fw fa-times"></i>
                                          </button>
                                        </div>
                                      </div>
                                      <div class="block-content fs-sm">
                                        <p>해당 공지를 삭제하시겠습니까 ?</p>
                                      </div>
                                      <div class="block-content p-2 text-end bg-body">
                                        <button type="button" class="btn btn-sm btn-alt-secondary me-1" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">delete</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                <div>
                	<form id = "frm" action="" method="post">
                	<input type="hidden" id="no" name="no">
                	</form>
                </div>

                        <div class="block-content d-flex justify-content-center ">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                            <span aria-hidden="true">
                                                <i class="fa fa-angle-left"></i>
                                            </span>
                                            <span class="visually-hidden">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                            <span aria-hidden="true">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                            <span class="visually-hidden">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>

            </div>
            
<script>
function eventList(data){
	frm.no.value= data;
	frm.action="noticeSelect";
	frm.submit();
}
</script>
<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
<script>
One.helpersOnLoad(['one-table-tools-checkable', 'one-table-tools-sections']);
</script>
</main>
</body>
</html>