<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-layout-decorate="~{layouts/adminLayout}">

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet"
	th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
<title>학사공지관리</title>
</head>
<body>
	<main layout:fragment="main">
		<!--title start-->
		<div class="mt-3">
			<div class="content content-full">
				<h3 class="fw-bold">학사공지 목록</h3>
				<!--title end-->
				<div class="block block-rounded">
					<div class="block-content">
						<div class="row">
							<!-- Search Form (visible on larger screens) -->
							<form id="frm" class="row d-flex justify-content-end" action=""
								method="post">
								<input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
								<div class="col-2">
									<select name="state" id="state" class="form-select">
										<option value="1">전체보기</option>
										<option value="2">제목</option>
										<option value="3">내용</option>
									</select>
								</div>
								<div class="col-3 p-0">
									<div class="input-group">
										<input type="text" class="form-control form-control-alt"
											id="key" name="key" placeholder="Search">
										<button id="searchBtn" type="button" onclick="searchList()"
											class="btn btn-alt-secondary">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
						<!-- END Search Form -->


						<!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
						<table id="tb"
							class="js-table-checkable table table-hover table-vcenter">
							<!--thead 표 제목-->
							<thead>
								<tr>
									<th class="text-center" style="width: 70px;">
										<div class="form-check d-inline-block">
											<input class="form-check-input" type="checkbox" value=""
												id="check-all" name="check-all"> <label
												class="form-check-label" for="check-all"></label>
										</div>
									</th>
									<th class="text-center" style="width: 10%;">#</th>
									<th style="text-align: center">제목</th>
									<th style="text-align: center; width: 10%; height: 10%;">첨부파일</th>
									<th class="d-none d-sm-table-cell"
										style="text-align: center; width: 20%;">Date</th>
								</tr>

							</thead>
							<!--tbody 표 내용-->
							<tbody>

								<th:block class="text-center" scope="row"
									th:if="${not #strings.isEmpty(notices)}">

									<tr th:each="notices, i:${notices}" th:data-no=${notices.no}>
										<td class="text-center"><input
											class="form-check-input text-center check" type="checkbox"
											value=""> <label class="form-check-label"></label></td>
										<td class="text-center" id="nocheck">[[${notices.no}]]</td>
										<td><a
											th:href="@{/admin/admin/adminNoticeSelect(no=${notices.no})}">[[${notices.title}]]</a></td>
										<td><th:block th:if="${notices.fileyn == 'Y'}">
												<p style="text-align: center; margin: 0 0 0 0">
													<i class="far fa fa-file"></i>
												</p>
											</th:block></td>
										<td class="fs-sm text-muted text-center">[[${notices.enrollDate}]]</td>
									</tr>

								</th:block>
								<th:block class="text-center" scope="row"
									th:if="${#strings.isEmpty(notices)}">
									<tr th:each="notices, i:${notices}" th:data-no=${notices.no}>
										<td class="text-center">해당 내용이 없습니다.</td>
									</tr>
								</th:block>
							</tbody>

						</table>
						<div class="p-1 d-flex justify-content-center">
							<button type="button" class="btn btn-outline-secondary m-1"
								th:onclick="|location.href='@{/admin/admin/adminNoticeInsertForm}'|">등록</button>
							<button type="button"
								class="btn submit-btn btn-outline-secondary m-1 push"
								data-job="delete" id="delBtn">삭제</button>
						</div>


						<div class="block-content d-flex justify-content-center ">
							<nav aria-label="Page navigation">
								<ul class="pagination pagination-sm">
									<li
										th:styleappend="${!paging.prev} ? 'display:none' :'display:inlink-block'"
										class="page-item"><a class="page-link"
										th:onclick="|javascript:pagingPrev(${paging.range},${paging.rangeSize})|"
										tabindex="-1" aria-label="Previous"> <span
											aria-hidden="true"> <i class="fa fa-angle-left"></i>
										</span> <span class="visually-hidden">Previous</span>
									</a></li>
									<li
										th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
										th:classappend="${page == paging.page} ? ' active'"
										class="page-itme"><a th:text="${page}" class="page-link"
										th:onclick="|javascript:pagingNo(${page},${paging.range})|"></a>
									</li>

									<li
										th:styleappend="${!paging.next}? 'display:none' : 'display:linline-block'"
										class="page-item"><a class="page-link"
										th:onclick="|javascript:pagingNext(${paging.range},${paging.rangeSize})|"
										aria-label="Next"> <span aria-hidden="true"> <i
												class="fa fa-angle-right"></i>
										</span> <span class="visually-hidden">Next</span>
									</a></li>
								</ul>
							</nav>
						</div>


					</div>
				</div>
			</div>
		</div>
		<script>
		var header = $("meta[name='_csrf_header']").attr('content');
		var token = $("meta[name='_csrf']").attr('content');

	    $('#key').on('keypress', function () {
	        if (event.keyCode == 13) 
	            $('#searchBtn').click();
	        return false;
	       
	    })
		
		
		//검색기능
		function searchList() {
			let state= $("#state").val();
			let key = $("#key").val();			
			$.ajax({
				url : getPathRootJump() + "admin/admin/adminSearch",
				type: "get",
				data : {state:state,key:key},
				dataType : "json",
				success : function(rs){
					$('#key').focus();
					if(rs.length==0){					
						Dialogs.dialog('info', 
			                    '', 
			                    '검색결과가 없습니다.');
					}
					else{
						htmlConvert(rs);		
					}					
				},
				error : function(){
					alert('오류')
				}
			})	
		}

		
		function htmlConvert(rs){
			$("tbody").remove();
			let tbody = $("<tbody/>");
			$.each(rs,function(index, n){ 
				var td = $("<td/>").addClass("text-center filecheck")
				if(n.fileyn == "Y"){
					td.html(`<p style="text-align: center; margin: 0 0 0 0"> <i class="far fa fa-file"></i></p>`)
				}
				var row = $("<tr/>").append(
						  $("<td/>").addClass("text-center").html(`
		                          <input class="form-check-input text-center" type="checkbox" value="" >
		                          <label class="form-check-label text-center" ></label>`),
						  $("<td/>").addClass("text-center").css("width","10px").html(n.no),
						  $("<td/>").html(`<a href="admin/admin/adminNoticeSelect?no=${n.no}"> ${n.title} </a>`),
						  td,
						  $("<td/>").addClass("fs-sm text-muted text-center").html(n.enrollDate)
					);
				tbody.append(row); 

				
			})//forEach end
			$("#tb").append(tbody);
		}
		

		// 페이징 번호
		   function pagingNo(page, range) {
		      let url = getPathRootJump() + 'admin/admin/adminNoticeList';
		      url = url + '?page=' + page;
		      url = url + '&range=' + range;
		      
		      location.href=url;
		   }
		   
		   // 페이징 이전
		   function pagingPrev(range, rangeSize) {
		      let moveRange = (range-1)
		      pagingNo(((moveRange-1) * rangeSize + 1), moveRange);
		   }
		   
		   // 페이징 다음
		   function pagingNext(range, rangeSize) {
		      let moveRange = (range+1)
		      pagingNo(((moveRange-1) * rangeSize + 1), moveRange);
		   }
		

			//삭제버튼 클릭했을 때 이벤트 
		$('#delBtn').on('click',function(){		 
		let job =$(this).data('job');

 			pageDialogs.dialog(job)
				 		 
				 
			 })//onclick end
		

				//삭제 다이얼로그 클래스
				class pageDialogs{
						static dialog(job){
							let toast = Swal.mixin({
							      buttonsStyling: false,
							      target: '#page-container',
							      customClass: {
							        confirmButton: 'btn btn-dark m-1',
							        cancelButton: 'btn btn-danger m-1',
							        input: 'form-control'
							      }
							    });
							
							success();
							
							function success(){	
								
								 if( job === 'delete') {							 
									 toast.fire({
									 title : '해당공지를 삭제하시겠습니까?',
									 text: '이 작업은 취소 할 수 없습니다.',
									 icon: 'warning',
									 showCancelButton: true,
									 customClass:{
										 confirmButton: 'btn btn-danger m-1',
										 cancelButton: 'btn btn-light m-1' 
									 },
									 confirmButtonText:'삭제하기',
									 cancelButtonText:'취소',
									 
									 preConfirm: e => {
										 return new Promise(resolve => {
											 setTimeout(() => {
												 resolve();
											 }, 50);
										 });
									 }
									 	 
									 }).then(result => {
										 if(result.value){											 
											 
											 let tr = $('input:checkbox').closest('tr[class="table-active"]')

											 tr.each(function(){
												 $.ajax({								 
													 url:getPathRootJump()+'admin/admin/adminNoticeDelete',
													 method:'DELETE',
													 data: JSON.stringify({no:$(this).data('no')}),
													 traditional: true,
	 												 contentType : 'application/json; charset=utf-8',
	 												 dataType :'json',
													 beforeSend : function(xhr) {
															xhr.setRequestHeader(header, token);
														}
													 
												 }).done(function(){
														 location.reload();
													 
												 }) //done end
											 })
											 
										 }
										 
									 });//then end
									 
								 }//function success end
								 
							}
						}//static dialog end 
					 
					 }//class end

		function getPathRootJump() {
		    var pathName = window.location.pathname.substring(1);
		    var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
		    var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
		    return path_root;
		 }


</script>
		<script>One.helpersOnLoad(['one-table-tools-checkable', 'one-table-tools-sections']);</script>
		<script
			th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
		<script th:src="@{/resources/assets/js/dialog.js}"></script>
	</main>
</body>
</html>