<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">

<title>adminNoticeSelect</title>
</head>
<body>
<main layout:fragment="main">
        <!--title start-->
        <div class="bg-body-light">
            <div class="content content-full content-boxed">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
                    <div class="flex-grow-1">
                        <h1 class="h1 fw-bold mb-2">
                            학사공지
                        </h1>
                        <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                            notice
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <!--title end-->

        <div class="content content-boxed">
          <form action="adminNoticeSelect" method="post">
            <div class="block block-rounded">
          
                <div class="block-content">
                
                        <div class="row d-flex justify-content-center py-sm-3">
                            <div th:each="content, i:${content}"class="text-center fs-sm push">
                                <h2 class="mt-3">[[${content.title }]]</h2>
                                <div class="d-flex justify-content-end">
                                    <span class="py-2 px-2 bg-body-light col-2 rounded">
                                       [[${content.enrollDate }]]
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--제목 end-->
                        <hr>
                        <div th:each="content, i:${content}">
								[[${content.content}]]
								
                        </div>
                            <hr>
                            <div class="col-5">
                                첨부된 파일
                            </div>
                            <hr>
                            <div class="p-1 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-secondary m-1" th:onclick="|location.href='@{/admin/adminNoticeList}'|">목록</button>
                                <button type="button" class="btn btn-outline-secondary m-1" onclick="location.href='adminNoticeUpdate'">수정하기</button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>

<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
</main>
</body>
</html>