<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    data-layout-decorate="~{layouts/adminLayout}">
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/simplemde/simplemde.min.css}">
<title>NoticeInsert</title>
</head>
<body>     
<!--폼 시작-->
<main layout:fragment="main">
            <div class="content content-boxed">

                <h3 class="fw-bold">학사공지 등록</h3>
                <div class="block block-rounded">
                            <form th:action="@{/admin/adminNoticeInsert}" class="block-content block-content-full" method="post" enctype="multipart/form-data">
                            <div>
                                <input type="text" name="title"class="mb-4 form-control" id="title"
                                    placeholder="학사공지 등록">
                                <hr>
                                <textarea class="js-simplemde" id="content" name="content" placeholder="내용을 입력하세요."></textarea>
                            </div>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <input class="form-control" type="file" id="file" multiple="multiple">
                                </div>
                                <div class="col-6">
                                    <select id="visible" name="visible"class="form-select">
                                        <option value="y">공개</option>
                                        <option value="n">비공개</option>
                                    </select>
                                </div>
                            </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-secondary me-2">등록</button>
                                    <button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='@{/admin/adminNoticeList}'|">홈으로</button>
                                </div>

                    </form>
                    </div>

            </div>
   
    <script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
    <script th:src="@{/resources/assets/js/plugins/simplemde/simplemde.min.js}"></script>
    <script>
        One.helpersOnLoad(['js-simplemde']);
    </script>
     </main>
</body>
</html>