<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>TUNA Portal</title>
	<link rel="shortcut icon" th:href="@{/resources/assets/media/tuna_favicon.ico}">
	<link rel="icon" th:href="@{/resources/assets/media/tuna_favicon.ico}">
    <link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.css}">
    <style>
	    @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
	    
		* { 
			font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
		}	
    </style>
</head>
<body>
	<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow side-trans-enabled">
		<th:block th:replace="layouts/aside/adminSidebar :: sidebar"></th:block>	
		<header th:replace="layouts/aside/header :: header"></header>
		<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.js"
 				integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  				crossorigin="anonymous"></script>
		<main id="main-container" layout:fragment="main"></main>
	</div>
</body>
</html>