<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>TUNA Portal</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.min.css}">
</head>
<body>
	<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow side-trans-enabled">
		<th:block th:replace="layouts/aside/adminSidebar"></th:block>	
		<header th:replace="layouts/aside/header"></header>
		<main id="main-container" layout:fragment="main"></main>
	</div>
	

</body>
</html>