<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>TUNA Portal</title>
	<!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
	<link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.min.css}">
</head>
<body>
	<div id="page-container" class="page-header-dark main-content-boxed">
		<header th:replace="layouts/nav/header"></header>
		<main id="main-container" layout:fragment="main"></main>
		<footer th:replace="layouts/nav/footer"></footer>
	</div>
</body>
</html>