<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>TUNA Portal</title>
    
    <link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.min.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/css/home.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
    <style>
    
    .staff-box {
   		height: 665px;
   	}
    
    @media (max-width: 990px) {
	  .staff-box {
	    height: 100px;
	  }
	}
    
    </style>
</head>
<body>
<th:block th:if = "${error != null && error != ''}">
	<script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
    <script th:src="@{/resources/assets/js/dialog.js}"></script>
	<script th:inline="javascript">
		let error = /*[[${error}]]*/ 'default';
		Dialogs.dialog('error', '접근 불가', error);
	</script>
</th:block>
<div id="page-container">
	<!-- Main Container -->
	<main id="main-container">
	    <!-- Hero -->
	    <div class="bg-body-light">
	        <div class="content content-full content-boxed">
		        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
		            <div class="flex-grow-1 mb-1 mb-md-0">
			            <h1 class="h1 fw-bold mb-2">TUNA Portal</h1>
				        <div sec:authorize="isAuthenticated()">

	            <h2 class="h6 fw-medium fw-medium text-muted mb-0">
	                <a class="fw-semibold" href="#" th:text = "${#authentication.principal.name}" ></a> 님, 환영합니다. 
	            </h2>
	            </div>
	            </div>
	            
	            <div class="mt-3 mt-md-0 ms-md-3 space-x-1">
	            <!-- <div sec:authorize="isAnonymous()">
		            <a class="btn btn-sm btn-dark space-x-1" th:href="@{/custom/login}">
		                <i class="far fa-user opacity-50"></i>
		                <span>로그인</span>
		            </a>
	            </div> -->
	            <div sec:authorize="isAuthenticated()">
	            <div class="dropdown d-inline-block">
	                <button type="button" class="btn btn-sm btn-dark space-x-1" id="dropdown-analytics-overview" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                <i class="far fa-user opacity-50" ></i>
	                <span th:text = "${#authentication.principal.name}"></span>
	                <i class="fa fa-fw fa-angle-down" ></i>
	                </button>
	                <div class="dropdown-menu dropdown-menu-md dropdown-menu-end p-0 border-0" aria-labelledby="page-header-user-dropdown">
	                    <div class="p-3 text-center bg-body-light border-bottom rounded-top">
	                      <p class="mt-2 mb-0 fw-medium" ></p>
	                      <p class="mb-0 text-muted fs-sm fw-medium" th:text = "${@codeList.getName(#authentication.principal.deptCode)}"></p>
	                    </div>
	                    <th:block sec:authorize="hasRole('ROLE_STUDENT')">
	                    <div class="p-2">
	                      <a class="dropdown-item d-flex align-items-center justify-content-between" th:href="@{/stud/userUpdate}">
	                        <span class="fs-sm fw-medium">내 정보 수정</span>
	                      </a>
	                    </div>
	                    </th:block>
	                    <th:block sec:authorize="hasRole('ROLE_STAFF')">
	                    <div class="p-2">
	                      <a class="dropdown-item d-flex align-items-center justify-content-between" th:href="@{/staff/userUpdate}">
	                        <span class="fs-sm fw-medium">내 정보 수정</span>
	                      </a>
	                    </div>
	                    </th:block>
	                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
	                    <div class="p-2">
	                      <a class="dropdown-item d-flex align-items-center justify-content-between" th:href = "@{/admin/adminUpdate}">
	                        <span class="fs-sm fw-medium">내 정보 수정</span>
	                      </a>
	                    </div>
	                    </div>
	                    <div role="separator" class="dropdown-divider m-0"></div>
	                    <div class="p-2">
	                    <form method = "post" th:action = "@{/logout}">
	                    	<input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
								<button class=" dropdown-item d-flex align-items-center justify-content-between fs-sm fw-medium" >로그아웃</button>
	                    </form>
	                    </div>
	                  </div>
	            </div>
	            </div>
	            </div>
	        </div>
	        </div>
	    </div>
	    <!-- END Hero -->
	    <!-- Main Navigation -->
	    <th:block sec:authorize="hasRole('ROLE_STUDENT')">
	    <div class="bg-primary-darker">
			<div id="main-navigation" class="d-md-none mt-2 mt-lg-0">
				<ul class="nav-main nav-main-dark nav-main-horizontal nav-main-hover">
					<li class="nav-main-item"><a
						class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
						aria-haspopup="true" aria-expanded="false" href="#"><span
							class="nav-main-link-name">학사정보</span>
					</a>
						<ul class="nav-main-submenu">
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/portalNoticeList}"> <span class="nav-main-link-name">공지사항</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/portalSchedule}"> <span class="nav-main-link-name">학사일정</span>
							</a></li>
						</ul></li>
						
					<li class="nav-main-item"><a
						class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
						aria-haspopup="true" aria-expanded="false" href="#"><span
							class="nav-main-link-name">조회</span>
					</a>
						<ul class="nav-main-submenu">
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/stud/portal/subjectAndReport}"> <span class="nav-main-link-name">강의/성적 조회</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/stud/scholarshipApplication}"> <span class="nav-main-link-name">장학 신청 및 조회</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/stud/tuitionCheck}"> <span class="nav-main-link-name">등록금납입확인서</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/stud/portal/currentSemesterGrade}"> <span class="nav-main-link-name">당해학기 성적 조회</span>
							</a></li>
						</ul></li>
						
					<li class="nav-main-item"><a
						class="nav-main-link nav-main-link-submenu" data-toggle="submenu"
						aria-haspopup="true" aria-expanded="false" href="#"><span
							class="nav-main-link-name">강의</span>
					</a>
						<ul class="nav-main-submenu">
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/eclass/student/home}"> <span class="nav-main-link-name">e-class</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/stud/course/Warning}"> <span class="nav-main-link-name">수강신청</span>
							</a></li>
							<li class="nav-main-item"><a class="nav-main-link"
								th:href="@{/stud/course/Details}"> <span class="nav-main-link-name">강의평가</span>
							</a></li>
						</ul></li>
		
				</ul>
			</div>
		</div>
		</th:block>
		<!-- END Main Navigation -->
		
		<!-- Page Content -->
	    <div class="content content-boxed">
	    	<th:block sec:authorize="hasRole('ROLE_STUDENT')">
				<!-- ███████ ████████ ██    ██ ██████  
					 ██         ██    ██    ██ ██   ██ 
					 ███████    ██    ██    ██ ██   ██ 
					      ██    ██    ██    ██ ██   ██ 
					 ███████    ██     ██████  ██████   -->
		        <!-- First Row -->
		        <div class="row">
		        	<!-- Slide Banner -->
		            <div class="col-xl-5">
		                <div class="block block-rounded">
		                    <div id="slider" class="block-content box banner">
		                    	<!-- <th:block th:include=@{homeSliderBanner}></th:block>  -->
		                    </div>
		                </div>
		            </div>
		            <!-- END Slide Banner -->
		            <div class="col-xl-3 col-md-6 d-none d-md-block">
		                <div class="block block-rounded">
		                    <div class="block-content box">
		                        <button class="box-btn btn btn-dark fw-bold" th:onclick="|window.open('@{/stud/course/Warning}')|">수강신청</button>
		                    </div>
		                </div>
		            </div>
		            <div class="col-xl-4 col-md-6 d-none d-md-block">
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="block block-rounded">
		                            <div class="block-content short-box">
		                                <button class="box-btn btn btn-info fw-bold" th:onclick="|location.href='@{/stud/tuition/Check}'|">등록금납입확인서</button>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="block block-rounded">
		                            <div class="block-content short-box">
		                                <button class="box-btn btn btn-outline-light 
		                                    text-primary-darker fw-bold" th:onclick="|window.open('@{/stud/scholar/Application}')|">장학 신청 및 조회</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="block block-rounded">
		                    <div class="block-content short-box">
		                        <button class="box-btn btn bg-modern-light text-gray-lighter fw-bold" 
		                        		th:onclick="|location.href='@{/stud/portal/subjectAndReport}'|">강의 / 성적 조회</button>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- END First Row -->
		        <!-- Second Row -->
		        <div class="row">
		            <div class="col-xl-4 col-md-6 d-none d-md-block">
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="block block-rounded">
		                            <div class="block-content short-box">
		                                <button class="box-btn btn btn-alt-info fw-bold text-dark" th:onclick="|location.href='@{/portalNoticeList}'|">학사공지</button>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="block block-rounded">
		                            <div class="block-content short-box">
		                                <button class="box-btn btn btn-primary fw-bold" th:onclick="|location.href='@{/portalSchedule}'|">학사일정</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="block block-rounded">
		                    <div class="block-content short-box banner bg-muted slogan-banner">
		                        <h4 class="text-gray-lighter">TUNA, <br>세계의 중심에서 세상을 바꾸라.</h4>
		                        
		                    </div>
		                </div>
		                
		            </div>
		            <div class="col-xl-3 col-md-6 d-none d-md-block"> 
		                <div class="block block-rounded">
		                    <div class="block-content box">
		                        <button class="box-btn btn btn-outline-light 
		                                    text-primary-darker fw-bold" th:onclick="|window.open('@{/eclass/student/home}')|">e-Class</button>
		                    </div>
		                </div>
		            </div>

		            <!-- Shortcut Banner -->
		            <div class="col-xl-5">
		                <div class="block block-rounded">
		                    <div class="block-content box banner shortcut-banner">
		                        <button id="shortcutBtn" class="btn btn-alt-secondary shortcut-btn" onclick="javascript:void(0)">바로가기</button>
								<img id="shortcutImg" class="banner-img" alt="">
							</div>
		                </div>
		            </div>
		            <!-- END Shortcut Banner -->
		        </div>
		        <!-- END Second Row -->
	        </th:block>
			<th:block sec:authorize="hasRole('ROLE_STAFF')">
		 	    <!-- ██████  ██████   ██████  ███████ 
					 ██   ██ ██   ██ ██    ██ ██      
					 ██████  ██████  ██    ██ █████   
					 ██      ██   ██ ██    ██ ██      
					 ██      ██   ██  ██████  ██     -->
				<div class="row justify-content-center align-middle">
					<div class="col-lg-3">
						<div class="block block-rounded staff-box">
						       <button class="box-btn btn btn-outline-light text-primary-darker fw-bold" 
						       		   th:onclick="|location.href='@{/portalNoticeList}'|">학사공지</button>
						</div>
					</div>
				    <div class="col-lg-3">
						<div class="block block-rounded staff-box">
						    <button class="box-btn btn fw-bold banner" th:onclick="|window.open('@{/eclass/professor/home}')|"
						    		   style="position:relative; border:none;">
								<div class="text-gray-lighter" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">e-Class<br>교수</div>
								<img class="banner-img" th:src="@{/display(fileName=home01.png, folder=home)}">
						    </button>
						</div>
				    </div>
					    <div class="col-lg-3">
						    <div class="block block-rounded staff-box">
						        <button class="box-btn btn btn-primary fw-bold" th:onclick="|location.href='@{/portalSchedule}'|">학사일정</button>
						    </div>
						</div>
				</div>
			</th:block>
			<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
				<!-- █████  ██████  ███    ███ ██ ███    ██ 
					██   ██ ██   ██ ████  ████ ██ ████   ██ 
					███████ ██   ██ ██ ████ ██ ██ ██ ██  ██ 
					██   ██ ██   ██ ██  ██  ██ ██ ██  ██ ██ 
					██   ██ ██████  ██      ██ ██ ██   ████  -->
				<div class="row justify-content-center align-middle">
					<div class="col-lg-3">
		                <div class="block block-rounded staff-box">
	                        <button class="box-btn btn btn-outline-light 
	                                    text-primary-darker fw-bold" th:onclick="|location.href='@{/portalNoticeList}'|">학사공지</button>
		                </div>
		            </div>
		            <div class="col-lg-3">
	                    <div class="block block-rounded staff-box">
	                        <button class="box-btn btn btn-alt-info fw-bold text-dark banner" th:onclick="|window.open('@{/admin/adminUserSearch}')|"
	                        		   style="position:relative; border:none;">
	                       	   <div class="text-gray-lighter" style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);">관리자 페이지</div>
	                       	   <img class="banner-img" th:src="@{/display(fileName=home01.png, folder=home)}">
	                        </button>
	                    </div>
	                </div>
					<div class="col-lg-3">
					    <div class="block block-rounded staff-box">
					        <button class="box-btn btn btn-primary fw-bold" th:onclick="|location.href='@{/portalSchedule}'|">학사일정</button>
					    </div>
					</div>
                </div>
			</th:block>
	    </div>
	    <!-- END Page Content -->
	</main>
    <!-- Footer -->
	 <footer id="page-footer" class="bg-sidebar-dark">
	 <div class="content content-boxed py-4">
	     <div class="row fs-sm text-gray-dark">
	     <div class="col-sm-6 order-sm-2 py-1 text-center text-sm-end">
	         Crafted by <i class="fa fa-fish text-gray-light"></i><p class="fw-semibold text-gray-light"> sajotuna</p>
	     </div>
	     <div class="col-sm-6 order-sm-1 py-1 text-center text-sm-start text-gray-dark">
	         대구광역시 중구 남일동 중앙대로 403 <br><a class="fw-semibold text-gray-light" href="">&copy;<span data-toggle="year-copy"></span> TUNA Univ. </a>
	     </div>
	     </div>
	 </div>
	 </footer>
	 <!-- END Footer -->
</div>
 
	<script th:src="@{/resources/assets/js/oneui.app.min.js}"></script>
    <script th:src="@{/resources/assets/js/lib/jquery.min.js}"></script>
    <script th:src="@{/resources/assets/js/plugins/slick-carousel/slick.min.js}"></script>
    <script>One.helpersOnLoad(['jq-slick']);</script>
   	<script type="text/javascript">
   		
	   	$(function() {
	   		shortcutBanner();
		})
		
		// 기본 배너
		function shortcutBanner() {
			$.ajax({
				
				url: getContextPath() + 'basicBanner',
				type: 'GET',
				dataType: 'json'
				
			}).done(function(basicBn) {
				$('#shortcutImg').attr('src', getContextPath() + `display?fileName=${basicBn.uri}&folder=banner`);
				$('#shortcutBtn').attr('onclick', `location.href='${basicBn.url}'`);
			})
		}
	   	
	   	function getContextPath() {
			var pathName = window.location.pathname.substring(1);
			var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
			var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
			return path_root;
		}
   	
   	</script>
   	
</body>
</html>
