
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/scholarAsideLayout}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">

  <title>장학금 신청</title>
  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
  <style>
    tr {
      text-align: center;
    }

    td {
      text-align: center;
    }
  </style>

</head>

<body>
<main layout:fragment="main">
  <div id="section ">

    <div id="page-container">

      <div class="content content-boxed ">
        <h3 class="h3 fw-bold mb-2">장학금 신청</h3>
        <div class="row">
          <div class="col-lg-12 col-xl-12 bg-body-extra-light "style="padding: 10px;">
            <div class="m-4">
              <form th:action="@{/stud/scholar/Apply}" method="post" id = "frm">
                <div class="mb-4">
                  <div class="input-group">
                    <span class="input-group-text">소속</span>
                    <input type="text" class="form-control" th:value="${@codeList.getName(vo.deptCode)}" id="deptcode" name="deptcode" readonly>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="input-group">
                    <span class="input-group-text">이름</span>
                    <input type="text" class="form-control" th:value= "${vo.name}" id="name" name="name" readonly>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="input-group">
                    <span class="input-group-text">생년월일</span>
                    <input type="text" class="form-control" th:value= "${vo.birth}" id="birth" name="birth" readonly>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="input-group">
                    <span class="input-group-text">휴대전화</span>
                    <input type="text" class="form-control" th:value= "${vo.tel}" id="tel" name="tel" readonly>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <span class="input-group-text">계좌정보</span>
                      <span class="input-group-text">은행</span>
                      <div class="col-md-3 col-xl-2">
                        <select class="form-select" id="example-select" name="example-select">
                          <option th:value="${vo.bacc}" th:text="${@codeList.getName(vo.bacc)}"></option>
                          <option value="35">경남은행</option>
                          <option value="29">광주은행</option>
                          <option value="7">국민은행</option>
                          <option value="5">기업은행</option>
                          <option value="15">농협중앙회</option>
                          <option value="17">농협회원조합</option>
                          <option value="25">대구은행</option>
                          <option value="47">도이치은행</option>
                          <option value="27">부산은행</option>
                          <option value="3">산업은행</option>
                          <option value="41">상호저축은행</option>
                          <option value="37">새마을금고</option>
                          <option value="11">수협중앙회</option>
                          <option value="36">신한금융투자</option>
                          <option value="60">신한은행</option>
                          <option value="39">신협중앙회</option>
                          <option value="9">외환은행</option>
                          <option value="19">우리은행</option>
                          <option value="56">우체국</option>
                          <option value="33">전북은행</option>
                          <option value="31">제주은행</option>
                          <option value="68">카카오뱅크</option>
                          <option value="67">케이뱅크</option>
                          <option value="59">하나은행</option>
                          <option value="23">한국씨티은행</option>
                          <option value="45">HSBC은행</option>
                          <option value="21">SC제일은행</option>
                        </select>
                      </div>
                      <span class="input-group-text">계좌 번호</span>
                      <input type="text" class="form-control" th:value ="${vo.bank}" id="bank" name="bank">
                      <span class="input-group-text">예금주</span>
                      <input type="text" class="form-control" th:value ="${vo.name}" id="accname" name="accname">
                    </div>
                  </div>
                </div>
                <br>
                <table class="table table-striped table-vcenter table-bordered">
                  <thead>
                    <tr>
                      <th class="fw-semibold fs-sm" rowspan="2"><input type="radio" name = "schNo" value = "1"><br>학업성적우수장학금</th>
                      <th class="fw-semibold fs-sm">안내사항</th>
                      <td class="fw-semibold fs-sm">직전학기 과락없이 수강신청 기준학점(단, 모든 학부(과)의 최종학기 직전학기는 14학점) 이상 취득하고, 직전학기 학업성적
                        평점평균이 B(3.5) 이상이며 품행이 단정한 자로서 학부(과)장이 추천한 자. 단, 시행에 관한 사항은 별도로 정한다.</td>
                    </tr>
                    <tr>
                      <th class="fw-semibold fs-sm">제출서류</th>
                      <td class="fw-semibold fs-sm">없음</td>
                    </tr>
                    <tr>
                      <th class="fw-semibold fs-sm" rowspan="2"><input type="radio" name = "schNo" value = "2"><br>가족 장학금</th>
                      <th class="fw-semibold fs-sm">안내사항</th>
                      <td class="fw-semibold fs-sm">친가족 2명 이상 본 대학교(학부과정)에 재학하고 있는 자 중 1인에게 지원(단, 모든 학부(과)의 직전학기는 12학점.
                        4학년은 8학점)이상 취득하고, 직전학기 학업성적 평점평균이 C+(2.5)이상 </td>
                    </tr>
                    <tr>
                      <th class="fw-semibold fs-sm">제출서류</th>
                      <td class="fw-semibold fs-sm">가족관계증명서</td>
                    </tr>
                    <tr>
                      <th class="fw-semibold fs-sm" rowspan="2"><input type="radio" name = "schNo" value = "3"><br>교직원가족 장학금</th>
                      <th class="fw-semibold fs-sm">안내사항</th>
                      <td class="fw-semibold fs-sm">대학 교직원 가족 또는 법인 소속 교직원 가족이며, 직전학기 17학점(졸업예정 학생은 12학점) 이상 취득하고, 직전학기
                        학업성적 평점평균이 C(2.0)이상 </td>

                    </tr>
                    <tr>
                      <th class="fw-semibold fs-sm">제출서류</th>
                      <td class="fw-semibold fs-sm">가족관계증명서</td>
                    </tr>


                  </thead>
                  <tbody>
                  </tbody>
                </table>
                <input type="button" id = "applyBtn" onclick="javascript:ScholarApply();" class="btn btn-info" style="margin: 0 auto; display: block;" value="제출">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  let check = 0;
  function ScholarApply(){
	  let header = document.querySelector('meta[name="_csrf_header"]').content;
	  let token = document.querySelector('meta[name="_csrf"]').content;
	  let radios = document.querySelectorAll("[type='radio']")		
	  
	  fetch("ApplyCheck",{
	  			headers: {
	                'header': header,
	              	'X-Requested-With': 'XMLHttpRequest',
	                "Content-Type": "application/json",
	                'X-CSRF-Token': token	// header에 X-CSRF-Token부분에 토큰값이 들어가 정상적으로 POST값이 넘어가는 것을 볼 수 있다!
	            }
	  		}).then(result => result.json())
	  		  .then(result => {
	  			let radios = document.querySelectorAll("[type='radio']")
	  			
			  	check=0;
			  	result.forEach((val,idx)=>{
			  		radios.forEach(radio=>{
			  			if(radio.checked == true){
			  				if(radio.value == val.schNo){
			  					Dialogs.dialog('error', '실패', '동일한장학금은 신청이 불가능합니다.');
			  					check++;
			  					return;
			  				}
			  			}
			  	  	})
			    })
		  if(check == 0){
			  frm.submit();
		  }
	  })
  }  
  
  
  
  </script>
  
  
  </main>
</body>

</html>