
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/scholarAsideLayout}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>장학금 신청 조회</title>

  <style>

    tr {
      text-align: center;
    }

    td {
      text-align: center;
    }
  </style>
</head>

<body>
<main layout:fragment="main">
  <div id="section">

    <div id="page-container">
      <div class="content content-boxed">
        <h3 class="h3 fw-bold mb-2">장학금 신청조회</h3>
        <div class="bg-body-extra-light" style="padding: 10px;">
        <form th:action = "@{/stud/scholarshipApplicationSearch}" method = post>
            <div class="d-flex justify-content-end">
              
	            <div class="col-md-3 col-xl-2">
	              <div class="m-2">
	                  <select class="form-select" id="year" name="year" onchange="this.form.submit()">
	                    <option selected>연도/학기</option>
	                    <option value="108" id = "108">2023년 2학기</option>
	                    <option value="107" id = "107">2023년 1학기</option>
	                    <option value="106" id = "106">2022년 2학기</option>
	                    <option value="105" id = "105">2022년 1학기</option>
	                    <option value="104" id = "104">2021년 1학기</option>
	                    <option value="103" id = "103">2021년 2학기</option>
	                    <option value="102" id = "102">2020년 1학기</option>
	                    <option value="101" id = "101">2020년 2학기</option>
	                  </select>
	              </div>
	            </div>
            </div>
            </form>
          <div class="mb-4">
            <table class="table table-striped table-vcenter">
              <thead>
                  <tr>
                    <th class="d-none d-sm-table-cell" style="width: 120px;">장학년도</th>
                    <th class="d-none d-sm-table-cell" style="width: 100px;">장학명</th>
                    <th class="d-none d-sm-table-cell" style="width: 80px;">접수번호</th>
                    <th class="d-none d-sm-table-cell" style="width: 80px;">학번</th>
                    <th class="d-none d-sm-table-cell" style="width: 80px;">성명</th>
                    <th class="d-none d-sm-table-cell" style="width: 80px;">소속</th>
                    <th class="d-none d-sm-table-cell" style="width: 50px;">학년</th>
                    <th class="d-none d-sm-table-cell" style="width: 80px;">신청상태</th>
                    <th class="d-none d-sm-table-cell" style="width: 200px;">제출서류</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:scope="row" th:each="sch, status : ${list}">
                      <th class="fw-semibold fs-sm" th:text="${@codeList.getName(sch.SEASONCODE)}"></th>
                      <td class="fw-semibold fs-sm" th:text = "${sch.NAME}" ></td>
                      <td class="fw-semibold fs-sm" th:text = "${sch.NO}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sch.STNO}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sch.STUNAME}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(sch.DEPTCODE)}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${sch.SY}"></td>
                      <td class="fw-semibold fs-sm" th:text = "${@codeList.getName(sch.STATECODE)}"></td>
                      
                      <td class="fw-semibold fs-sm filebox">
	                      	<th:block th:if = "${not #strings.isEmpty(sch.FILENAME)}">
	                      	<a th:href="@{/download(fileName=${sch.URI}, originName=${sch.FILENAME}, folder=Scholar)}">[[${sch.FILENAME}]]</a>
	                      	</th:block>
	                      	<th:block th:unless = "${not #strings.isEmpty(sch.FILENAME)}">
	                      		<label for="file" id = "filetag" >파일 없음</label>
	                      	</th:block>
                      </td>
                      
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script th:inline="javascript">
  	 document.addEventListener("DOMContentLoaded", function(){
  		 let selectedYear = /*[[${year}]]*/ 'default';
  		 
  		 
  		 switch(selectedYear){
  		 	case '108':
  		 		$('#108').attr('selected', 'selected')
  		 		break;
  		 	case '107':
  		 		$('#107').attr('selected', 'selected')
  		 		break;
  		 	case '106':
  		 		$('#106').attr('selected', 'selected')
  		 		break;
  		 	case '105':
  		 		$('#105').attr('selected', 'selected')
  		 		break;
  		 	case '104':
  		 		$('#104').attr('selected', 'selected')
  		 		break;
  		 	case '103':
  		 		$('#103').attr('selected', 'selected')
  		 		break;
  		 	case '102':
  		 		$('#102').attr('selected', 'selected')
  		 		break;
  		 	case '101':
  		 		$('#101').attr('selected', 'selected')
  		 		break;
  		 }
  	 })
  
	     	
	</script>
  
  </main>
</body>

</html>