<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layouts/navLayout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<title>등록금 내역 조회</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
	<link rel="stylesheet" id="css-main" th:href="@{/resources/assets/css/oneui.min.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick.css}">
	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/slick-carousel/slick-theme.css}">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<style>
		tr {
			text-align: center;
		}

		p {
			font-weight: bold;
		}

		#tuna {
			font-size: 46px;
			font-weight: 500;
			text-align: center;
		}

		.text {
			font-size: 20px;
			margin-top: 70px;
			vertical-align: middle;
		}

		.text img {
			position: absolute;
			text-align: center;
			top: 30px;
			left: 50px;
			width: 200px;
		}
	</style>

</head>

<body>
	<main layout:fragment="main">
		<!-- Hero -->
		<div class="bg-body-light">
			<div class="content content-full content-boxed">
				<div
					class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
					<div class="flex-grow-1 mb-1 mb-md-0">
						<p class="h3 fw-bold mb-2">등록금 납입 조회</p>
						<p class="h6 fw-medium fw-medium text-muted mb-0 text-gray-dark">등록금 납입 확인서 조회 및 출력</p>
					</div>
				</div>
				<!-- END Hero -->
				<div class="content content-full content-boxed">
					<div class="bg-body-extra-light">
						<div class="p-5">
							<div id="pdf_wrap">
								<h1 style="text-align: center;">등록금 납입 확인서</h1>
								<div class="d-flex justify-content-end">
									<div class="col-md-3 col-xl-2">
										<div class="m-2">
											<select class="form-select" id="seasonCode" name="seasonCode"
												onchange="javascript:submitFnc();">
												<option selected value="">연도/학기</option>
												<option value="108" id="108">2023년 2학기</option>
												<option value="107" id="107">2023년 1학기</option>
												<option value="106" id="106">2022년 2학기</option>
												<option value="105" id="105">2022년 1학기</option>
												<option value="104" id="104">2021년 1학기</option>
												<option value="103" id="103">2021년 2학기</option>
												<option value="102" id="102">2020년 1학기</option>
												<option value="101" id="101">2020년 2학기</option>
											</select>
										</div>
									</div>
								</div>
								<embed height="1000px" width="1150px" target="_self">
								<table class="table table-striped table-vcenter table-bordered mb-5">
									<thead>
										<tr>
											<th class="fw-semibold fs-sm">대학</th>
											<td class="fw-semibold fs-sm" colspan="2">튜나대학교</td>
											<th class="fw-semibold fs-sm">학과</th>
											<td class="fw-semibold fs-sm" colspan="2"><input type="hidden" id="deptCode"
													name="deptCode"
													th:value="${vo.deptCode}">[[${@codeList.getName(vo.deptCode)}]]
											</td>
										</tr>
										<tr>
											<th class="fw-semibold fs-sm">학번</th>
											<td class="fw-semibold fs-sm" id="no">[[${vo.no}]]</td>
											<th class="fw-semibold fs-sm">학년</th>
											<td class="fw-semibold fs-sm">[[${vo.sy}]]</td>
											<th class="fw-semibold fs-sm">성명</th>
											<td class="fw-semibold fs-sm">[[${vo.name}]]</td>

										</tr>
										<tr>
											<th class="fw-semibold fs-sm" rowspan="2">구분</th>
											<th class="fw-semibold fs-sm" rowspan="2">등록금</th>
											<th class="fw-semibold fs-sm" colspan="3">등록금감면내역</th>
											<th class="fw-semibold fs-sm" rowspan="2">실 납부 금액(A-B)</th>
										</tr>
										<tr>
											<th class="fw-semibold fs-sm">교내장학</th>
											<th class="fw-semibold fs-sm">성적우수</th>
											<th class="fw-semibold fs-sm">대학교직원가족</th>
										</tr>
										<tr>
											<th class="fw-semibold fs-sm">수업료</th>
											<td class="fw-semibold fs-sm" id="tuition"></td>
											<td class="fw-semibold fs-sm"></td>
											<td class="fw-semibold fs-sm"></td>
											<td class="fw-semibold fs-sm"></td>
											<td class="fw-semibold fs-sm" id="tuitionSum" rowspan="2"></td>

										</tr>
										<tr>
											<th class="fw-semibold fs-sm">총계</th>
											<td class="fw-semibold fs-sm"></td>
											<td class="fw-semibold fs-sm" id="goodGrade"></td>
											<td class="fw-semibold fs-sm" id="family"></td>
											<td class="fw-semibold fs-sm" id="staffFamily"></td>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>

								<p class="ms-4 mb-4">위 금액을 납부하시길 바랍니다.</p>
								<p class="ms-4 mb-2">납부기간 : <span id="tuitionDate"></span></p>
								<p class="ms-4 mb-2">납부장소 : 대구은행</p>
								<p class="ms-4 mb-4">가상계좌 : 220-13-304766</p>

								<p class="ms-4 mb-0">문의처 : 입학관리 담당자 최규완 (010-XXXX-XXXX)</p>
								<div class="row justify-content-center">
									<img th:src="@{/resources/assets/media/tuna_stamp.png}" style="width:500px;">
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<button id="create_pdf" class="btn btn-secondary">

									<i class="fa fa-file-pdf m-3"></i>PDF
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
		<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
		<script>
			$('#app').on('click', function () {
				window.print();
			})

			$('#create_pdf').click(function () {
				//pdf_wrap을 canvas객체로 변환
				html2canvas($('#pdf_wrap')[0]).then(function (canvas) {
					var doc = new jsPDF('p', 'mm', 'a4'); //jspdf객체 생성
					var imgData = canvas.toDataURL('image/png'); //캔버스를 이미지로 변환
					var imgWidth = 190; // 이미지 가로 길이(mm) / A4 기준 210mm
					var pageHeight = imgWidth * 1.414; // 출력 페이지 세로 길이 계산 A4 기준
					var imgHeight = canvas.height * imgWidth / canvas.width;
					var heightLeft = imgHeight;
					var margin = 10; // 출력 페이지 여백설정
					var doc = new jsPDF('p', 'mm');
					var position = 0;
					doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight); //이미지를 기반으로 pdf생성
					doc.save('tuna_등록금납입확인서.pdf'); //pdf저장
				});
			});
		</script>
		<script th:inline="javascript">
			document.addEventListener("DOMContentLoaded", function () {
				let selectedYear = /*[[${seasonCode}]]*/ 'default';


				switch (selectedYear) {
					case '108':
						$('#108').attr('selected', 'selected')
						break;
					case '107':
						$('#107').attr('selected', 'selected')
						break;
					case '106':
						$('#106').attr('selected', 'selected')
						break;
					case '105':
						$('#105').attr('selected', 'selected')
						break;
					case '104':
						$('#104').attr('selected', 'selected')
						break;
					case '103':
						$('#103').attr('selected', 'selected')
						break;
					case '102':
						$('#102').attr('selected', 'selected')
						break;
					case '101':
						$('#101').attr('selected', 'selected')
						break;
				}
			})
		</script>


		<script>
			function submitFnc() {
				let header = document.querySelector('meta[name="_csrf_header"]').content;
				let token = document.querySelector('meta[name="_csrf"]').content;

				let seasonCode = document.querySelector('#seasonCode');
				seasonCode = seasonCode.options[seasonCode.selectedIndex].value
				let stNo = document.querySelector('#no').innerHTML
				let deptCode = document.querySelector('[name = "deptCode"]').value

				let goodGrade = document.querySelector('#goodGrade');
				let family = document.querySelector('#family');
				let staffFamily = document.querySelector('#staffFamily');

				let tuition = document.querySelector('#tuition');
				let tuitionSum = document.querySelector('#tuitionSum');
				let tuitionDate = document.querySelector('#tuitionDate')
				goodGrade.innerHTML = ''
				tuition.innerHTML = ''
				family.innerHTML = ''
				staffFamily.innerHTML = ''
				tuitionSum.innerHTML = ''
				tuitionDate.innerHTML = ''

				fetch('moneyCheck', {
						method: 'POST',
						headers: {
							'header': header,
							'X-Requested-With': 'XMLHttpRequest',
							"Content-Type": "application/json",
							'X-CSRF-Token': token
						},
						body: JSON.stringify({
							"seasonCode": seasonCode,
							"stNo": stNo,
							"deptCode": deptCode
						})
					}).then(result => result.json())
					.then(result => {
						result.forEach((val, idx) => {

							if (idx == 0) {
								tuition.innerHTML = result[0].AMOUNT + '원';
							}

							if (val.SCHNAME == '성적우수') {
								goodGrade.innerHTML = val.GIVEMONEY + '원'
							} else if (val.SCHNAME == '가족') {
								family.innerHTML = val.GIVEMONEY + '원'
							} else if (val.SCHNAME == '교직원가족') {
								staffFamily.innerHTML = val.GIVEMONEY + '원'
							}


							result[0].AMOUNT -= val.GIVEMONEY;
							if (result[0].AMOUNT < 0) {
								tuitionSum.innerHTML = '0원'
							} else {
								tuitionSum.innerHTML = result[0].AMOUNT;
							}
						})


					})

				fetch('scheduleFind', {
						method: 'POST',
						headers: {
							'header': header,
							'X-Requested-With': 'XMLHttpRequest',
							"Content-Type": "application/json",
							'X-CSRF-Token': token
						},
						body: JSON.stringify({
							"seasonCode": seasonCode
						})
					}).then(result => result.json())
					.then(result => {

						tuitionDate.innerHTML = result.startDate + '~' + result.endDate

					})
			}
		</script>
	</main>


</body>

</html>