<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-layout-decorate="~{layouts/eclassLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>E-Class 교수 홈</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>

      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content">

          <div class="row">

            <div class="col-xxl-8">
              <!-- <div class="row justify-content-between align-items-end pb-3">
                <h2 class="col-10 mb-1">오늘 강의 목록</h2>
                <a class="col-2 text-end" href="javascript:void(0)">더보기</a>
              </div> -->
              <div class="block block-rounded">
                <div class="block-header block-header-default">
                  <h3 class="block-title">강의 목록</h3>
                  <div class="block-options">
                    <a class="btn btn-sm rounded-pill btn-alt-secondary" th:href="@{/eclass/professor/subjectList}">
                      <i class="fa fa-ellipsis"></i>
                    </a>
                  </div>
                </div>
                <div class="block-content p-0">
                  <ul class="nav-items push">
                    <!-- TODO remove id -->
                    <li id="test-li">
                      <a class="d-flex flex-row justify-content-between p-3" th:href="@{/eclass/professor/subject}">
                        
                        <div class="flex-column">
                          <!--19자 제한 (19자 넘으면 19자 부터 ...)-->
                          <div class="fw-bold fs-4">일이삼사오륙칠팔구십일이삼사오륙</div>
                          <div class="ps-2 text-muted">[2022년 1학기]</div>
                        </div>

                        <div class="d-flex flex-column justify-content-around text-gray-darker">
                          <div class="">
                            <span>CLASSNAME0123</span>
                            <span>(TUE)</span>
                            <span>14:00 (3H)</span>
                          </div>
                          <div class="d-flex flex-rows justify-content-around">
                            <div class="">
                              <span>차수 :</span>
                              <span>4 / 16</span>
                            </div>
                            <div class="">
                              <span>수강생 :</span>
                              <span>18</span>
                            </div>
                          </div>
                          
                        </div>
                      </a>
                    </li>

                  </ul>
                </div><!-- block content END -->

              </div>
            </div><!-- 강의목록 END -->

            <div class="col-xxl-4"> <!-- 수강생 문의 -->
              <!-- <div class="row justify-content-between align-items-end pb-3">
                <h2 class="col-9 mb-1">수강생 문의</h2>
                <a class="col-3 text-end" href="javascript:void(0)">더보기</a>
              </div> -->
              <div class="block block-rounded">
                <div class="block-header block-header-default">
                  <h3 class="block-title">수강생 문의</h3>
                  <div class="block-options">
                    <a class="btn btn-sm rounded-pill btn-alt-secondary" th:href="@{/eclass/professor/qnaList}">
                      <i class="fa fa-ellipsis"></i>
                    </a>
                  </div>
                </div>
                <div class="block-content p-0">

                  <table class="js-table-checkable table table-hover table-vcenter">
                    <tbody>
                      <tr>
                        <td class="d-flex justify-content-between">
                          <div>
                            <div><strong>문의제목</strong></div>
                            <div>참치의역사</div>
                          </div>
                          <div class="text-end">
                            <div>07-03 18:45</div>
                            <div data-bs-toggle="modal" data-bs-target="#modal-block-normal">
                              <a class="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title data-bs-original-title="<i class='fa fa-user'></i> 학생정보" 
                              href="javascript:void(0)">
                              강동원 (참치물리학)</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div> <!-- 수강생 문의 END -->

          <div class="col-xxl-12">
            <!-- <div class="row justify-content-between align-items-end pb-3">
              <h2 class="col-10 mb-1">전체 공지</h2>
              <a class="col-2 text-end" href="javascript:void(0)">더보기</a>
            </div> -->
            <div class="block block-rounded table-bordered">
              <div class="block-header block-header-default">
                <h3 class="block-title">전체 공지</h3>
                <div class="block-options">
                  <a class="btn btn-sm rounded-pill btn-alt-secondary" th:href="@{/eclass/professor/noticeList}">
                    <i class="fa fa-ellipsis"></i>
                  </a>
                </div>
              </div>
              <div class="block-content p-0">
                <table class="js-table-checkable table table-hover table-vcenter text-center table-bordered"> 
                  <tbody>
                    <!-- <tr>
                      <th style="width: 100px">번호</th>
                      <th>제목</th>
                      <th style="width: 15%">작성</th>
                      <th style="width: 15%">등록일시</th>
                    </tr> -->
                    <tr class="fw-bold">
                      <td style="width: 100px">1</td>
                      <td class="text-start">내용</td>
                      <td style="width: 15%">참치분해1</td>
                      <td style="width: 15%">2022-07-03</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td class="text-start">내용</td>
                      <td>참치분해2</td>
                      <td>2022-07-03</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td class="text-start">내용</td>
                      <td>참치분해3</td>
                      <td>2022-07-03</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td class="text-start">내용</td>
                      <td>참치분해4</td>
                      <td>2022-07-03</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td class="text-start">내용</td>
                      <td>참치분해5</td>
                      <td>2022-07-03</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div>
        <!-- 모달 리스트 END -->
        
      </main>

      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    <!-- TODO remove test-script-->
    <script>
      let list_ele = document.getElementById('test-li');
      let list = list_ele.parentElement;
      // console.log(list_ele);
      // console.log(list);

      for(i=0; i<4; i++) {
        let li = document.createElement('li');
        li.innerHTML = list_ele.innerHTML;
        list.appendChild(li);
      }
    </script>
  </body>
</html>
