<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>E-Class 공지 수정</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
    <link rel="stylesheet" href="../assets/js/plugins/simplemde/simplemde.min.css">
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <!-- SIDE BAR END -->
      
      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content">
          <h2 class="h3 fw-bold">공지 사항</h2>
          <div class="col-xxl-12">
            <div class="block block-rounded">
              <div class="block-content">
                <form action="" method="POST" onsubmit="return false;">
                  <div class="row mt-2">
                    <label class="col-1 d-none d-xl-block" for="title_input">
                      제목
                    </label>
                    <div class="h4 col-11 mb-1">
                      <input id="title_input" type="text" class="col-11 form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <!-- 내용 입력-->
                      <div class="col-12">
                        <textarea class="js-simplemde" id="simplemde" name="simplemde"></textarea>
                      </div>
                  </div>
                  <hr>
                  <div class="row mb-4">
                    <div class="col-2 text-start">
                      <p>첨부파일</p>
                    </div>
                    <div class="col-10">
                      <div class="dropzone" id="fileDropzone"></div>
                    </div>
                  </div>
                  <div class="row items-push">
                    <div class="col-6">
                      <input class="btn btn-primary col-xl-4 offset-xl-1" type="submit" value="등록">
                    </div>
                  </div>
                </form>
              </div>
            </div> <!-- block end-->
            
          </div> <!-- col-12 end -->

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
        
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    
    <script src="../assets/js/oneui.app.min.js"></script>
    <script src="../assets/js/plugins/simplemde/simplemde.min.js"></script>
    <script src="../assets/js/plugins/dropzone/min/dropzone.min.js"></script>
    <script>
      One.helpersOnLoad(['js-simplemde']);
      //fileDropzone dropzone 설정할 태그의 id로 지정
      Dropzone.options.fileDropzone = {
          url: 'Fileupload', //업로드할 url (ex)컨트롤러)
          init: function () {
              /* 최초 dropzone 설정시 init을 통해 호출 */
              var submitButton = document.querySelector("#btn-upload-file");
              var myDropzone = this; //closure
              submitButton.addEventListener("click", function () {
                  console.log("업로드"); //tell Dropzone to process all queued files
                  myDropzone.processQueue();
              });
          },
          autoProcessQueue: false, // 자동업로드 여부 (true일 경우, 바로 업로드 되어지며, false일 경우, 서버에는 올라가지 않은 상태임 processQueue() 호출시 올라간다.)
          clickable: true, // 클릭가능여부
          thumbnailHeight: 90, // Upload icon size
          thumbnailWidth: 90, // Upload icon size
          maxFiles: 1, // 업로드 파일수
          maxFilesize: 10, // 최대업로드용량 : 10MB
          parallelUploads: 1, // 동시파일업로드 수(이걸 지정한 수 만큼 여러파일을 한번에 컨트롤러에 넘긴다.)
          addRemoveLinks: true, // 삭제버튼 표시 여부
          dictRemoveFile: '삭제', // 삭제버튼 표시 텍스트
          uploadMultiple: false, // 다중업로드 기능
      };
    </script>
  </body>
</html>
