<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>E-Class 전체 공지</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <!-- SIDE BAR END -->
      
      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  제목
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content">
				<div class="row">
					<div class="col-12">
						<h3 class="h3 fw-bold mb-2">전체공지</h3>
					</div>
				</div>
          <div class="col-xxl-12">
            <div class="block block-rounded">
              <div class="block-content">

                <table class="js-table-checkable table table-hover table-vcenter text-center table-bordered"> 
                  <tbody>
                    <tr class="text-center fw-bold bg-dark text-white">
                      <th style="width: 100px">번호</th>
                      <th>제목</th>
                      <th style="width: 15%">작성</th>
                      <th style="width: 15%">등록일시</th>
                    </tr >
                    <tr th:onclick="'window.location.href = \''+ @{/eclass/professor/notice(no=${notice.no})}+ '\''" th:each="notice:${noticeList}">
                      <td th:text="${notice.no}">00</td>
                      <td th:text="${notice.title}" class="text-start">제목데이터 없음</td>
                      <td th:text="${notice.subjectVO.name}">과목 데이터없음</td>
                      <td th:text="${notice.enrollDate}">날짜 없음</td>
                    </tr>
                  </tbody>
                </table>
                <div class = "row">
	                <div class = "col-4 ">
	                	
	                </div>
	                <div class ="col-4 d-flex justify-content-center">
	                	<input type = "button" class = "btn btn-primary m-2" onclick = "location.href = 'noticeForm';" value = "등록">
	                </div>
	             </div>
                <div class = "col-12 d-flex justify-content-end">
	                <nav aria-label="Page navigation">
	                  <ul class="pagination pagination-sm">
	                    
	                    <li class="page-item" th:each="num : ${#numbers.sequence(1,pageCount)}">
	                      <button class="page-link" onclick="javascript:pageBtnClick(this);" style="width:25pt;height:25pt; font-size:16px;" th:text="${num}"></button>
	                    </li>
	                    
	                  </ul>
	                </nav>
	            </div>
              </div>

            </div> <!-- block end-->

          </div> <!-- col-12 end -->

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
        
        
        <th:block th:if = "${(#strings.equals(param.msg, '4'))}">
			<script th:inline="javascript">
				Dialogs.dialog('success', '완료', '삭제가 완료되었습니다.');
			</script>
		</th:block>
		
		<th:block th:if = "${pageNum != null || pageNum != ''}">
			<script th:inline="javascript">
				let btns = document.querySelectorAll('li > button')
				let pageNum = /*[[${param.pageNum}]]*/
				console.log(pageNum)
				btns.forEach(btn=>{
					if(btn.innerHTML == pageNum){
						btn.parentElement.setAttribute("class", "page-item active")
					}
				})
				
			</script>
		</th:block>
		
		<script>
		   function pageBtnClick(e){
			  location.href = 'noticeList?pageNum='+e.innerHTML;
		   }
		</script>
		
        
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    
  </body>
</html>
