<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>E-Class 공지 상세</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
  	<link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <!-- SIDE BAR END -->
      
      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content">
          <h2 class="h3 fw-bold">공지 사항</h2>
          <div class="col-xxl-12">
            <div class="block block-rounded">
              <div class="block-content">
                <!-- <table class="table table-vcenter">
                </table> -->
                <form th:action = @{/eclass/professor/noticeUpdate} method = "post">
                <div class="row mt-2">
                  <div class="col-1 d-none d-xl-block">
                    <p>제목</p>
                  </div>
                  <div class="h4 col-11 mb-1">
                    <p th:text="${notice.title}">제목 데이터가 없습니다</p>
                  </div>
                  <input type = "hidden" th:value = "${notice.no}" name = "no">
                  <input type = "hidden" th:value = "${notice.title}" name = "title">
                </div>
                <div class="d-none d-lg-block">
                  <div class="row">
                    <div class="col-6 d-flex">
                      <div class="text-start" style="width: 80px">작성과목 :</div>
                      <div class="wrap fw-bold me-5" th:text="${notice.subjectVO.name}">과목 데이터가 없습니다</div>
                    </div>
                    <div class="col-6 d-flex">
                      <div class="wrap text-start" style="width: 80px">작성일 :</div>
                      <div class="wrap fw-bold" th:text="${notice.enrollDate}">작성일 데이터가 없습니다!</div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <p class="col-12 px-5" th:utext=${notice.content}>
                    내용 데이터가 없습니다!
                  </p>
                  <input type = "hidden" th:value = "${notice.content}" name = "content">
                </div>
                <hr>
                <div class="ps-3 pb-3 row">
					<input type ="button" class="col-1 me-2 btn btn-primary" onclick = "javascript:noticeDel();" value = "삭제">
					<input type = "submit" class="col-1 me-2 btn btn-dark" value = "수정">
                </div>
                </form>
              </div>
            </div> <!-- block end-->
            
          </div> <!-- col-12 end -->

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
    <script>
    function noticeDel(){
    	Dialogs.dialog('warnConfirm', '해당공지를 삭제 하시겠습니까?', '확인을 누르시면 삭제가 진행 됩니다.', noticeDelete);
    }
    
    function noticeDelete(){
    	let no = document.querySelector("[name = no]").value
    	let header = document.querySelector('meta[name="_csrf_header"]').content;
        let token = document.querySelector('meta[name="_csrf"]').content;

    	
    	fetch('noticeDelete',{
    		method : "POST",
    		 headers: {
                 'header': header,
                 'X-Requested-with': 'XMLHttpRequest',
                 'Content-Type': 'application/json; charset=utf-8',
                 'X-CSRF-Token': token
               },
    		body : JSON.stringify({"no":no})
    	}).then(result => {
    		  location.href = document.referrer
    	})
    }
    	
    
    
    </script>    
        
    <script src="../assets/js/oneui.app.min.js"></script>
        <th:block th:if = "${(success != null && success != '') || (error != null && error != '')}">
		<script th:inline="javascript">
			let success = /*[[${success}]]*/ 'default';
			let error = /*[[${error}]]*/ 'default';
			if (success) {
				Dialogs.dialog('success', '완료', success);
			} else if (error) {
				Dialogs.dialog('error', '실패', error);
			}
		</script>
	</th:block>
        
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    
  </body>
</html>
