<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
  <link rel="stylesheet" th:href="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.css}">
  <script th:src="@{/resources/assets/js/plugins/sweetalert2/sweetalert2.min.js}"></script>
  <script th:src="@{/resources/assets/js/dialog.js}"></script>
   <title>E-Class 공지 수정</title>
    
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <!-- SIDE BAR END -->
      
      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content">
          <h2 class="h3 fw-bold">공지 사항</h2>
          <div class="col-xxl-12">
            <div class="block block-rounded">
              <div class="block-content">
                <form th:action="@{/eclass/professor/updateNotice}" method="POST" id = "frm">
                  <div class="row mt-2">
                    <label class="col-1 d-none d-xl-block" for="title_input">
                      제목
                    </label>
                    <div class="h4 col-11 mb-1">
                       <input type = "hidden" th:value = "${notice.no}" name = "no">
                      <input id="title_input" name = "title" type="text" class="col-11 form-control" th:value = "${notice.title}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <!-- 내용 입력-->
                      <div class="col-12">
                        <textarea name="content" id="ckfinder">[[${notice.content}]]</textarea>
                      </div>
                  </div>
                  <hr>
                  
                  <div class="row items-push">
                    <div class="col-6">
                      <input class="btn btn-primary col-xl-4 offset-xl-1" id= "nBtn" type="button" value="수정">
                    </div>
                  </div>
                </form>
              </div>
            </div> <!-- block end-->
            
          </div> <!-- col-12 end -->

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
        
      
<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    <script
			th:src="@{/resources/assets/js/plugins/ckeditor5-tuna/build/ckeditor.js}"></script>
    <script>
    
    let header = document.querySelector('meta[name="_csrf_header"]').content;
    let token = document.querySelector('meta[name="_csrf"]').content;
	
	    document.addEventListener('DOMContentLoaded', function() {
			ckfinder();
			
			let nBtn = document.querySelector('#nBtn')
            let title = document.querySelector('#title_input')
            nBtn.addEventListener('click', function(){
          	  
        	  if(window.editor.getData() == "") {
        	    Dialogs.dialog('error', '실패', '내용을 입력 해주세요.');
                window.editor.editing.view.focus(); 
                return;
              } 
          	  
          	  if(title.value == '' || title.value == null){
          		  Dialogs.dialog('error', '실패', '제목을 입력 해주세요.');
          		  return;
          	  }
          	  
          	  frm.submit();
          	  
            })
			
	    })
      
      function ckfinder() {
          let ckfinder = document.querySelector('#ckfinder');

          if (ckfinder) {
            ClassicEditor
              .create(document.querySelector('#ckfinder'),         		
              		{   
              			language:'ko',
              			ckfinder:{
              				uploadUrl : getContextPath() + 'ckImage?_csrf=' + token
              			},
              			image: {
            			      styles: [ "alignLeft", "alignCenter", "alignRight"],      
            			      toolbar: [
            			        "imageStyle:alignLeft",
            			        "imageStyle:alignCenter",
            			        "imageStyle:alignRight",
            			        "|",
            			        "imageTextAlternative",

            			      ]
            			 }           			

              		})
              .then(editor => {
                window.editor = editor;
              })
              .catch(error => {
                console.error('There was a problem initializing the classic editor.', error);
              });
          }
          
     
      }
      function getContextPath() {
			var pathName = window.location.pathname.substring(1);
			var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
			var path_root = window.location.protocol + '//' + window.location.host + '/' + webName + '/';
			return path_root;
		}
    </script>
    </main>
    </div>
    
  </body>
</html>
