<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
    <title>E-Class 전체 문의</title>
  <style>
/* 	  table tr td {
		text-overflow : ellipsis;
		overflow : hidden;
		white-space : nowrap;
		max-width : 200px;
	  } */
  </style>
  </head>
  <body>
      <main id="main-container" layout:fragment="main">
        <div class="content">
		   <h3 class="h3 fw-bold">전체 문의</h3>
           <div class="block block-rounded" style="min-height:500px">
             <table class="table table-hover table-vcenter scroll-table m-0">
               <thead>
                 <tr class="text-center fw-bold">
                   <th style="width: 80px" >번호</th>
                   <th >제목</th>
                   <th style="width: 15%" >과목명</th>
                   <th style="width: 15%" >작성자</th>
                   <th style="width: 15%" >작성일자</th>
                 </tr>
               </thead>
               <tbody>
	               <th:block th:each = "qna : ${qnaList}">
	                 <tr onclick="qnaDetail(this)">
	                   <td class="text-center" th:text = "${qna.no}"></td>
	                   <td class="text-start" th:text = "${qna.title}"></td>
	                   <td th:text = "${qna.subjectVO.name}"></td>
	                   <td th:text = "${qna.studentVO.name}"></td>
	                   <td style="width: 15%" th:text = "${qna.enrollDate}"></td>
	                 </tr>
	               </th:block>
               </tbody>
             </table>
          </div> <!-- col-12 end -->
          <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item">
              <button class="page-link" onclick="javascript:pageBtnClick(this);" style="width:25pt;height:25pt; font-size:16px;">1</button>
            </li>
          </ul>
			
        </div> <!-- content END -->
		<th:block th:if = "${pageNum != null || pageNum != ''}">
			<script th:inline="javascript">
				let btns = document.querySelectorAll('li > button')
				let pageNum = /*[[${param.pageNum}]]*/
				btns.forEach(btn=>{
					if(btn.innerHTML == pageNum){
						btn.parentElement.setAttribute("class", "page-item active")
					}
				})
				
			</script>
		</th:block>
		<script>
		function pageBtnClick(e){
			location.href = 'qnaList?pageNum='+e.innerHTML;
		}
		
		function qnaDetail(e){
			location.href = 'qna?no='+e.children[0].innerHTML;
		}
		
		</script>
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    
  </body>
</html>
