<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>E-Class 전체 강의</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <!-- SIDE BAR END -->
      
      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  제목
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content" hidden="true">
          <h2 class="h3 fw-bold">전체 강의</h2>
          
          <div th:if="${not #lists.isEmpty(subList)}">

            <!-- block start -->
            <a th:each="sub : $(subList)"
             class="block block-rounded block-link-pop border-start border-primary border-4" th:href="@{/eclass/professor/subject}">
              <div class="block-header block-header-default">
                <h3 class="block-title" th:text="${sub.name}"> 데이터없음 <small th:text="${'['+@codeList.getName(sub.seasoncode)+']'}">[데이터없음]</small></h3>
              </div>
              <div class="block-content">
                <div class="row">
                  <div class="col-6">
                    <p>
                      수강생: <span th:text="${sub.student_count}">데이터없음</span>명 <br>
                      학점: <span th:text="${sub.point}">데이터없음</span> <br>
                      주차: <span>데이터없음</span> <br>
                      기간: <span>데이터없음</span> <br>
                    </p>
                  </div>
                  <div class="col-6">
                    <p>
                      문의: <span th:text="${sub.qna_count}">데이터없음</span> <br>
                      장소: <span th:text="${@codeList.getName(sub.roomcode)}">데이터없음</span><br>
                      시간: <span></span>(수) 14:00~18:00
                    </p>
                  </div>
                </div>
              </div>
  
            </a> <!-- block end-->
          </div>
          
        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div>
        <!-- 모달 리스트 END -->
        
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    
    <script src="../assets/js/oneui.app.min.js"></script>
  </body>
</html>
