<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layouts/eclassProfLayout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <title>E-Class 강의 정보 입력</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" id="css-main" href="../assets/css/oneui.min.css" />
    <link rel="stylesheet" href="../assets/js/plugins/simplemde/simplemde.min.css">
  </head>
  <body>

    <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">
      <div id="page-overlay"></div>

      <aside id="side-overlay">
        <div class="content-header">
        </div>
        <div class="content-side">
        </div>
      </aside>

      <!--
███████ ██ ██████  ███████     ██████   █████  ██████  
██      ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██   ██ █████       ██████  ███████ ██████  
     ██ ██ ██   ██ ██          ██   ██ ██   ██ ██   ██ 
███████ ██ ██████  ███████     ██████  ██   ██ ██   ██ 
      -->
      <nav id="sidebar" aria-label="Main Navigation">
        <div class="content-header">

        </div>
        <div class="js-sidebar-scroll">
        </div>
      </nav>
      <!-- SIDE BAR END -->
      
      <!--
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██                                     
      -->
      <header id="page-header">
        <div class="content-header">page-header</div>
      </header>
      <!--HEADER END-->

<!--
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██    
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██ 
-->
      <main id="main-container" layout:fragment="main">
        <!-- <div class="bg-body-light">
          <div class="content content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
              <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                  Main
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                  E-class 홈 화면 입니다.
                </h2>
              </div>
            </div>
          </div>
        </div> content header END -->

        <div class="content">
          <div class="col-xxl-12">
            <h3 class="h3 fw-bold ms-3">
              강의 정보 입력
            </h3>
            <div class="row">
              <div class="col-xxl-3">
                <div class="block block-rounded">
                  <div class="block-content">
                    <div>
                      [<span th:text="${@codeList.getName(subject.seasonCode)}">학기 데이터 없음</span>]</div>
                      <hr>
                    <th:block th:each="schedule:${subject.lectureScheduleList}">
                    <div>(<span th:text="${schedule.dayCode}"></span>)<span th:text="${schedule.timeCode}"></span></div>
                    </th:block>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-9">
                <div class="block block-rounded">
                  <div class="block-content">
                    <div class="row">
                      <p class="col-xxl-2">강의 명</p>
                      <div class="col fw-bold" th:text="${subject.name}" >데이터 없음</div>
                    </div>
                    <!-- 
                    <div class="row">
                      <p class="col-xxl-2">강의 주제 및 방향</p>
                      <div class="col">
                        <textarea class="js-maxlength form-control js-maxlength-enabled" id="example-maxlength10" name="example-maxlength10" rows="5" maxlength="100" placeholder="" data-always-show="true"></textarea>
                      </div>
                    </div> -->
                    <hr>
                    <div class="row">
                      <p class="col-xxl-2">평가기준</p>
                      <div class="col-xxl-12">
                        <div class="row">
                          
                          <div class="col-lg-3">
                          	<label for="atten-ratio">출결</label>
                            <input id="atten-ratio" class="form-control" name="atten" type="number"
                            th:value="${subject.gradeRatioVO.attd}">
                          </div>
                          <div class="col-lg-3">
                          	<label class="col" for="middle-ratio">중간</label>
                            <input id="middle-ratio"class="form-control" name="middle" type="number"
                            th:value="${subject.gradeRatioVO.middle}">
                          </div>
                          <div class="col-lg-3">
                          	<label class="col" for="final-ratio">기말</label>
                            <input id="final-ratio" class="form-control" name="final" type="number"
                            th:value="${subject.gradeRatioVO.finals}"
                            >
                          </div>
                          <div class="col-lg-3">
                          	<label class="col" for="task-ratio">과제</label>
                            <input id="task-ratio" class="form-control" name="task" type="number"
                            th:value="${subject.gradeRatioVO.task}">
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-10 offset-1 pb-2 col-xxl-2 offset-xxl-10">
                            <button class="col-12 btn btn-primary"
                              onclick="updateSubject()">적용</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- block END-->
              </div>
            </div> <!-- row END-->
            <div class="row">
              <div class="col-12">
                <div class="block block-rounded block-themed">
                  <div class="block-header bg-primary-darker">
                    <div class="block-title">
                      주차별 강의 내용
                    </div>
                  </div>
                  <div class="block-content">
                    <table class="table table-hover table-vcenter text-center">
                      <thead class="">
                        <tr>
                          <th style="width: 10%;">차시</th>
                          <th>강의주제 및 강의내용</th>
                        </tr>
                      </thead>
                      <tbody th:each="plan:${subject.lecturePlanList}">
                        <tr>
                          <td th:text="${plan.wkCode}-1200">??</td>
                          <td>
                            <input th:id="'plan-text-'+${plan.no}" class="form-control plan-text" type="text" th:value="${plan.summary}">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-10 offset-1 pb-2 col-xxl-2 offset-xxl-10">
                        <button class="col-12 btn btn-primary"
                          onclick="updateSubject()">적용</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- col-12 end -->

        </div> <!-- content END -->

        <!-- 모달 리스트 -->
        <!-- <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              Hello
            </div>
          </div>
        </div> -->
        <!-- 모달 리스트 END -->
        <script>
          let url = new URL(window.location.href);
          let params = new URLSearchParams(url.searchParams);
          let sbjno = params.get('no'); // 파라미터

          let header = document.querySelector('meta[name="_csrf_header"]').content;
          let token = document.querySelector('meta[name="_csrf"]').content;

          // 로드 이벤트
          window.addEventListener("DOMContentLoaded", function() {
            
          })

          function updateSubject() {
            console.log("적용!");
            let attend = document.getElementById("atten-ratio");
            let middle = document.getElementById("middle-ratio");
            let final = document.getElementById("final-ratio");
            let task = document.getElementById("task-ratio");
            let plans = document.getElementsByClassName("plan-text");
            let plansList = [];

            // console.log(attend.value);
            // console.log(middle.value);
            // console.log(final.value);
            // console.log(task.value);
            // console.log(plans);

            for (let planEle of plans) {
              //plansValue.set(plan.id.slice("plan-text-".length), plan.value);
              //plansValue[plan.id.slice("plan-text-".length)] = plan.value;
              let plan = {
                no: planEle.id.slice("plan-text-".length),
                summary: planEle.value
              }
              plansList.push(plan);
            }

            let obj = {
              gradeRatio: {
                no: sbjno,
                attd: attend.value,
                middle: middle.value,
                finals: final.value,
                task: task.value
              },
              plans: plansList
            }
            // console.log(obj);
            // console.log(JSON.stringify(obj));

            fetch("/tuna/professor/updateSubject", {
                method: "POST",
                headers: {
                  'header': header,
                  'X-Requested-With': 'XMLHttpRequest',
                  'Content-Type': 'application/json',
                  'X-CSRF-Token': token
                },
                body: JSON.stringify(obj)
              })
              .then(result => result.json())
              .then(result => {
                console.log(result);
              })
              .catch((err) => {
                console.error('fetch 오류', err);

              })
          }
          
        </script>
      </main>

<!--
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
-->
      <!-- <footer id="page-footer" class="bg-flat-lighter">
        <div class="content">footer</div>
      </footer> -->
    </div>
    <script src="../assets/js/oneui.app.min.js"></script>
    <script src="../assets/js/plugins/simplemde/simplemde.min.js"></script>
    <script>One.helpersOnLoad(['js-simplemde']);</script>
  </body>
</html>
